
<div class="flex justify-end">
    <button class="mr-10" mat-flat-button color="primary" routerLink="/students/addPatient">
        <i class="fas fa-user-plus"></i>  
        Nuevo Paciente
    </button>
</div>

<app-tabla-data
  [titulo]="title"
  [columns]="columnas"
  [data]="patientsList"
  (pageSizeChange)="onPageSizeChange($event)"
  (action)="onAction($event)">
</app-tabla-data>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>example</mat-label>
    <input matInput/>
  </mat-form-field>    
  <section class="example-section">
    <mat-checkbox class="example-margin" [(ngModel)]="isChecked" (change)="check($event)">Check!</mat-checkbox>
  </section>
  @if (isChecked) {
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Ampliar Respuesta</mat-label>
      <input matInput />
    </mat-form-field>
  }
</div>
