<div class="mx-8 pb-8">
    <form [formGroup]="formGroup" (click)="sendData()">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-6">
        @for (field of noPathologicalPersonData; track $index) {
        <app-field-component
          [field]="field"
          [formGroup]="formGroup"
          [errors]="field.errorMessages"
        >
        </app-field-component>
        }
      </div>
      <div class="button-container">
        <div></div>
        <button type="submit" mat-button matStepperNext>
          SIGUIENTE <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </div>
    </form>
  </div>
  