<br>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 bg-white">
    <mat-tab label="FICHA DE IDENTIFICACIÓN">
        <app-history-identification-file></app-history-identification-file>
    </mat-tab>
    <mat-tab label="SIGNOS VITALES">
        <app-history-vital-sings></app-history-vital-sings>
    </mat-tab>
    <mat-tab label="ANTECEDENTES PERSONALES FAMILIARES falta">
        <app-history-family-history></app-history-family-history>
    </mat-tab>
    <mat-tab label="INTERROGATORIO POR APARATOS Y SISTEMAS">
        <app-history-interrogation-divices-systems></app-history-interrogation-divices-systems>
    </mat-tab>
</mat-tab-group>