<br>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 bg-white">
    <mat-tab label="FICHA DE IDENTIFICACIÓN">
        <app-identification-file></app-identification-file>
    </mat-tab>
    <mat-tab label="SIGNOS VITALES">
        <app-vital-sings></app-vital-sings>
    </mat-tab>
    <mat-tab label="ANTECEDENTES PERSONALES FAMILIARES">
        <app-family-history></app-family-history>
    </mat-tab>
    <mat-tab label="INTERROGATORIO POR APARATOS Y SISTEMAS">
        <app-interrogation-divices-systems></app-interrogation-divices-systems>
    </mat-tab>
    <mat-tab label="PADECIMIENTO ACTUAL">
        <app-current-condition></app-current-condition>
    </mat-tab>
</mat-tab-group>