/* Estilos del Header utilizando variables globales */

.header-container {
    background-color: var(--secondary);
    border-bottom: 1px solid rgba(var(--on-secondary-rgb), 0.5);
  
    .header-left {
      .menu-button {
        color: var(--on-secondary);
      }
  
      .search-input {
        background-color: var(--background);
        color: var(--on-background);
        border-color: var(--primary-container);
      }
    }
  
    .header-right {
      .theme-toggle-button,
      .user-button {
        color: var(--on-secondary);
        &:focus {
          color: var(--primary);
        }
      }
  
      .user-button {
        &:hover {
          color: var(--on-secondary);
        }
      }
  
      .menu-button {
        color: var(--on-primary);
      }
    }
  }
  
  