<div class="header-container  flex items-center justify-between h-16 ">
  <!-- Sección izquierda con botón de menú y campo de búsqueda -->
  <div class="header-left flex items-center px-4">
    <button (click)="toggleSidebar()" class="menu-button focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <!-- Sección derecha con otro botón (posiblemente para alguna acción específica) -->
  <div class="header-right flex items-center pr-4">
    <button (click)="toggleTheme()" class="theme-toggle-button" [attr.aria-label]="themeService.isDarkTheme ? 'Activar modo claro' : 'Activar modo oscuro'">
      <img 
        src="assets/icons/sol.png" 
        alt="Tema claro" 
        class="icon" 
        [class.enter]="!themeService.isDarkTheme"
        [class.exit]="themeService.isDarkTheme"
      />
      <img 
        src="assets/icons/luna.png" 
        alt="Tema oscuro" 
        class="icon" 
        [class.enter]="themeService.isDarkTheme"
        [class.exit]="!themeService.isDarkTheme"
      />
    </button>

   
  </div>
</div>
