@if (loading) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (_ of [1,2,3,4,5]; track $index) {
        <div class="animate-pulse bg-gray-200 rounded-lg h-32"></div>
      }
    </div>
  } @else {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mt-6">
      <!-- Total Groups -->
      <app-dashboard-card
        class="transform transition-all duration-300 hover:scale-105"
        title="Grupos"
        icon="fas fa-users"
        cardType="numeric"
        [value]="stats.totalGroups || 0"
        [colorBar]="'bg-blue-500'"
      ></app-dashboard-card>
  
      <!-- Total Students -->
      <app-dashboard-card
        class="transform transition-all duration-300 hover:scale-105"
        title="Estudiantes"
        icon="fas fa-user-graduate"
        cardType="numeric"
        [value]="stats.totalStudents || 0"
        [colorBar]="'bg-blue-500'"
      ></app-dashboard-card>
    </div>
  }
  