

<div class="relative overflow-x-auto shadow-md sm:rounded-lg gap-4 mt-4 mb-16 mr-4 ml-4">
    <table class="w-full text-sm text-left rtl:text-right text-black-500 dark:text-black">
        <thead class="text-xs text-black uppercase bg-gray-50 dark:bg-white-700 dark:text-black">
            <tr>
                
                <th scope="col" class="px-6 py-3">
                    Respuesta
                </th>
                <th scope="col" class="px-6 py-3">
                    Si/No
                </th>
                <th scope="col" class="px-6 py-3">
                    Ampliar respuesta
                </th>
            </tr>
        </thead>
        <tbody>
            @for (item of questionsPathologicalPersonData; track $index) {
                <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                    <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                        {{item.question}}
                    </th>                
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
                <td>
                    <input class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br>
    <div class="mx-4">
        <form>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 gap-4 mt-4 mb-16">
            @for (item of getOpenQuestionsPhatologicalData; track $index) {
                <div class="relative flex-grow w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">{{item.question}}</label>
                    <input type="text" class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                  </div>
            }        
          </div>
          
        </form>
    </div>
     
      
</div>
<div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
    <button (click)="sendData();" mat-raised-button color="primary">Siguiente</button>
  </div>
