.custom-dialog{
    background-color: var(--on-primary);
}

.title-container {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
}

.custom-text-theme{
    color: var(--text);
}

button{
    background-color: var(--tertiary);
    color: var(--white-color);
}

.custom-text{
    color: var(--on-background);
}