<mat-card-title>
    <div class="title-container">
      <span><strong>Crear tratamiento</strong></span>
      <span (click)="closeDialog()" class="close-btn cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>
  </mat-card-title>

<div class="p-4 custom-dialog">
  <div class="flex justify-center">
    <mat-form-field class="mx-2 w-full">
      <mat-label>Tratamiento</mat-label>
      <mat-select>
        @for (item of treatmentData; track item.idTreatment) {
          <mat-option [value]="item">{{item.clinicalHistoryCatalogName}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="mx-2 w-full">
      <mat-label>Periodo</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
      @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
      }
      @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="mx-2 custom-dialog flex justify-end">
    <button mat-button>Crear tratamiento</button>
  </div>
</div>


