<mat-card-title>
  <div class="title-container">
    <span><strong>{{ isEditMode ? 'Editar' : 'Crear' }} tratamiento</strong></span>
    <span (click)="closeDialog()" class="close-btn cursor-pointer">
      <i class="fas fa-times"></i>
    </span>
  </div>
</mat-card-title>

<div class="p-4 custom-dialog">
  <!-- Selección de tratamiento -->
    <mat-form-field class="p-2 w-full">
      <mat-label>Tratamiento</mat-label>
      <mat-select [formControl]="treatmentControl" 
                  (selectionChange)="onTreatmentSelected($event)"
                  [disabled]="isEditMode">
        @for (item of treatmentData; track item.idTreatment) {
        <mat-option [value]="item">{{item.name}}</mat-option>
        }
      </mat-select>
      @if (treatmentControl.invalid && treatmentControl.touched) {
        <mat-error>Seleccione un tratamiento</mat-error>
      }
    </mat-form-field>

    <!-- Fechas -->
    <div class="flex justify-center">
      <!-- Fecha de inicio -->
      <mat-form-field class="mx-2 w-full">
        <mat-label>Fecha inicio</mat-label>
        <input matInput [matDatepicker]="startPicker" 
              [formControl]="startDateControl"
              [disabled]="isEditMode">
        <mat-datepicker-toggle matIconSuffix [for]="startPicker" [disabled]="isEditMode"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        @if (startDateControl.invalid && startDateControl.touched) {
          <mat-error>Ingrese una fecha válida</mat-error>
        }
      </mat-form-field>

      <!-- Fecha final -->
      <mat-form-field class="mx-2 w-full">
        <mat-label>Fecha final</mat-label>
        <input matInput [matDatepicker]="endPicker" [formControl]="endDateControl">
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        @if (endDateControl.invalid && endDateControl.touched) {
          <mat-error>Ingrese una fecha válida</mat-error>
        }
      </mat-form-field>
    </div>

  <!-- Selector de dientes (condicional) -->
  @if (selectedTreatmentsName == 'Diente') {
    <mat-form-field class="p-2 w-full" [class.mat-form-field-invalid]="itemTeeth.invalid && itemTeeth.touched">
      <mat-label>Órganos dentarios</mat-label>
      <mat-select [formControl]="itemTeeth" multiple class="teeth-multiselect">
        <!-- Mostrar primero los dientes seleccionados -->
        @for (item of selectedTeeth; track item.idTooth) {
          <mat-option [value]="toothToOption(item)">{{item.idTooth}}</mat-option>
        }
        
        <!-- Mostrar los dientes disponibles que no están seleccionados -->
        @for (item of availableTeeth; track item.idTooth) {
          <mat-option [value]="toothToOption(item)">{{item.idTooth}}</mat-option>
        }
      </mat-select>
      @if (itemTeeth.invalid && itemTeeth.touched) {
        <mat-error>Seleccione al menos un diente</mat-error>
      }
    </mat-form-field>
  } 

  <mat-form-field class="p-2 w-full">
    <mat-label>Asignar profesor</mat-label>
    <mat-select [formControl]="professorControl"> <!-- Asegúrate de tener este FormControl definido -->
      @for (professor of professorAreasData?.content; track $index) {
        <mat-option [value]="professor.idProfessorClinicalArea">{{professor.professorName}}</mat-option>
      }
    </mat-select>
    @if (professorControl.invalid && professorControl.touched) {
        <mat-error>Seleccione un profesor</mat-error>
    }
  </mat-form-field>

  <!-- Botón de acción -->

  <mat-dialog-actions align="end" style="gap: 8px">
    <button mat-stroked-button (click)="cancel()">Cancelar</button>
    <button mat-button class="button-custom" (click)="saveTreatment()">{{ isEditMode ? 'Actualizar' : 'Crear' }} tratamiento</button>
  </mat-dialog-actions>
</div>