.custom-dialog {
    background-color: var(--on-primary);
    color: var(--white-color);
}

.button-custom {
    background-color: var(--tertiary);
    color: var(--white-color);
}

.title-container {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
}

.custom-text-theme {
    color: var(--text);
}

.custom-text {
    color: var(--on-background);
}

.teeth-multiselect {
    .mat-mdc-select-panel {
        background: transparent;

        .mat-mdc-option {
            color: var(--on-background);
        }
    }

    background-color: transparent;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

mat-error{
    color: var(--input-error);
}