<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="El periodo es requerido">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Periodo</ng-template>
      <div class="custom">
        <mat-form-field>
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startDate">
          <mat-hint>mes/dia/año</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha Final</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="endDate">
          <mat-hint>mes/dia/año</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Semestre</mat-label>
          <mat-select formControlName="semester">
            @for (item of cycle; track item) {
              <mat-option [value]="item.id">{{item.cycleName}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-container">
        <div></div>
        <button mat-flat-button color="primary" matStepperNext (click)="sendStudents()">SIGUIENTE <i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Es necesario adjuntar excel">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Cargar Archivo</ng-template>
      <br>
      <div class="custom">
        <input
        type="file"
        formControlName="fileStudent"
        accept=".xls, .xlsx"
        required
      />
      </div>
      <div class="button-container">
        <button mat-flat-button color="primary" matStepperPrevious><i class="fas fa-long-arrow-alt-left"></i> ANTERIOR</button>
        <button mat-flat-button color="primary" matStepperNext>SUBIR <i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </form>
  </mat-step>
</mat-stepper>