    
<mat-card class="full-width-card">
  <mat-card-title><strong>Cargar Alumnos</strong></mat-card-title>
</mat-card>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Semestre Actual">
    <div class="custom-message">
      <p>No hay un semestre activo en este momento. Por favor, ve a la pestaña <strong>Crear Ciclo</strong> para configurar uno nuevo.</p>
    </div>
  </mat-tab>
  <mat-tab label="Crear Ciclo">
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" errorMessage="El periodo es requerido" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Periodo</ng-template>
          <div class="custom">
            <mat-form-field>
              <mat-label>Fecha Inicio</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="startDate">
              <mat-hint class="custom-hint">Mes/Dia/Año</mat-hint>          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Fecha Final</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="endDate">
              <mat-hint class="custom-hint">Mes/Dia/Año</mat-hint>          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Semestre</mat-label>
              <mat-select formControlName="semester">
                @for (item of cycle; track item) {
                  <mat-option [value]="item.id">{{item.cycleName}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="button-container">
            <div></div>
            <button mat-flat-button color="primary" matStepperNext (click)="sendStudents()">SIGUIENTE <i class="fas fa-long-arrow-alt-right"></i></button>
          </div>
        </form>
      </mat-step>
    
      <mat-step [stepControl]="secondFormGroup" errorMessage="Es necesario adjuntar excel" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Cargar Archivo</ng-template>
          <br>
          <div class="custom">
            <input
              type="file"
              formControlName="fileStudent"
              accept=".xls, .xlsx"
              (change)="onFileSelected($event)"
              required
            />
          </div>
          <div class="button-container">
            <button mat-flat-button color="primary" matStepperPrevious><i class="fas fa-long-arrow-alt-left"></i> ANTERIOR</button>
            <button mat-flat-button color="primary" matStepperNext (click)="sendFile()">SUBIR <i class="fas fa-long-arrow-alt-right"></i></button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </mat-tab>
</mat-tab-group>


<app-loading/>