<div class="mx-4">
    <form>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4 mb-16">
        <!-- Motivo de la consulta -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Motivo de la consulta</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Padecimiento actual -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Padecimiento actual</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- ¿Goza usted de buena salud? -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Goza usted de buena salud?</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Ocupacion -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Está siendo atendido actualmente
            por un médico? si es asi porque</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Fecha de su último examen físico -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Fecha de su último examen
            físico</label>
          <input type="date"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- toma de medicamentos -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Está recibiendo en este momento
            cualquier tipo de medicación? si es asi cuales</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Medicamento que no pueda tomar -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Hay alguna medicina que usted no
            pueda tomar?</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Reacción alergica .: -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Alguna vez ha sufrido una reacción
            inusual a una droga/medicamento?</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- problemas con anestesia local -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Ha tenido complicaciones con la
            anestesia local?</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Enfermedad infecciosa -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Padece alguna enfermedad
            infecciosa? (Fiebre reumática, hepatitis, paludismo,
            sífilis)</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Ataques epilepticos -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">¿Ataques epilépticos?</label>
          <input type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <!-- Meses de embarazo -->
        <div class="relative flex-grow w-full">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">
            ¿En caso de ser mujer, está embarazada?
          </label>
          <div class="flex items-center">
            <input type="checkbox" class="mr-2 h-5 w-5 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
            <span class="text-sm text-gray-500">Sí</span>
          </div>
          <div class="mt-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Mes de embarazo:</label>
            <input type="number" min="1" max="9" placeholder="Mes de embarazo"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          </div>
        </div>
      </div>
  
  
      <div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
        <button mat-raised-button color="primary">Siguiente</button>
      </div>
    </form>
  </div>