<mat-card>
  <mat-card-title>
    <div class="title-container">
      <span><strong>Nueva sesión Profilaxis</strong></span>
      <mat-icon matListItemIcon (click)="closeDialog()">close</mat-icon>
    </div>
  </mat-card-title>
</mat-card>
<div class="quadrant-container p-4">
  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 1); track tooth.idTooth) {
    <div class="figure-wrapper">
      <div class="button-container">
        @if (toothDisabled[tooth.idTooth]) {
        <button
          title="Diente no presente"
          class="removeButton"
          (click)="deleteTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          -
        </button>
        } @else {
        <button
          title="Diente presente"
          class="addButton"
          (click)="restoreTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          +
        </button>
        }
      </div>

      @if (toothDisabled[tooth.idTooth]) {
      <svg
        width="35"
        height="35"
        xmlns="http://www.w3.org/2000/svg"
        class="svg-figure"
        [class.deactivated]="toothDeactivated[tooth.idTooth]"
      >
        <rect
          width="35"
          height="35"
          fill="none"
          stroke="var(--text)"
          stroke-width="2"
        />

        <!-- Cara 1 -->
        <polygon
          points="0,0 17.5,17.5 0,35"
          [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-1')
          "
        />

        <!-- Cara 2 -->
        <polygon
          points="35,0 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-2')
          "
        />

        <!-- Cara 3 -->
        <polygon
          points="0,35 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-3')
          "
        />

        <!-- Cara 4 -->
        <polygon
          points="0,0 17.5,17.5 35,0"
          [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-4')
          "
        />

        @if (showTriangle[tooth.idTooth]) {
        <polygon
          points="17.5,5 35,25 0,25"
          stroke="red"
          fill="transparent"
          stroke-width="2"
        />
        }
      </svg>
      }

      <p>{{ tooth.idTooth }}</p>

      @if (toothDisabled[tooth.idTooth]) {
      <button
        class="icon-button"
        title="Diente extraido"
        (click)="deactivateTooth(tooth.idTooth)"
      >
        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
          <polygon
            points="6,1 11,11 1,11"
            fill="none"
            stroke="var(--text)"
            stroke-width="1"
          />
        </svg>
      </button>
      }
    </div>
    }
  </div>

  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 2); track tooth.idTooth) {
    <div class="figure-wrapper">
      <div class="button-container">
        @if (toothDisabled[tooth.idTooth]) {
        <button
          title="Diente no presente"
          class="removeButton"
          (click)="deleteTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          -
        </button>
        } @else {
        <button
          title="Diente presente"
          class="addButton"
          (click)="restoreTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          +
        </button>
        }
      </div>

      @if (toothDisabled[tooth.idTooth]) {
      <svg
        width="35"
        height="35"
        xmlns="http://www.w3.org/2000/svg"
        class="svg-figure"
        [class.deactivated]="toothDeactivated[tooth.idTooth]"
      >
        <rect
          width="35"
          height="35"
          fill="none"
          stroke="var(--text)"
          stroke-width="2"
        />

        <!-- Cara 1 -->
        <polygon
          points="0,0 17.5,17.5 0,35"
          [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-1')
          "
        />

        <!-- Cara 2 -->
        <polygon
          points="35,0 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-2')
          "
        />

        <!-- Cara 3 -->
        <polygon
          points="0,35 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-3')
          "
        />

        <!-- Cara 4 -->
        <polygon
          points="0,0 17.5,17.5 35,0"
          [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-4')
          "
        />

        @if (showTriangle[tooth.idTooth]) {
        <polygon
          points="17.5,5 35,25 0,25"
          stroke="red"
          fill="transparent"
          stroke-width="2"
        />
        }
      </svg>
      }

      <p>{{ tooth.idTooth }}</p>

      @if (toothDisabled[tooth.idTooth]) {
      <button
        class="icon-button"
        title="Diente extraido"
        (click)="deactivateTooth(tooth.idTooth)"
      >
        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
          <polygon
            points="6,1 11,11 1,11"
            fill="none"
            stroke="var(--text)"
            stroke-width="1"
          />
        </svg>
      </button>
      }
    </div>
    }
  </div>

  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 4); track tooth.idTooth) {
    <div class="figure-wrapper">
      <div class="button-container">
        @if (toothDisabled[tooth.idTooth]) {
        <button
          title="Diente no presente"
          class="removeButton"
          (click)="deleteTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          -
        </button>
        } @else {
        <button
          title="Diente presente"
          class="addButton"
          (click)="restoreTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          +
        </button>
        }
      </div>

      @if (toothDisabled[tooth.idTooth]) {
      <svg
        width="35"
        height="35"
        xmlns="http://www.w3.org/2000/svg"
        class="svg-figure"
        [class.deactivated]="toothDeactivated[tooth.idTooth]"
      >
        <rect
          width="35"
          height="35"
          fill="none"
          stroke="var(--text)"
          stroke-width="2"
        />

        <!-- Cara 1 -->
        <polygon
          points="0,0 17.5,17.5 0,35"
          [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-1')
          "
        />

        <!-- Cara 2 -->
        <polygon
          points="35,0 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-2')
          "
        />

        <!-- Cara 3 -->
        <polygon
          points="0,35 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-3')
          "
        />

        <!-- Cara 4 -->
        <polygon
          points="0,0 17.5,17.5 35,0"
          [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-4')
          "
        />

        @if (showTriangle[tooth.idTooth]) {
        <polygon
          points="17.5,5 35,25 0,25"
          stroke="red"
          fill="transparent"
          stroke-width="2"
        />
        }
      </svg>
      }

      <p>{{ tooth.idTooth }}</p>

      @if (toothDisabled[tooth.idTooth]) {
      <button
        class="icon-button"
        title="Diente extraido"
        (click)="deactivateTooth(tooth.idTooth)"
      >
        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
          <polygon
            points="6,1 11,11 1,11"
            fill="none"
            stroke="var(--text)"
            stroke-width="1"
          />
        </svg>
      </button>
      }
    </div>
    }
  </div>

  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 3); track tooth.idTooth) {
    <div class="figure-wrapper">
      <div class="button-container">
        @if (toothDisabled[tooth.idTooth]) {
        <button
          title="Diente no presente"
          class="removeButton"
          (click)="deleteTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          -
        </button>
        } @else {
        <button
          title="Diente presente"
          class="addButton"
          (click)="restoreTooth(tooth.idTooth)"
          [disabled]="toothDeactivated[tooth.idTooth]"
        >
          +
        </button>
        }
      </div>

      @if (toothDisabled[tooth.idTooth]) {
      <svg
        width="35"
        height="35"
        xmlns="http://www.w3.org/2000/svg"
        class="svg-figure"
        [class.deactivated]="toothDeactivated[tooth.idTooth]"
      >
        <rect
          width="35"
          height="35"
          fill="none"
          stroke="var(--text)"
          stroke-width="2"
        />

        <!-- Cara 1 -->
        <polygon
          points="0,0 17.5,17.5 0,35"
          [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-1')
          "
        />

        <!-- Cara 2 -->
        <polygon
          points="35,0 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-2')
          "
        />

        <!-- Cara 3 -->
        <polygon
          points="0,35 17.5,17.5 35,35"
          [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-3')
          "
        />

        <!-- Cara 4 -->
        <polygon
          points="0,0 17.5,17.5 35,0"
          [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
          stroke="var(--text)"
          stroke-width="2"
          (click)="
            !toothDeactivated[tooth.idTooth] &&
              changeColor(tooth.idTooth + '-4')
          "
        />

        @if (showTriangle[tooth.idTooth]) {
        <polygon
          points="17.5,5 35,25 0,25"
          stroke="red"
          fill="transparent"
          stroke-width="2"
        />
        }
      </svg>
      }

      <p>{{ tooth.idTooth }}</p>

      @if (toothDisabled[tooth.idTooth]) {
      <button
        class="icon-button"
        title="Diente extraido"
        (click)="deactivateTooth(tooth.idTooth)"
      >
        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
          <polygon
            points="6,1 11,11 1,11"
            fill="none"
            stroke="var(--text)"
            stroke-width="1"
          />
        </svg>
      </button>
      }
    </div>
    }
  </div>
</div>

<div class="p-4 flex flex-col">
    <p class="mb-3 font-bold text-gray-700">Simbología</p>
    <div class="flex items-center gap-3 mb-4">
      <svg width="40" height="24" class="flex-shrink-0">
        <polygon
          points="20,6 38,18 2,18"
          stroke="var(--text)"
          fill="none"
          stroke-width="2"
        />
      </svg>
      <span>Diente extraído</span>
    </div>
    <div class="flex justify-end">
      <button mat-raised-button color="primary" class="button-custom">Enviar</button>
    </div>
  </div>