<!-- app.component.html -->
<div class="flex h-screen bg-gray-100 overflow-hidden">
  <div class="mobile-overlay" [class.active]="isSidebarOpen" (click)="onSidebarToggle()"></div>
  <app-side-nav 
    [isSidebarOpen]="isSidebarOpen" 
    (menuSelect)="onSidebarToggle()"
  ></app-side-nav>
  <!-- Main content -->
  <div class="content flex flex-col flex-1" [class.sidebar-open]="isSidebarOpen" [class.sidebar-closed]="!isSidebarOpen">
    <div class="sticky-header">
      <app-header (closeSidebar)="onSidebarToggle()"></app-header>
    </div>
    <div class="content-wrapper overflow-y-auto flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
