<mat-card class="full-width-card">
  <mat-card-title><strong>Asignar Área al Profesor</strong></mat-card-title>
  <mat-card-content>
    <div class="custom">
      <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Seleccionar Área Clínica</mat-label>
          <mat-select formControlName="selectedArea">
            <mat-option *ngFor="let area of areas" [value]="area.idClinicalArea">
              {{ area.clinicalArea }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-container">
          <button mat-flat-button color="primary" type="submit" [disabled]="!areaForm.valid">
            ASIGNAR ÁREA <i class="fas fa-save"></i>
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
