@if (loading) {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (_ of [1, 2, 3, 4, 5]; track $index) {
      <div class="animate-pulse bg-gray-200 rounded-lg h-32"></div>
    }
  </div>
} @else {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-5">
    <!-- Total Patients -->
    <app-dashboard-card
      class="transform transition-all duration-300 hover:scale-105"
      title="Usuarios"
      icon="fas fa-users"
      cardType="numeric"
    >
    </app-dashboard-card>

    <!-- Patients by Nationality -->
    <app-dashboard-card
      class="transform transition-all duration-300 hover:scale-105"
      title="Pacientes"
      icon="fas fa-hospital-user"
      cardType="list"
    >
    </app-dashboard-card>

    <!-- Treatments -->
    <app-dashboard-card
      class="transform transition-all duration-300 hover:scale-105"
      title="Tratamientos"
      icon="fas fa-notes-medical"
      cardType="numeric"
    >
    </app-dashboard-card>
  </div>

  <!--  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mt-6">-->
    <!--    &lt;!&ndash; Total Professors &ndash;&gt;-->
    <!--    <app-dashboard-card-->
    <!--      class="transform transition-all duration-300 hover:scale-105"-->
    <!--      title="Total de profesores"-->
    <!--      icon="fas fa-chalkboard-teacher"-->
    <!--      cardType="numeric"-->
    <!--      [value]="stats.totalProfessors || 0"-->
    <!--      [colorBar]="'bg-blue-500'"-->
    <!--    ></app-dashboard-card>-->

    <!--    &lt;!&ndash; Total Students &ndash;&gt;-->
    <!--    <app-dashboard-card-->
    <!--      class="transform transition-all duration-300 hover:scale-105"-->
    <!--      title="Total de estudiantes"-->
    <!--      icon="fas fa-user-graduate"-->
    <!--      cardType="numeric"-->
    <!--      [value]="stats.totalStudents || 0"-->
    <!--      [colorBar]="'bg-green-500'"-->
    <!--    ></app-dashboard-card>-->

    <!--    <app-dashboard-card-->
    <!--      class="transform transition-all duration-300 hover:scale-105"-->
    <!--      title="Total de pacientes con discapacidad"-->
    <!--      icon="fas fa-wheelchair"-->
    <!--      cardType="numeric"-->
    <!--      [value]="stats.patientsWithDisability || 0"-->
    <!--      [colorBar]="'bg-purple-500'"-->
    <!--    ></app-dashboard-card>-->

    <!--  </div>-->
  <section class="custom-bar p-4">

    <div style="width: 600px; height: 400px;">
      <canvas
        baseChart
        [type]="lineChartType"
        [data]="lineChartData"
        [options]="lineChartOptions">
      </canvas>
    </div>
  </section>

}
