<div class="mx-8 pb-8">
    <form [formGroup]="formGroup">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
        @for (field of studyAndPhotographsFields; track $index) {
        <app-field-component
          [field]="field"
          [formGroup]="formGroup"
          [errors]="field.errorMessages"
          [fieldValue]="getFieldValue(field.name)"
        >
        </app-field-component>
        }
      </div>
      <div class="button-container">
        <button (click)="previousTab()" type="button" mat-button matStepperNext>
          <i class="fas fa-long-arrow-alt-left"></i> ANTERIOR 
        </button>
        <button type="button" (click)="onSubmit()" mat-button matStepperNext>
          SIGUIENTE <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </div>
    </form>
  </div>