.mat-mdc-card-title {
  background-color: var(--tertiary);
  padding: 8px;
  border-radius: 2px;
  color: var(--white-color);
}

.in-review {
  color: var(--status-in-review);
  margin-right: 6px;

  i {
    color: var(--status-in-review);
  }
}

.approved {
  color: var(--status-approved);
  margin-right: 6px;

  i {
    color: var(--status-approved);
  }
}

.rejected {
  color: var(--status-rejected);
  margin-right: 6px;

  i {
    color: var(--status-rejected);
  }
}

.in-progress {
  color: var(--status-in-progress);
  margin-right: 6px;

  i {
    color: var(--status-in-progress);
  }
}

.finished {
  color: var(--status-finished);
  margin-right: 6px;

  i {
    color: var(--status-finished);
  }
}

span {
  color: var(--text);
}
