input:focus {
    outline: none;
    box-shadow: none;
  }
  
  .custom {
    color: var(--on-secondary);
    background-color: var(--secondary); // Color de fondo}
  
  }

  table {
    width: 100%;
  }

  .error-message {
    font-size: 13px; /* Ajusta el tamaño de fuente según sea necesario */
  }
  
  .custom-text{
    text-align: center;
  }

  button{
    background-color: #dfdfdf;
  }

