<div [formGroup]="formGroup">
@switch (field.type) {
  @case ('input') {
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ field.label }}</mat-label>
      <input matInput [formControlName]="field.name" (input)="onValueChange($event)" />
      @if (hasLastError(field.name) && formGroup.get(field.name)?.touched && !formGroup.get(field.name)?.hasError('required')) {
        <mat-error>{{ errors?.lastError }}</mat-error>
      }
      @if (formGroup.get(field.name)?.hasError('required')) {
        <mat-error>{{ errors?.required }}</mat-error>
      }
    </mat-form-field>
  }
  @case ('select') {
    <mat-form-field  appearance="fill" class="w-full">
      <mat-label>{{ field.label }}</mat-label>
      <mat-select disableRipple [formControlName]="field.name" (selectionChange)="onValueChange($event)">
        @for (option of field.options; track option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
      
      @if (formGroup.get(field.name)?.hasError('required')) {
        <mat-error>{{ errors?.required }}</mat-error>
      }
    </mat-form-field>
  }
  @default {
    <p>Tipo de campo no soportado.</p>
  }
}
</div>