input:focus {
    outline: none;
    box-shadow: none;
  }
  
  .custom {
    color: var(--on-secondary);
    background-color: var(--secondary); // Color de fondo}
  
  }

  table {
    width: 100%;
  }

  .error-message {
    font-size: 13px; /* Ajusta el tamaño de fuente según sea necesario */
  }
  
  .custom-text{
    text-align: right;
  }

  button{
    background-color: #dfdfdf;
  }


.mat-form-field-invalid .mat-input-element {
  border-color: red;
}

.mat-form-field-invalid .mat-form-field-label {
  color: red; 
}

.mat-form-field-invalid .mat-form-field-underline {
  background-color: red;
}

.mat-form-field-invalid .mat-error {
  color: red;
}

textarea:focus{
  outline: none;
  box-shadow: none;
}