<div [formGroup]="formGroup">
  @switch (field.type) {    
    @case ('multivalued') {
      <div class="grid grid-cols-12 gap-4 items-center">
        <div class="col-span-6 p-4">
          <label>{{ field.label }}</label>
        </div>
        <div class="col-span-2 p-4">
          <section class="example-section">
            <mat-checkbox class="example-margin" [formControlName]="field.name" (change)="onValueChangeCheck($event)" [checked]="field.answerField?.answerBoolean"></mat-checkbox>
          </section>
        </div>
        <div class="col-span-4 p-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Ampliar Respuesta</mat-label>
            <input matInput [required]="!!field.required" 
            [placeholder]="field.placeholder" [value]="field.answerField?.answerNumeric" [formControlName]="field.name" (input)="onValueChange($event)"  />
          </mat-form-field>
        </div>
      </div>
    }
    @case ('boolean') {
      <div class="grid grid-cols-12 gap-4 items-center">
        <div class="col-span-9 p-4">
          <label>{{ field.label }}</label>
        </div>
        <div class="col-span-3 p-4">
          <section class="example-section">
            <mat-checkbox class="example-margin" [formControlName]="field.name" (change)="onValueChangeCheck($event)" [checked]="field.answerField?.answerBoolean"></mat-checkbox>
          </section>
        </div>
      </div>
      <hr> 
    }
    @case ('input') {
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [placeholder]="field.placeholder" [formControlName]="field.name" (input)="onValueChange($event)" />
        @if (hasLastError(field.name) && formGroup.get(field.name)?.touched && !formGroup.get(field.name)?.hasError('required')) {
          <mat-error>{{ errors?.lastError }}</mat-error>
        }
        @if (formGroup.get(field.name)?.hasError('required')) {
          <mat-error>{{ errors?.required }}</mat-error>
        }
      </mat-form-field>
    }   
    @case ('inputText') {
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="text" [required]="!!field.required" 
        [placeholder]="field.placeholder" [value]="field.answerField?.answerNumeric" [formControlName]="field.name" (input)="onValueChange($event)" />
        @if (formGroup.get(field.name)?.hasError('required') && field.required) {
          <mat-error>El campo {{ field.label }} es requerido</mat-error>
        }
      </mat-form-field>
    }    
    @case ('inputNumber') {
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput type="number" [required]="!!field.required" [placeholder]="field.placeholder" [value]="field.answerField?.answerNumeric"
        [formControlName]="field.name" (input)="onValueChange($event)" />
        @if (formGroup.get(field.name)?.hasError('required')) {
          <mat-error>El campo {{ field.label }} es requerido</mat-error>
        }
      </mat-form-field>
    }
    @case ('select') {
      <mat-form-field  appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
          <mat-select disableRipple [formControlName]="field.name" (click)="field.onClick && field.onClick($event)" (selectionChange)="onValueChange($event)">  
            @for (option of field.options; track option.value) {
              <mat-option [value]="option.value">{{ option.label }}</mat-option>
            }
          </mat-select>
            @if (formGroup.get(field.name)?.hasError('required')) {
              <mat-error>{{ errors?.required }}</mat-error>
            }
      </mat-form-field>
    }
    @case('datepicker') {
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
          <input matInput [matDatepicker]="datepicker" [formControlName]="field.name" (dateChange)="onValueChangeDate($event)"> 
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>   
            @if (formGroup.get(field.name)?.hasError('required') && formGroup.get(field.name)?.touched) {
              <mat-error>{{ errors?.required }}</mat-error>
            }
            @if (hasLastError(field.name) && formGroup.get(field.name)?.touched && !formGroup.get(field.name)?.hasError('required')) {
              <mat-error>{{ errors?.lastError }}</mat-error>
            }
      </mat-form-field>
    }
    @case ('inputEvent') {
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
          <input matInput [value]="fieldValue" [formControlName]="field.name" (input)="onInputChange($event)" />
            @if (hasLastError(field.name) && formGroup.get(field.name)?.touched && !formGroup.get(field.name)?.hasError('required')) {
              <mat-error>{{ errors?.lastError }}</mat-error>
            }
            @if (formGroup.get(field.name)?.hasError('required')) {
              <mat-error>{{ errors?.required }}</mat-error>
            }
      </mat-form-field>
    }
    @case ('autocomplete') {
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{field.label}}</mat-label>
          <input type="text" matInput [formControlName]="field.name" [matAutocomplete]="auto" (input)="onInputAutocomplete($event)">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of field.options; track option.value) {
              <mat-option [value]="option.label">{{ option.label }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>      
    }
    @case ('inputFile') {
      <div>
        <input type="file" multiple="true" accept="image/*"  [formControlName]="field.name" class="w-full text-gray-600 text-sm border-b border-black focus:border-blue-500 py-2 custom" />
        <p class="text-xs text-gray-500 mt-1"> {{field.label}} en formato: {{field.placeholder}}</p>
      </div> 
    }
    @case ('textArea') {
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{field.label}}</mat-label>
        <textarea matInput [formControlName]="field.name"  [placeholder]="field.placeholder"></textarea>
      </mat-form-field>   
    }
    @default {
      <p>Tipo de campo no soportado.</p>
    }
  }
</div>