main{
  background-color: var(--on-primary);
}

.bg{
 background-color: var(--secondary);
}

.bg-1{
  background-color: var(--on-tertiary) ;
}

.tx {
color: white;
  text-align: left;
}

.tt{
  color: var(--on-background);
 }
