<div class="flex flex-1 flex-col overflow-hidden">
  <!-- Main content area -->
  <main class="flex-1 overflow-y-auto bg-gray-100 p-4 sm:p-6 lg:p-8">
    <div class="space-y-6">
      <!-- Tarjeta principal de bienvenida -->
      <div class="rounded-lg shadow overflow-hidden bg-1">
        <div class="p-8 sm:p-10 md:p-12 flex flex-col md:flex-row items-center justify-between">
          <div class="mb-6 md:mb-0 md:mr-6 text-center md:text-left">
            <h2 class="text-4xl sm:text-5xl font-bold tx mb-2">Bienvenido a UnsiSmile </h2>
            <p class="text-gray-600 tx ta text-xl sm:text-2xl">Sistema Universitario de la clínica de odontología</p>
          </div>
          <!-- Imagen en lugar del icono -->
           <div class="image-container">
              <img src="../../../assets/odonto7.png" alt="Imagen de dashboard" style="width: 18rem; height: 12rem;">
           </div>          
        </div>
      </div>
      
      <br>
      <!-- Nueva sección: Estadísticas rápidas -->
      <app-dashboard-stats-student></app-dashboard-stats-student>
      <br>
      <!-- Grid de tarjetas adicionales -->
      <app-aditional-cards-student></app-aditional-cards-student>
    </div>
  </main>
</div>
