:host {
    display: block;
    max-width: 700px;
    background: #fff;
    border-radius: 8px;
}
  

.button-container {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los botones */
    margin-top:     0px; /* Espacio superior opcional */
  }
  
  .button-container button {
    max-width: 400px; /* Limita el ancho máximo de los botones */
    flex: 0 0 auto; /* Evita que los botones crezcan para ocupar el espacio disponible */
    margin: 0 5px; /* Espacio entre los botones */
  }
  