

        <mat-card-title><div class="button-container">
            <div><strong>DATOS DEL PACIENTE</strong></div>
            <button><i class="fas fa-window-close"></i></button>
        </div></mat-card-title>             

            <div class="mx-8">
                <br>
                <div class="grid grid-cols-3 gap-4 custom-color">
                    <div>         
                        <div>
                            <strong><i class="far fa-user"></i>&nbsp; SALVADOR ELIOENAI ANTONIO PEREZ</strong>
                        </div>
                        <div>
                            <i class="far fa-id-card"></i>&nbsp; AOPS011028HOCNRLA9 
                        </div>  
                        <div>
                            <i class="fas fa-venus-mars"></i> Masculino
                        </div>
                        <div>
                            <i class="far fa-calendar"></i>&nbsp; Fecha de Nacimiento - 28/10/2001
                        </div> 
                              
                    </div>
                    <div>
                        <div>
                            <i class="fas fa-phone"></i>&nbsp; 9512695254 
                        </div>
                        <div>
                            <i class="fas fa-envelope"></i>&nbsp; elioenai.2001outlook.com
                            <a href="mailto:"></a>
                        </div>
                        <div>
                           <i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;das     Calle Juárez # 12, Colonia centro, Miahuatlan, Miahuatlan de Porfirio Diaz, Oaxaca
                        </div>
                        
                    </div>
                    <div>
                        <div>
                            <i class="far fa-calendar"></i>&nbsp; Fecha de Ingreso - 3/9/2024
                        </div>
                        <div class="button-container">
                            <div></div>
                        </div>
                    </div>
                </div>
                
            </div>

