<div class="dialog-custom">
  <h2 mat-dialog-title>Calificar tratamiento</h2>
  <mat-dialog-content class="mt-2">
    <mat-radio-group 
      (change)="onStatusChange($event)">
      <mat-radio-button [value]="STATUS.FINISHED">Aprobar</mat-radio-button><br>
      <mat-radio-button [value]="STATUS.REJECTED">Rechazar</mat-radio-button><br>
      <mat-radio-button [value]="STATUS.CANCELLED">Cancelar</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Observaciones</mat-label>
      <textarea matInput [(ngModel)]="comments" placeholder="Anotar observaciones del tratamiento..."></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end" style="gap: 8px">
    <button mat-stroked-button (click)="closeDialog()">Cancelar</button>
    <button mat-button class="rate" (click)="rateTreatment()">Calificar</button>
  </mat-dialog-actions>
</div>