<div class="mx-4">
    <form>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4 mb-16">
            <!-- Motivo de la consulta -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Piso de la Boca</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- Padecimiento actual -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Labios</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- ¿Goza usted de buena salud? -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Paladar Duro y
                    Blando?</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- Ocupacion -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Lengua</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- Fecha de su último examen físico -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Carrillos</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- toma de medicamentos -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Proceso Residual</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- Medicamento que no pueda tomar -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Áreas Edéntulas</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- Reacción alergica .: -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Mucosa Bucal</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <!-- problemas con anestesia local -->
            <div class="relative flex-grow w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Articulación
                    Temporomandibular</label>
                <input type="text"
                    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
        </div>
        <div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
            <button (click)="nextPage()" mat-raised-button color="primary">  Continuar</button>
        </div>
    </form>
</div>