.custom-background {
  background-color: var(--secondary);
}

.send-to-review {
  background: var(--tertiary);
}

.custom {
  color: var(--on-secondary);
  background-color: var(--secondary);
  border: 1px var(--on-secondary);
}

.button-custom {
  background-color: var(--tertiary);
  border-radius: 2px;
  padding: 8px 16px;
}

.button-custom-back {
  background-color: var(--tertiary);
  border-radius: 2px;
  padding: 8px 16px;
}

.item-container {
  width: 100%;
}

.content-wrapper {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.list-content {
  flex: 1;
  min-width: 0;
}

mat-list-item {
  overflow: hidden;
}

mat-list-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.in-review {
  color: var(--status-in-review);
  margin-right: 6px;
  i{
    color: var(--status-in-review);
  }
}

.approved {
  color: var(--status-approved);
  margin-right: 6px;
  i{
    color: var(--status-approved);
  }
}

.rejected {
  color: var(--status-rejected);
  margin-right: 6px;
  i{
    color: var(--status-rejected);
  }
}

.in-progress {
  color: var(--status-in-progress);
  margin-right: 6px;
  i{
    color: var(--status-in-progress);
  }
}

.finished {
  color: var(--status-finished);
  margin-right: 6px;
  i{
    color: var(--status-finished);
  }
}

i {
  color: var(--text);
}

li{
  color: var(--text); 
}