
  
  .animated-svg {
    width: 16rem;
    height: 16rem;
  }
  
  .rotating-ring {
    animation: spin 10s linear infinite reverse;
    transform-origin: 45.5px 45.5px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* loading.component.scss */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);  // Fondo semi-transparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  // Personaliza el estilo de tu spinner si es necesario
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}
