<div class="mx-4">
    <form>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4 mb-16"
      >
         <!-- Fecha de ultima consulta médica -->
         <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Fecha de última consulta medica</label
            >
            <input
              type="number"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
         <!-- Motivo -->
         <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Motivo</label
            >
            <input
              type="text"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
        <!-- Fecha de ultima consulta dental -->
        <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Fecha de última consulta dental</label
          >
          <input
            type="number"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <!-- Motivo -->
         <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Motivo</label
            >
            <input
              type="text"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
        <!-- Esta embarazada -->
        <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Está embarazada</label
          >
          <select
            id="countries"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option>--</option>
            <option>Si</option>
            <option>No</option>
          </select>
        </div>   
         <!-- Esta lactando -->
         <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Está lactando</label
            >
            <select
              id="countries"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option>--</option>
              <option>Si</option>
              <option>No</option>
            </select>
          </div>   
            <!-- Tipo de Sangrado -->
         <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Tipo de Sangrado</label
            >
            <select
              id="countries"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option>--</option>
              <option>Normal</option>
              <option>Prolongado</option>
            </select>
          </div>   
        <!-- Examen Radiológico -->
        <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Examen Radiológico</label
          >
          <input
            type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>         
         <!-- Técnicas de Anestesia -->
         <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Técnicas de Anestesia</label
          >
          <input
            type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
           <!-- Instrumental -->
           <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Instrumental</label
            >
            <input
              type="text"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>    
            <!-- Dientes Extraídos -->
            <div class="relative flex-grow w-full">
                <label
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
                  >Dientes Extraídos</label
                >
                <input
                  type="text"
                  class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
              </div> 
                <!-- Estado del Paciente -->
           <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Estado del Paciente</label
            >
            <input
              type="text"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>  
      </div>
      <div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
        <button mat-raised-button color="primary">Siguiente</button>
      </div>
    </form>
  </div>
  