<div class="mx-8 pb-8">
  <table>
      <tr>
        <th>PREGUNTA</th>
        <th>SI / NO</th>
      </tr>
      <tr>
        <td>Come frutas y verduras</td>
        <td><p><mat-checkbox color="primary"></mat-checkbox></p></td>
      </tr>
      <tr>
         <td>Come carnes (Res, puerco o pollo)</td>
         <td><p><mat-checkbox color="primary"></mat-checkbox></p></td>
      </tr>
      <tr>
          <td>Come cereales (Pan, Cereal, etc.)</td>
          <td><p><mat-checkbox color="primary"></mat-checkbox></p></td>
      </tr>
      <tr>
          <td>Come alimentos chatarra (Dulces, botanas, etc.)</td>
          <td><p><mat-checkbox color="primary"></mat-checkbox></p></td>
      </tr>
      <tr>
          <td>Toma o bebe 2 litros de agua al día</td>
          <td><p><mat-checkbox color="primary"></mat-checkbox></p></td>
      </tr>
      <tr>
          <td>Toma o bebe uno o más refrescos al día</td>
          <td><p><mat-checkbox color="primary"></mat-checkbox></p></td>
      </tr>
      <tr>
          <td>Su vivienda tiene piso</td>
          <td><p><mat-checkbox color="primary"></mat-checkbox></p></td>
      </tr>       
    </table>
      <form [formGroup]="formGroup" (submit)="sendData()">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-6">
          @for (field of noPathologicalPersonData; track $index) {
          <app-field-component
            [field]="field"
            [formGroup]="formGroup"
            [errors]="field.errorMessages"
            [fieldValue]="getFieldValue(field.name)"
          >
          </app-field-component>
          }
        </div>
        <div class="button-container">
          <div></div>
          <button type="submit" mat-button matStepperNext>
            SIGUIENTE <i class="fas fa-long-arrow-alt-right"></i>
          </button>
        </div>
      </form>
</div>


