 <div class="mx-8 pb-8">
    <table>
      <tr>
        <th>RESPUESTA</th>
        <th>SI/NO</th>
        <th></th>
      </tr>
      @for (question of questionData; track $index) {
        <tr>
            <td>{{ question.question }}</td>
            <td>
              <mat-checkbox color="primary" class="example-margin"></mat-checkbox>
            </td>
            <td>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Ampliar Respuesta</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>
      } 
    </table>
  
    <div class="button-container">
      <button (click)="previousTab()" type="button" mat-button matStepperNext>
        <i class="fas fa-long-arrow-alt-left"></i> ANTERIOR 
      </button>
        <button (click)="sendData()" mat-button matStepperNext>
          SIGUIENTE <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </div>
  </div>