.removeButton {
  float: right;
  background: red;
  color: white;
}

.clear {
  clear: both;
}

.spaceRight {
  margin-right: 40px;
}
.noMarginRight {
  margin-right: 0;
}

.bt-toolbar {
  margin: 5px 10px;
}
