.toolbar-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 10px; /* Añadir margen derecho para espaciar los elementos */
  margin-bottom: 10px; /* Añadir margen inferior para espaciar los elementos */
}

.symbol-icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.symbol-icon.normal {
  color: blue;
}

.symbol-icon.abnormal {
  color: red;
}

.symbol-name {
  font-size: 10px;
  text-align: center;
}
