<div class="container">
  <!-- Primera fila: condiciones normales -->
  <div class="row">
    <div class="col-4">
      <h1>Código normal (azul)</h1>
        @for (symbol of toolbar.options; track $index) {
          @if (isNormalCondition(symbol.condition)) {
          <div class="d-inline-block toolbar-item">
            <div class="symbol-icon" (click)="selectSymbol(symbol)">
              <svg width="30" height="35" viewBox="0 0 30 35">
                <!-- Representación del diente con cinco caras -->
                <polygon stroke="black" points="1,1 7,9 21,9 28,1" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="21,9 21,25 28,33 28,1" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="21,25 28,33 1,33 7,25" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="1,1 1,33 7,25 7,9" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="7,9 21,9 21,25 7,25" fill="none" stroke-width="0.5"/>
                <!-- Simbología basada en symbol.condition -->
                <g>
                  @switch (symbol.condition) {
                    <!-- Diente parcialmente erupcionado -->
                    @case ('Diente parcialmente erupcionado') {
                      <g>
                        <line x1="0" y1="25" x2="29" y2="25" stroke="blue" fill="blue" stroke-width="2"/>
                      </g>
                    }
                    <!-- Diente obturado -->
                    @case ('Diente obturado') {
                      <g>
                        <polygon points="7,9 21,9 21,25 7,25" fill="blue" opacity="0.6"/>
                      </g>
                    }
                    <!-- Diente con corona -->
                    @case ('Diente con corona') {
                      <g>
                        <polygon points="1,1 28,1 28,33 1,33" fill="blue" opacity="0.6"/>
                      </g>
                    }
                    @case ('Puente') {
                      <g>
                        <polygon points="1,1 28,1 28,33 1,33" fill="blue" opacity="0.6"/>
                      </g>
                    }
                    <!-- Mantenedor de espacio con corona -->
                    @case ('Mantenedor de espacio con corona') {
                      <g>
                        <polygon points="1,1 28,1 28,33 1,33" fill="blue" opacity="0.3"/>
                        <line x1="0" y1="28" x2="29" y2="28" stroke="black" stroke-width="2" opacity="0.6"/>
                        <line x1="20" y1="17" x2="29" y2="17" stroke="black" stroke-width="2" opacity="0.6"/>
                        <line x1="0" y1="6" x2="29" y2="6" stroke="black" stroke-width="2" opacity="0.6"/>
                      </g>
                    }
                    <!-- Mantenedor de espacio con banda -->
                    @case ('Mantenedor de espacio con banda') {
                      <g>
                        <line x1="0" y1="28" x2="29" y2="28" stroke="black" stroke-width="2" opacity="0.6"/>
                        <line x1="20" y1="17" x2="29" y2="17" stroke="black" stroke-width="2" opacity="0.6"/>
                        <line x1="0" y1="6" x2="29" y2="6" stroke="black" stroke-width="2" opacity="0.6"/>
                      </g>
                    }
                  }
                </g>
              </svg>
              <div class="tooth-symbols-below">
                <!-- Simbologías debajo del diente -->
                @if (symbol.condition === 'Prótesis removible') {
                  <span>
                    <svg width="29" height="10">
                      <rect x="0" y="5" width="25" height="5" fill="none" stroke-width="2" stroke="blue" />
                    </svg>
                  </span>
                }
                @if (symbol.condition === 'Puente') {
                  <span>
                    <svg width="29" height="10">
                      <rect x="0" y="5" width="25" height="5" fill="none" stroke-width="2" stroke="blue" />
                    </svg>
                  </span>
                }                               
              </div>
            </div>
            <div class="symbol-name">{{ symbol.condition }}</div>
          </div>
        }
      }
    </div>
  </div>

  <!-- Segunda fila: condiciones anormales -->
  <div class="row">
    <div class="col-4">
      <h1>Código anormal (rojo)</h1>
        @for (symbol of toolbar.options; track $index) {
          @if (isAbnormalCondition(symbol.condition)) {
          <div class="d-inline-block toolbar-item">
            <div class="symbol-icon abnormal">
              <svg width="30" height="35" viewBox="0 0 30 35">
                <!-- Representación del diente con cinco caras -->
                <polygon stroke="black" points="1,1 7,9 21,9 28,1" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="21,9 21,25 28,33 28,1" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="21,25 28,33 1,33 7,25" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="1,1 1,33 7,25 7,9" fill="none" stroke-width="0.5"/>
                <polygon stroke="black" points="7,9 21,9 21,25 7,25" fill="none" stroke-width="0.5"/>
                <!-- Simbología basada en symbol.condition -->
                <g>
                  @switch (symbol.condition) {
                    <!-- Diente cariado -->
                    @case ('Diente cariado') {
                      <g>
                        <polygon points="7,9 21,9 21,25 7,25" fill="red" opacity="0.6"/>
                      </g>
                    }
                    <!-- Diente con fractura -->
                    @case ('Diente con fractura') {
                      <g>
                        <line x1="21" y1="9" x2="28" y2="33" stroke="red" stroke-width="2" stroke-dasharray="4"/>
                      </g>
                    }
                    <!-- Fístula -->
                    @case ('Fístula') {
                      <g>
                        <circle cx="14.5" cy="17" r="4" fill="red"/>
                      </g>
                    }
                    <!-- Diente obturado con caries -->
                    @case ('Diente obturado con caries') {
                      <g>
                        <polygon points="7,9 21,9 21,25 7,25" fill="blue" opacity="0.8" stroke="red" stroke-width="2"/>
                      </g>
                    }
                  }
                </g>
              </svg>
              <div class="tooth-symbols-below">
                <!-- Diente con fluorosis -->
                @if (symbol.condition === 'Diente con fluorosis') {
                  <span>
                    <svg width="29" height="10">
                      <text x="10" y="8" fill="black" font-size="10px" font-family="sans-serif">F</text>
                    </svg>
                  </span>
                }
                <!-- Diente con fluorosis -->
                @if (symbol.condition === 'Diente con hipoplasia') {
                  <span>
                    <svg width="29" height="10">
                      <text x="10" y="8" fill="black" font-size="10px" font-family="sans-serif">H</text>
                    </svg>
                  </span>
                }                
                <!-- Diente en mal posición -->
                @if (symbol.condition === 'Diente en mal posición derecha') {
                  <span>
                    <svg width="29" height="10">
                      <path d="M5,10 C10,5 20,5 25,10" stroke="blue" stroke-width="2" fill="none"/>
                    </svg>
                  </span>
                }
                @if (symbol.condition === 'Diente en mal posición izquierda') {
                  <span>
                    <svg width="29" height="10">
                      <path d="M5,0 C10,5 20,5 25,0" stroke="blue" stroke-width="2" fill="none"/>
                    </svg>
                  </span>
                }
              </div>
            </div>
            <div class="symbol-name">{{ symbol.condition }}</div>
          </div>
        }
      }
    </div>
  </div>
</div>