<br>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 bg-white">
    <mat-tab label="FICHA DE IDENTIFICACIÓN">
        <app-identification-file></app-identification-file>
    </mat-tab>
    <mat-tab label="SIGNOS VITALES">
        <app-vital-sings></app-vital-sings>
    </mat-tab>
    <mat-tab label="INTERROGATORIO">
        <app-interrogation></app-interrogation>
    </mat-tab>
    <mat-tab label="EXAMEN PARODONTAL">
        <app-pathological-history></app-pathological-history>
    </mat-tab>
    <mat-tab label="EXPLORACIÓN DE LA CAVIDAD BUCAL">
        <app-exploration-oral-cavity></app-exploration-oral-cavity>
    </mat-tab>
</mat-tab-group>