::ng-deep .mat-mdc-card-title {
    background-color: #07437a; /* Cambia este color al que desees */
    padding: 8px; /* Agrega un poco de padding si lo deseas */
    border-radius: 2px; /* Opcional: agrega bordes redondeados */
    color: white;
}
  
::ng-deep .mat-step-header .mat-step-label {
    color: var(--on-primary); // Usa la variable de color del tema para el texto
}
  
.custom {
    color: var(--on-secondary);
    background-color: var(--secondary); // Color de fondo}
    border: 1px var(--on-secondary);  
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.button-custom {
    background-color: var(--on-primary);
    color: var(--on-secondary);
    border-radius: 2px;
    padding-left: 10px; 
    padding-right: 10px;
}