<div class="button-container">
  <div></div>
  <div>
    @if (role == 'ROLE_STUDENT') {
      <button type="button" mat-button class="button-note" (click)="openDialog()">
        <i class="fas fa-plus mr-1"></i> Nueva nota
      </button>
    }
  </div>
</div>

<mat-list class="list-custom p-4" style="height: 200px; overflow-y: auto;">

  @if (isLoading && currentPage === 0) {
    <app-loading/>
  }

  @if (progressNotesData && progressNotesData.content.length > 0) {
    @for (note of progressNotesData.content; track note.idProgressNote) {
      <mat-list-item>
        <div class="note-content">
          <div class="note-info">
            <div matListItemTitle>Nota de evolución</div>
            <div matListItemLine>
              {{ note.creationDate | date : "dd/MM/yyyy HH:mm" }}
            </div>
          </div>
          <div class="icon-container flex items-center justify-center gap-4">
            <button mat-stroked-button matTooltip="Descargar formato nota de evolución" (click)="dowloadFormat(note.idProgressNote)"><i class="fas fa-download cursor-pointer mr-1"></i> Descargar formato</button>
            <button mat-stroked-button matTooltip="Ver nota de evolución" (click)="viewNote(note)"><i class="fas fa-eye cursor-pointer mr-1" aria-label="View Note"></i> Ver nota</button>
            @if (note.files && note.files.length > 0) {
              <button mat-stroked-button matTooltip="Descargar nota de evolución firmada" (click)="downloadFile(note.files[0].idProgressNoteFile)"><i class="fas fa-download cursor-pointer mr-1" aria-label="Download File "></i>Nota firmada</button>
            } @else {
              @if (role == 'ROLE_STUDENT') {
                <button mat-stroked-button matTooltip="Adjuntar nota de evolución firmada" (click)="attachDocument(note)"><i class="fas fa-paperclip cursor-pointer mr-1" aria-label="Attach Document"></i>Subir firma</button>
              }
            }
          </div>
        </div>
      </mat-list-item>
      <hr>
    }

    @if (isLoading && currentPage > 0) {
      <app-loading/>
    }

    <br>
    <div class="load">
      @if (!isLastPage) {
        <button type="button" mat-button (click)="loadMore()" [disabled]="isLoading">
          Notas anteriores <i class="fas fa-chevron-down"></i>
        </button>
      }
    </div>

  } @else {
    <div class="p-4">No hay notas disponibles.</div>
  }
</mat-list>

<div class="button-container">
  <button type="button" mat-button (click)="previousTab()">
    <i class="fas fa-long-arrow-alt-left"></i> Anterior
  </button>
  <div></div>
</div>
