.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.button-container button {
    max-width: 200px;
    flex: 0 0 auto;
    margin: 0 5px;
    font-size: 14px;
    padding: 8px 16px;
    box-sizing: border-box;
}

.button-container button i {
    font-size: 14px;
}

.button-note {
    background-color: var(--tertiary);
    color: var(--side-text) !important;
    border-radius: 2px;
    padding: 8px 16px;
}

.mat-mdc-card-title {
    background-color: var(--tertiary);
    padding: 8px;
    border-radius: 2px;
    color: var(--side-text);
    margin: 10px 10px 0px 10px !important;
}

.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
}

.note-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.note-icon {
    margin-right: 16px;
    color: var(--note-icon-color);
}

.note-info {
    flex: 1;
}

.icon-container {
    display: flex;
    gap: 8px;
    margin-left: 16px;
}

.action-icon {
    cursor: pointer;
    color: var(--action-icon-color);
    transition: color 0.3s ease;
}

.action-icon:hover {
    color: var(--action-icon-hover-color);
}

hr{
    margin-left: 10px;
    margin-right: 10px;
}

.list-custom {
    height: 500px; /* Altura fija */
    overflow-y: auto; /* Habilitar scroll vertical */
  }

  .load{
    text-align: center;
  }