<mat-card class="full-width-card">
  <mat-card-title><strong>Actualizar Administrador</strong></mat-card-title>
</mat-card>
<mat-stepper class="background" linear #stepper>
  <mat-step>
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>DATOS PERSONALES</ng-template>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-6">
        @for (field of admin; track $index) {
        <app-field-component 
          [field]="field"
          [formGroup]="formGroup" 
          [errors]="field.errorMessages"
          [fieldValue]="getFieldValue(field.name)">
        </app-field-component>
        }
      </div>
      <div class="button-container">
        <button mat-flat-button color="warn" (click)="onBack()" class="mr-2">
          <i class="fas fa-arrow-left"></i> CANCELAR
        </button>
        <button mat-flat-button color="primary" (click)="onSubmit()">
          GUARDAR <i class="fas fa-save"></i>
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
<app-alert 
  [singleMessage]="alertConfig.singleMessage" 
  [severity]="alertConfig.severity" 
  [open]="alertConfig.open" 
  (eventCloseToast)="alertConfig.open = false">
</app-alert>
