<!-- card patient -->
<mat-card appearance="outlined" class="custom mb-4">
  <app-card-patient-data [patientUuid]="patientUuid"></app-card-patient-data>
</mat-card>

@if (viewTreatment) {
  <div class="flex justify-between w-full mb-4">
    <button mat-button class="button-custom-back !text-white" (click)="backToTreatments()">
      <i class="fas fa-arrow-left mr-2"></i>Regresar
    </button>
    
    @if (selectedTreatment.status === STATUS.IN_PROGRESS) {
      <button mat-button class="button-custom-back !text-white" (click)="openDialogSendToReview()">
        Enviar tratamiento a revisión<i class="fas fa-file-upload ml-2"></i>
      </button>
    }
    @else {
      <span class="treatment-status-badge"
        [class.in-review-treatment]="selectedTreatment.status === STATUS.IN_REVIEW"
        [class.approved-treatment]="selectedTreatment.status === STATUS.APPROVED"
        [class.rejected-treatment]="selectedTreatment.status === STATUS.REJECTED"
        [class.in-progress-treatment]="selectedTreatment.status === STATUS.IN_PROGRESS"
        [class.finished-treatment]="selectedTreatment.status === STATUS.FINISHED">
        @switch (selectedTreatment.status) {
          @case (STATUS.IN_REVIEW) { Tratamiento en revisión }
          @case (STATUS.APPROVED) { Aprobado }
          @case (STATUS.REJECTED) { Rechazado }
          @case (STATUS.IN_PROGRESS) { En progreso }
          @case (STATUS.FINISHED) { Finalizado }
        }
      </span>
    }
  </div>
}

<mat-tab-group class="custom-background" mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabSelected($event)">
  <!-- Tab 1: Datos personales -->
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-user"></i>
      <span class="ml-2">Datos personales</span>
    </ng-template>
    Contenido datos personales
  </mat-tab>

  <!-- Tab 2: Historia clínica general -->
  @if (!viewTreatment) {
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-folder"></i>
        <span class="ml-2">Historia clínica general</span>
      </ng-template>
      @if (medicalRecordLoaded) {
        <app-medical-record-general-treatments [patientUuid]="patientUuid" [patientMedicalRecord]="idMedicalRecordGeneral"></app-medical-record-general-treatments>
      }
    </mat-tab>
  }

  <!-- Tab 3: Tratamientos -->
   @if (!viewTreatment ) {
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-file"></i>
        <span class="ml-2">Tratamientos</span>
      </ng-template>
        <div class="p-4">
          <div class="flex justify-end">
            <button mat-button class="button-custom !text-white" (click)="openDialogNewTreatment()">Crear Tratamiento</button>
          </div>
        </div>
        <mat-list>
          @for (item of treatmentsPatient?.content; track item.idTreatmentDetail) {
          <section class="item-container">
            <div class="content-wrapper">
              <mat-list-item class="list-content">
                <span matListItemTitle><strong>Tratamiento:</strong> {{item.treatment.name}}</span>
                {{item.treatment.clinicalHistoryCatalogName}}
                <span matListItemLine><strong>Duración:</strong> {{ formatArrayDate(item.startDate) }} - {{ formatArrayDate(item.endDate) }}</span>
              </mat-list-item>
                @switch (item.status) {
                  @case (STATUS.IN_REVIEW) {
                  <span class="in-review">En revisión</span>
                  }
                  @case (STATUS.APPROVED) {
                  <span class="approved">Aprobado</span>
                  }
                  @case (STATUS.REJECTED) {
                  <span class="rejected">Rechazado</span>
                  }
                  @case (STATUS.IN_PROGRESS) {
                  <span class="in-progress">En progreso</span>
                  }
                  @case (STATUS.FINISHED) {
                  <span class="finished">Finalizado</span>
                  }
                }
              <span class="view-badge" (click)="openTreatment(item)">
                Ver Tratamiento
              </span>
            </div>
            <mat-divider></mat-divider>
          </section>
          }
        </mat-list>
        @if (!isPatientLastPage && treatmentsPatient?.content?.length) {
          <div class="text-center mt-3">
            <button 
              class="btn btn-primary"
              (click)="loadMorePatientTreatments()"
              [disabled]="isPatientLoading">
              @if (!isPatientLoading) {
                <span>Cargar más tratamientos</span>
              }
            </button>
          </div>
        }
    </mat-tab>
   }

  @if (viewTreatment) {
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-file"></i>
        <span class="ml-2">{{tabMedicalRecord}}</span>
      </ng-template>
      @switch (medicalRecordId) {
        @case (2) {
          <!--Protesis bucal-->
          <app-oral-prosthesis [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientClinicalHistoryId"></app-oral-prosthesis>
        }
        @case (3) {
          <!-- Periodoncia -->
          <app-students-periodontics-history [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientClinicalHistoryId"></app-students-periodontics-history>
        }
        @case (4) {
          <!-- Operatioria dental -->
          <app-students-dental-operation [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientClinicalHistoryId"></app-students-dental-operation>
        }
        @case (5) {
          <!-- Cirujia bucal -->
          <app-students-oral-surgery-history [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientClinicalHistoryId"></app-students-oral-surgery-history>
        }
        @case (6) {
          <app-preventive-dentistry-public-health [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientClinicalHistoryId"></app-preventive-dentistry-public-health>        }
        @default {
          <p>No existe esta historia clinica.</p>
        }
      }
    </mat-tab>
  }
</mat-tab-group>

<app-loading/>