<!-- card patient -->
<mat-card appearance="outlined" class="custom mb-4">
  <app-card-patient-data [patientUuid]="patientUuid"></app-card-patient-data>
</mat-card>

<mat-tab-group class="custom-background" mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabSelected($event)">
  <!-- Tab 1: Datos personales -->
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-user"></i>
      <span class="ml-2">Datos personales</span>
    </ng-template>
    Contenido datos personales
  </mat-tab>

  <!-- Tab 2: Historia clínica general -->
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-folder"></i>
      <span class="ml-2">Historia clínica general</span>
    </ng-template>
    @if (medicalRecordLoaded) {
      <app-medical-record-general-treatments [patientUuid]="patientUuid" [idHistoryGeneral]="idHistoryGeneral" [patientMedicalRecord]="patientMedicalRecord" ></app-medical-record-general-treatments>
    }
  </mat-tab>

  <!-- Tab 3: Tratamientos -->
   @if (patientMedicalRecord) {
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-file"></i>
        <span class="ml-2">Tratamientos</span>
      </ng-template>
        <div class="p-4">
          <div class="flex justify-end">
            <button mat-button class="button-custom !text-white" (click)="openDialogNewTreatment()">Crear Tratamiento</button>
          </div>
        </div>
        <mat-list>
          @for (item of treatmentsPatient?.content; track item.idTreatmentDetail) {
          <section class="item-container">
            <div class="content-wrapper">
              <mat-list-item class="list-content">
                <span matListItemTitle><strong>Tratamiento:</strong> {{item.treatment.name}}</span>
                {{item.treatment.clinicalHistoryCatalogName}}
                <span matListItemLine><strong>Duración:</strong> {{ formatArrayDate(item.startDate) }} - {{ formatArrayDate(item.endDate) }}</span>
              </mat-list-item>
              <span class="view-badge" (click)="openTreatment(item)">
                Ver Tratamiento
              </span>
            </div>
            <mat-divider></mat-divider>
          </section>
          }
        </mat-list>
    </mat-tab>
   }

  @if (viewTreatment) {
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-file"></i>
        <span class="ml-2">{{tabMedicalRecord}}</span>
      </ng-template>
      @switch (medicalRecordId) {
        @case (2) {
          <!--Protesis bucal-->
          <app-oral-prosthesis [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientMedicalRecord"></app-oral-prosthesis>
        }
        @case (3) {
          <!-- Periodoncia -->
          <app-students-periodontics-history [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientMedicalRecord"></app-students-periodontics-history>
        }
        @case (4) {
          <!-- Operatioria dental -->
          <app-students-dental-operation [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientMedicalRecord"></app-students-dental-operation>
        }
        @case (5) {
          <app-students-oral-surgery-history [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientMedicalRecord"></app-students-oral-surgery-history>
        }
        @case (6) {
          <app-preventive-dentistry-public-health [medicalRecord]="medicalRecordId" [patientUuid]="patientUuid" [patientMedicalRecord]="patientMedicalRecord"></app-preventive-dentistry-public-health>        }
        @default {
          <p>No existe esta historia clinica.</p>
        }
      }
    </mat-tab>
  }
</mat-tab-group>
