<!-- card patient -->
<mat-card appearance="outlined" class="custom">
  <app-card-patient-data [patientUuid]="patientUuid"></app-card-patient-data>
</mat-card>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-folder"></i>
      <span class="ml-2">Historias Clínicas </span>
    </ng-template>
    Content
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-file"></i>
      <span class="ml-2">Tratamientos</span>
    </ng-template>
    Content
  </mat-tab>
</mat-tab-group>
