@if (mappedHistoryData) {
  <mat-card-title>
    <app-header-history-clinic
      [mappedHistoryData]="mappedHistoryData"
      [idPatientMedicalRecord]="patientMedicalRecord"
      [currentSectionId]="currentSectionId"
      [currentStatus]="currentStatus"
      [currentIndex]="currentIndex"
      [role]="role">
    </app-header-history-clinic>
  </mat-card-title>
  <mat-card class="custom">
    <mat-tab-group [(selectedIndex)]="currentIndex">
      @for (tab of mappedHistoryData.tabs; track tab) {
        <mat-tab [label]="tab.title">
          @if (tab.isAnswered && tab.title !== 'Profilaxis Dental' && tab.title !== 'Fluorosis') {
            <app-tab-form-update
              [patientMedicalRecord]="patientMedicalRecord"
              [fieldsTab]="tab"
              [readonlyTreatment]="readonlyTreatment"
              (nextMatTab)="onNextTab()"
              (previousMatTab)="onPreviousTab()"
            ></app-tab-form-update>
          }
          @if (!tab.isAnswered && tab.title !== 'Profilaxis Dental' && tab.title !== 'Fluorosis') {
            <app-tab-form
              [patientMedicalRecord]="patientMedicalRecord"
              [fieldsTab]="tab"
              [readonlyTreatment]="readonlyTreatment"
              [patientUuid]="patientUuid"
                            [id]=6
              (nextMatTab)="onNextTab()"
              (previousMatTab)="onPreviousTab()"
            ></app-tab-form>
          }
          @if (tab.title == "Profilaxis Dental" && !tab.isAnswered) {
            <app-profilaxis
              [readonlyTreatment]="readonlyTreatment"
              [idPatient]="patientUuid"
              [idPatientMedicalRecord]="patientMedicalRecord"
              [idFormSection]="tab.idFormSection"
              (nextMatTab)="onNextTab()"
            ></app-profilaxis>
          }
          @if (tab.title === "Fluorosis" && !tab.isAnswered) {
            <app-fluorosis
            [readonlyTreatment]="readonlyTreatment"
            [idFormSection]="currentSectionId"
            [idPatientMedicalRecord]="patientMedicalRecord"
            (nextMatTab)="onNextTab()"
            (previousMatTab)="onPreviousTab()"
            [patientUuid]="patientUuid"
            ></app-fluorosis>
          }
        </mat-tab>
      }
    </mat-tab-group>
  </mat-card>
}
