:host ::ng-deep .p-toast {
  .p-toast-message {
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    
    &.p-toast-message-success {
      background: var(--message-success);
      border-left: var(--message-success-border);
      .p-toast-message-icon {
        color: var(--message-success-border-icon);
        font-size: 1.5rem;
        margin-right: 1rem; // Cambiado de 0.5rem a 1rem
      }
    }
    
    &.p-toast-message-error {
      background: var(--message-error);
      border-left: var(--message-error-border);
      .p-toast-message-icon {
        color: var(--message-error-border-icon);
        font-size: 1.5rem;
        margin-right: 1rem; // Cambiado de 0.5rem a 1rem
      }
    }

    &.p-toast-message-info {
      background: var(--message-info);
      border-left: var(--message-info-border);
      .p-toast-message-icon {
        color: var(--message-info-border-icon);
        font-size: 1.5rem;
        margin-right: 1rem; // Cambiado de 0.5rem a 1rem
      }
    }

    &.p-toast-message-warn {
      background: var(--message-warn);
      border-left: var(--message-warn-border);
      .p-toast-message-icon {
        color: var(--message-warn-border-icon);
        font-size: 1.5rem;
        margin-right: 1rem; // Cambiado de 0.5rem a 1rem
      }
    }

    .p-toast-message-content {
      padding: 1rem;
      display: flex;
      align-items: center;
      .p-toast-summary {
        font-weight: 600;
      }
      .p-toast-detail {
        margin: 0.5rem 0 0 0;
      }
      .p-toast-message-icon {
        animation: scaleIn 0.3s ease-in-out;
        font-size: 1.5rem;
        margin-right: 1rem; // Cambiado de 0.5rem a 1rem
      }
    }
  }

  &-enter {
    animation: toastEnter 0.3s ease-out;
  }

  &-leave {
    animation: toastLeave 0.3s ease-in forwards;
  }
}

@keyframes toastEnter {
  from {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes toastLeave {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0) rotate(-180deg);
  }
  50% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

