<mat-card appearance="outlined" class="custom">
    <app-card-patient-data [data]="patientData" [guardianData]="guardianData"></app-card-patient-data>
</mat-card>
<br>
@if (mappedHistoryData) {
    <mat-card-title>
        <div class="title-container">
          <span><strong>Historia clínica {{mappedHistoryData.title}}</strong></span>
          <span>
            <strong>Número de expediente: {{mappedHistoryData.medicalRecordNumber}}</strong> &nbsp; 
                @if (mappedHistoryData.tabs[currentIndex].requiresReview && 
                    mappedHistoryData.tabs[currentIndex].status === STATUS.NO_STATUS && 
                    role !== ROL.ADMIN) {
                  <button class="button-custom" (click)="openConfirmDialog()">
                    Enviar a revisión <i class="fas fa-file-upload"></i>
                  </button>
                }

                @if (mappedHistoryData.tabs[currentIndex].status !== STATUS.NO_STATUS && 
                    mappedHistoryData.tabs[currentIndex].status !== STATUS.NO_REQUIRED && 
                    role !== ROL.PROFESSOR) {
                  <span class="status" [innerHTML]="translateStatus(mappedHistoryData.tabs[currentIndex].status)"></span> &nbsp;
                }

                @if (mappedHistoryData.tabs[currentIndex].status == STATUS.REJECTED) {
                  <button class="button-custom" (click)="openConfirmDialog()">
                    <i class="fas fa-file-upload"></i>
                  </button>
                }

                @if (mappedHistoryData.tabs[currentIndex].status !== STATUS.NO_STATUS && 
                    mappedHistoryData.tabs[currentIndex].status !== STATUS.NO_REQUIRED && 
                    role === ROL.PROFESSOR) {
                  <app-menu-assess-medical-history
                    [idClinicalHistoryPatient]="idPatientClinicalHistory"
                    [selectedIndex]="currentSectionId" 
                    [status]="currentStatus"
                  ></app-menu-assess-medical-history>
                }
          </span> 
        </div>
    </mat-card-title>
    <mat-card class="custom">
            <mat-tab-group [(selectedIndex)]="currentIndex" (selectedIndexChange)="onTabChange($event)">
                @for (tab of mappedHistoryData.tabs; track tab) {
                    <mat-tab [label]="tab.title">
                        @if (tab.isAnswered) {
                            <app-tab-form-update
                            [fieldsTab]="tab" 
                            (nextMatTab)="onNextTab()"
                            (previousMatTab)="onPreviousTab()"
                            ></app-tab-form-update>
                        }
                        @if (!tab.isAnswered) {
                            <app-tab-form 
                            [fieldsTab]="tab" 
                            (nextMatTab)="onNextTab()"
                            (previousMatTab)="onPreviousTab()"
                        ></app-tab-form>
                        }
                    </mat-tab>
              }
        </mat-tab-group>
    </mat-card>
}
  