.menu-container {
    background-color: var(--primary);
    color: white;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  

  .logo-text {
    color: var(--on-primary);
  }
  
  .logo-highlight {
    color: #3b82f6; /* Blue-500 */
  }
  
  .logo-subtext {
    color: var(--on-primary);
  }

  .welcome-text {
    color: var(--on-primary);
  }

:host {
  display: block;
  height: 100%;
  position: fixed; // Cambiar a fixed
  z-index: 1000;   // Asegurar que esté por encima
  
  .sidebar {
    position: absolute;
    height: 100%;
    width: 250px;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
    background-color: var(--primary); // Asegurar color de fondo
    
    &.closed {
      transform: translateX(-250px); // Usar el ancho exacto
    }
  }
}

