<div class="sidebar" [class.closed]="!isSidebarOpen">
  <div class="menu-container min-h-screen z-10 text-slate-300 w-64 left-0 h-screen overflow-y-hidden">
    <!-- Logo section -->
    <div id="logo" class="px-4"> <!-- Ajustado -->
      <h1 class="text-xl md:text-2xl font-bold text-white"> <!-- Ajustado tamaño -->
        Unsi<span class="text-blue-500">Smile</span>
      </h1>
      <p class="text-slate-500 text-xs">Clínica de Odontología</p> <!-- Ajustado tamaño -->
    </div>
    
    <div class="nav-content">
      <!-- Profile section -->
      <div id="profile" class="px-4 py-3 text-center"> <!-- Ajustado -->
        <p class="text-slate-500 welcome-message text-sm">{{ welcomeMessage }}</p> <!-- Ajustado tamaño -->
        <a [routerLink]="userLink" class="profile-link">
          <div class="profile-image-container">
            <img
              class="profile-image"
              [src]="profilePicture() || '../../assets/images/default-profile-pic.png'"
              alt="Foto de perfil"
            />
          </div>
          @if (user) {
            <span class="profile-name text-sm"> {{ user.person.firstName + " " + user.person.firstLastName }} </span>
          }
        </a>
      </div>
      
      <!-- Scrollable navigation items - ahora con más espacio -->
      <div id="nav" class="w-full px-4">
        @for(item of menuItems; track $index){
          <app-button-menu-item
            [item]="item"
            (menuSelect)="onMenuItemSelect()"
          ></app-button-menu-item>
        }
      </div>
      
      <!-- Logout section -->
      <div class="logout-section">
        <button (click)="logout()" class="logout-button text-sm"> <!-- Ajustado tamaño -->
          <i class="fas fa-sign-out-alt"></i>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </div>
  </div>
</div>
