.menu-container {
    background-color: var(--primary);
    color: white;
  }
  
  .logo-text {
    color: var(--on-primary);
  }
  
  .logo-highlight {
    color: #3b82f6; /* Blue-500 */
  }
  
  .logo-subtext {
    color: var(--on-primary);
  }

  .welcome-text {
    color: var(--side-text);
  }

.tt{
    color: var(--side-text);
  }