<!-- card patient -->
<mat-card appearance="outlined" class="custom mb-4">
  <app-card-patient-data [patientUuid]="patientUuid"></app-card-patient-data>
</mat-card>

<mat-tab-group class="custom-background" mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabSelected($event)">
  <!-- Tab 1: Datos personales -->
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-user"></i>
      <span class="ml-2">Datos personales</span>
    </ng-template>
    <app-form-update-patient [patientUuid]="patientUuid"></app-form-update-patient>
  </mat-tab>

  <!-- Tab 2: Historia clínica general -->
  @if (!viewTreatment) {
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-folder"></i>
        <span class="ml-2">Historia clínica general</span>
      </ng-template>
      @if (medicalRecordLoaded) {
        <app-students-general-history [patientUuid]="patientUuid" [medicalRecordData]="medicalRecordConfig"></app-students-general-history>
      }
    </mat-tab>
  }

  <!-- Tab 3: Tratamientos -->
   @if (!viewTreatment ) {
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-file"></i>
        <span class="ml-2">Tratamientos</span>
      </ng-template>
        <div class="p-4">
          <div class="flex justify-end">
            <button mat-button class="button-custom !text-white" (click)="openDialogNewTreatment()">Crear tratamiento</button>
          </div>
        </div>
        <mat-list>
          @for (treatmentDetail of treatmentsPatient?.content; track treatmentDetail.idTreatmentDetail) {
          <section class="item-container">
            <div class="content-wrapper">
              <mat-list-item class="list-content">
                <span matListItemTitle><strong>Tratamiento:</strong> {{treatmentDetail.treatment.name}}</span>
                {{treatmentDetail.treatment.clinicalHistoryCatalogName}}
                <span matListItemLine><strong>Duración:</strong> {{ formatArrayDate(treatmentDetail.startDate) }} - {{ formatArrayDate(treatmentDetail.endDate) }}</span>
              </mat-list-item>
                @switch (treatmentDetail.status) {
                  @case (STATUS.IN_REVIEW) {
                  <span class="in-review">En revisión</span>
                  }
                  @case (STATUS.APPROVED) {
                  <span class="approved">Aprobado</span>
                  }
                  @case (STATUS.REJECTED) {
                  <span class="rejected">Rechazado</span>
                  }
                  @case (STATUS.IN_PROGRESS) {
                  <span (click)="openUpdateTreatmentDialog(treatmentDetail)"><i class="fas fa-edit cursor-pointer update-treatment"></i></span>
                  <span class="in-progress">En progreso</span>
                  }
                  @case (STATUS.FINISHED) {
                  <span class="finished">Finalizado</span>
                  }
                }
              <span class="view-treatment cursor-pointer" (click)="navigateToTreatmentDetails(treatmentDetail)">
                Ver tratamiento
              </span>
            </div>
            <mat-divider></mat-divider>
          </section>
          }
        </mat-list>
        @if (!isPatientLastPage && treatmentsPatient?.content?.length) {
          <div class="text-center mt-3">
            <button 
              class="btn btn-primary"
              (click)="loadMorePatientTreatments()"
              [disabled]="isPatientLoading">
              @if (!isPatientLoading) {
                <span>Cargar más tratamientos</span>
              }
            </button>
          </div>
        }
    </mat-tab>
   }

</mat-tab-group>

