<section class="form-container">
  <article class="form-content">
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form [formGroup]="formGroup" class="sign-in-form">
            <h2 class="title">Iniciar sesión</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input formControlName="user" type="text" name="user" placeholder="usuario" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input [type]="showPassword ? 'text' : 'password'" formControlName="password" name="password" placeholder="Contraseña" />
              
              <!-- Botón dentro del input para mostrar/ocultar la contraseña -->
              <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
            
            <button [disabled]="formGroup.invalid || loading" class="btn solid" (click)="handleLogin()">Ingresar</button>
          </form>
        </div>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Bienvenido a UnsiSmile</h3>
            <p>“Nada de lo que llevas es más importante que tu sonrisa”</p>
          </div>
          <img src="../../../assets/odonto9.png" class="image"  />
        </div>
      </div>
    </div>
  </article>
</section>
<app-loading/>