main{
  background-color: var(--on-primary);
}

.bg{
 background-color: var(--secondary);
}

.bg-1{
  background-color: var(--primary) ;
}

.tx {
  color: var( --on-tertiary);
  text-align: center;
}

.tt{
  color: var(--on-background);
 }