<div class="container">
  <!-- Primera fila: condiciones normales -->
  <div class="row">
    <div class="col-4">
      <h1 class="custom-text">Código normal</h1>
      @for (symbol of toolbar.options; track $index) { @if
      (isNormalCondition(symbol.condition)) {
      <div
        (click)="selectSymbol(symbol)"
        class="d-inline-block toolbar-item"
        [class.selected]="isSymbolSelected(symbol)"
      >
        <div class="symbol-icon">
          <svg width="30" height="35" viewBox="0 0 30 35">
            <!-- Representación del diente con cinco caras -->
            <polygon
              stroke="black"
              points="1,1 7,9 21,9 28,1"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="21,9 21,25 28,33 28,1"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="21,25 28,33 1,33 7,25"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="1,1 1,33 7,25 7,9"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="7,9 21,9 21,25 7,25"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <!-- Simbología basada en symbol.condition -->
            <g>
              @switch (symbol.condition) {
              <!-- Diente obturado -->
              @case (ToothConditionsConstants.DIENTE_OBTURADO) {
              <g>
                <polygon
                  points="7,9 21,9 21,25 7,25"
                  fill="#1919e6"
                  opacity="0.6"
                />
              </g>
              }
              <!-- Diente con corona -->
              @case (ToothConditionsConstants.DIENTE_CON_CORONA) {
              <g>
                <polygon
                  points="1,1 28,1 28,33 1,33"
                  fill="#1919e6"
                  opacity="0.6"
                />
              </g>
              }
              <!-- Mantenedor de espacio con corona -->
              @case (ToothConditionsConstants.MANTENEDOR_DE_ESPACIO_CON_CORONA)
              {
              <g>
                <polygon
                  points="1,1 28,1 28,33 1,33"
                  fill="#1919e6"
                  opacity="0.3"
                />
                <line
                  x1="0"
                  y1="28"
                  x2="29"
                  y2="28"
                  stroke="black"
                  stroke-width="2"
                  opacity="0.6"
                />
                <line
                  x1="20"
                  y1="17"
                  x2="29"
                  y2="17"
                  stroke="black"
                  stroke-width="2"
                  opacity="0.6"
                />
                <line
                  x1="0"
                  y1="6"
                  x2="29"
                  y2="6"
                  stroke="black"
                  stroke-width="2"
                  opacity="0.6"
                />
              </g>
              }
              <!-- Mantenedor de espacio con banda -->
              @case (ToothConditionsConstants.MANTENEDOR_DE_ESPACIO_CON_BANDA){
              <g>
                <line
                  x1="0"
                  y1="28"
                  x2="29"
                  y2="28"
                  stroke="black"
                  stroke-width="2"
                  opacity="0.6"
                />
                <line
                  x1="20"
                  y1="17"
                  x2="29"
                  y2="17"
                  stroke="black"
                  stroke-width="2"
                  opacity="0.6"
                />
                <line
                  x1="0"
                  y1="6"
                  x2="29"
                  y2="6"
                  stroke="black"
                  stroke-width="2"
                  opacity="0.6"
                />
              </g>
              } }
            </g>
          </svg>
          <div class="tooth-symbols-below">
            <!-- Prótesis removible -->
            @if (symbol.condition ===
            ToothConditionsConstants.PROTESIS_REMOVIBLE) {
            <span>
              <img src="../../../../../../assets/svg/protesis_removible.svg" />
            </span>
            } @if (symbol.condition === ToothConditionsConstants.PUENTE) {
            <span>
              <img src="../../../../../../assets/svg/puente.svg" />
            </span>
            }
            <!-- Simbologías debajo del diente -->
            @if (symbol.condition ===
            ToothConditionsConstants.DIENTE_PARCIALMENTE_ERUPCIONADO) {
            <!-- Diente parcialmente erupcionado -->
            <span>
              <img src="../../../../../../assets/svg/erupcion.svg" />
            </span>
            }
          </div>
        </div>
        <div class="symbol-name custom-text">{{ symbol.condition }}</div>
      </div>
      } }
    </div>
  </div>

  <!-- Segunda fila: condiciones anormales -->
  <div class="row">
    <div class="col-4">
      <h1 class="custom-text">Código anormal</h1>
      @for (symbol of toolbar.options; track $index) { @if
      (isAbnormalCondition(symbol.condition)) {
      <div
        (click)="selectSymbol(symbol)"
        class="d-inline-block toolbar-item"
        [class.selected]="isSymbolSelected(symbol)"
      >
        <div class="symbol-icon abnormal" (click)="selectSymbol(symbol)">
          <svg width="30" height="35" viewBox="0 0 30 35">
            <!-- Representación del diente con cinco caras -->
            <polygon
              stroke="black"
              points="1,1 7,9 21,9 28,1"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="21,9 21,25 28,33 28,1"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="21,25 28,33 1,33 7,25"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="1,1 1,33 7,25 7,9"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <polygon
              stroke="black"
              points="7,9 21,9 21,25 7,25"
              fill="#EAEDEA"
              stroke-width="0.5"
            />
            <!-- Simbología basada en symbol.condition -->

            @switch (symbol.condition) {
            <!-- Diente cariado -->
            @case (ToothConditionsConstants.DIENTE_CARIADO) {
            <g>
              <polygon points="7,9 21,9 21,25 7,25" fill="red" opacity="0.6" />
            </g>
            }
            <!-- Diente extraido -->
            @case (ToothConditionsConstants.DIENTE_EXTRAIDO) {
              <g>
                <polygon
                  points="15,5 0,30 30,30"
                  fill="#e74c3c"
                />
              </g>
            }
            <!-- Diente con fractura -->
            @case (ToothConditionsConstants.DIENTE_CON_FRACTURA) {
            <g>
              <line
                x1="21"
                y1="9"
                x2="28"
                y2="33"
                stroke="red"
                stroke-width="2"
                stroke-dasharray="4"
              />
            </g>
            }
            <!-- Diente obturado con caries -->
            @case (ToothConditionsConstants.DIENTE_OBTURADO_CON_CARIES) {
            <g>
              <polygon
                points="7,9 21,9 21,25 7,25"
                fill="#1919e6"
                opacity="0.8"
                stroke="red"
                stroke-width="2"
              />
            </g>
            } }
          </svg>
          <div class="tooth-symbols-below">
            <!-- Diente con fluorosis -->
            @if (symbol.condition ===
            ToothConditionsConstants.DIENTE_CON_FLUOROSIS) {
            <span>
              <img src="../../../../../../assets/svg/fluorosis.svg" />
            </span>
            } @if (symbol.condition ===
            ToothConditionsConstants.RESTO_RADICULAR) {
            <span>
              <img src="../../../../../../assets/svg/resto_radicular.svg" />
            </span>
            }
            <!-- Fístula -->
            @if(symbol.condition === ToothConditionsConstants.FISTULA) {
            <span>
              <img src="../../../../../../assets/svg/fistula.svg" />
            </span>
            }
            <!-- Diente con fluorosis -->
            @if (symbol.condition ===
            ToothConditionsConstants.DIENTE_CON_HIPOPLASIA) {
            <span>
              <img src="../../../../../../assets/svg/hipoplasia.svg" />
            </span>
            }
            <!-- Diente en mal posición -->
            @if (symbol.condition ===
            ToothConditionsConstants.DIENTE_EN_MAL_POSICION_DERECHA) {
            <span>
              <img src="../../../../../../assets/svg/flecha derecha.svg" />
            </span>
            } @if (symbol.condition ===
            ToothConditionsConstants.DIENTE_EN_MAL_POSICION_IZQUIERDA) {
            <span>
              <img src="../../../../../../assets/svg/flecha izquierda.svg" />
            </span>
            }
          </div>
        </div>
        <div class="symbol-name custom-text">{{ symbol.condition }}</div>
      </div>
      } }
    </div>
  </div>
</div>
