.toolbar-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-right: 10px; /* Añadir margen derecho para espaciar los elementos */
  margin-bottom: 10px; /* Añadir margen inferior para espaciar los elementos */
}

.toolbar-item.selected {
  background:  var(--on-primary);
  border-radius: 18%;
  box-shadow: 1px 1px 1px var(--on-background), -1.8px -1.8px 1px var(--on-primary);
}

.symbol-icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  margin: 2%;
}

.symbol-name {
  display: block;
  margin-top: 0.5rem; /* Ajusta el margen superior para separar el nombre del símbolo */
  text-align: center;
  font-size: 12px;
  color: black;
}

.tooth-symbols-below {
  top: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}

.tooth-symbol-fluorosis {
  color: red;
  font-size: 12px;
}

.custom-text {
  color: var(--on-secondary);
}
