mat-form-field {
  margin-right: 12px;
  width: 100%;
  max-width: 400px;
}

.custom {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  background-color: var(--tertiary);
  color: white !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-container button {
  max-width: 400px;
  flex: 0 0 auto;
  margin: 0 5px;
}

.full-width-card {
  margin: 20px;
}

::ng-deep .mat-mdc-card-title {
  background-color: var(--tertiary);
  padding: 8px;
  border-radius: 2px;
  color: white;
}
