<div class="tooth-container">
  <div class="boxTooth">
    @if (hasConditions() && state !== 'read') {
    <button
      class="delete-conditions-btn"
      (click)="deleteConditions.emit(data)"
      matTooltip="Eliminar condiciones"
    >
      <i title="Eliminar condiciones" class="fas fa-trash"></i>
    </button>
    } @if(state != 'read'){ @if (data.status) {
    <button
      title="Diente no presente"
      class="removeButton"
      (click)="toggleTooth.emit(data)"
    >
      -
    </button>
    } @else {
    <button
      title="Diente presente"
      class="addButton"
      (click)="toggleTooth.emit(data)"
    >
      +
    </button>
    } }

    <small class="idTooth">{{ data.idTooth }}</small>

    <svg
      width="29"
      height="34"
      [attr.id]="data.idTooth"
      [ngClass]="data.status ? 'tooth' : 'tooth disabled'"
    >
      <!-- Face 1 (Top) -->
      <polygon
        stroke="black"
        points="1,1 7,9 21,9 28,1"
        [attr.id]="data.faces[0].idFace"
        fill="#EAEDEA"
        (click)="clicked(data, 0, data.faces[0].idFace, data.idTooth)"
        class="face"
      />

      <!-- Face 2 (Right) -->
      <polygon
        stroke="black"
        points="21,9 21,25 28,33 28,1"
        [attr.id]="data.faces[1].idFace"
        fill="#EAEDEA"
        (click)="clicked(data, 1, data.faces[1].idFace, data.idTooth)"
        class="face"
      />

      <!-- Face 3 (Bottom) -->
      <polygon
        stroke="black"
        points="21,25 28,33 1,33 7,25"
        [attr.id]="data.faces[2].idFace"
        fill="#EAEDEA"
        (click)="clicked(data, 2, data.faces[2].idFace, data.idTooth)"
        class="face"
      />

      <!-- Face 4 (Left) -->
      <polygon
        stroke="black"
        points="1,1 1,33 7,25 7,9"
        [attr.id]="data.faces[3].idFace"
        fill="#EAEDEA"
        (click)="clicked(data, 3, data.faces[3].idFace, data.idTooth)"
        class="face"
      />

      <!-- Face 5 (Center) -->
      <polygon
        stroke="black"
        points="7,9 21,9 21,25 7,25"
        [attr.id]="data.faces[4].idFace"
        fill="#EAEDEA"
        (click)="clicked(data, 4, data.faces[4].idFace, data.idTooth)"
        class="face"
      />

      <!-- Simbologías -->
      @for (face of data.faces; track face; let idx = $index) {
      <ng-container>
        @for (condition of face.conditions; track condition) {
        <ng-container>
          <!-- Diente obturado -->
          @if (condition.condition === ToothConditionsConstant.DIENTE_OBTURADO)
          {
          <ng-container>
            <polygon
              [attr.points]="getFacePoints(idx)"
              fill="blue"
              opacity="0.8"
            />
          </ng-container>
          }
          <!-- Diente cariado -->
          @if (condition.condition === ToothConditionsConstant.DIENTE_CARIADO) {
          <ng-container>
            <polygon
              [attr.points]="getFacePoints(idx)"
              fill="red"
              opacity="0.6"
            />
          </ng-container>
          }
          <!-- Diente con fractura -->
          @if (condition.condition ===
          ToothConditionsConstant.DIENTE_CON_FRACTURA) {
          <ng-container>
            <line
              [attr.x1]="getFracturePoints(idx).x1"
              [attr.y1]="getFracturePoints(idx).y1"
              [attr.x2]="getFracturePoints(idx).x2"
              [attr.y2]="getFracturePoints(idx).y2"
              stroke="red"
              stroke-width="2"
              stroke-dasharray="4"
            />
          </ng-container>
          }

          <!-- Diente obturado con caries -->
          @if (condition.condition ===
          ToothConditionsConstant.DIENTE_OBTURADO_CON_CARIES) {
          <ng-container>
            <polygon
              [attr.points]="getFacePoints(idx)"
              fill="blue"
              opacity="0.6"
              stroke="red"
              stroke-width="2"
            />
          </ng-container>
          }
        </ng-container>
        }
      </ng-container>
      }

      <!-- Contenedor de simbologías a nivel de diente pero con simbilogia sobre este -->
      @for (condition of data.conditions; track data.conditions; let idx =
      $index) {
      <!-- Diente con corona -->
      @if (condition.condition === ToothConditionsConstant.DIENTE_CON_CORONA) {
      <ng-container>
        <polygon points="1,1 28,1 28,33 1,33" fill="blue" opacity="0.6" />
      </ng-container>
      }

      <!-- Mantenedor de espacio con corona -->
      @if (condition.condition ===
      ToothConditionsConstant.MANTENEDOR_DE_ESPACIO_CON_CORONA) {
      <ng-container>
        <polygon points="1,1 28,1 28,33 1,33" fill="blue" opacity="0.3" />
        <line
          x1="0"
          y1="28"
          x2="29"
          y2="28"
          stroke="black"
          stroke-width="2"
          opacity="0.6"
        />
        <line
          x1="20"
          y1="17"
          x2="29"
          y2="17"
          stroke="black"
          stroke-width="2"
          opacity="0.6"
        />
        <line
          x1="0"
          y1="6"
          x2="29"
          y2="6"
          stroke="black"
          stroke-width="2"
          opacity="0.6"
        />
      </ng-container>
      }
      <!-- Mantenedor de espacio con banda -->
      @if (condition.condition ===
      ToothConditionsConstant.MANTENEDOR_DE_ESPACIO_CON_BANDA) {
      <ng-container>
        <line
          x1="0"
          y1="28"
          x2="29"
          y2="28"
          stroke="black"
          stroke-width="2"
          opacity="0.6"
        />
        <line
          x1="20"
          y1="17"
          x2="29"
          y2="17"
          stroke="black"
          stroke-width="2"
          opacity="0.6"
        />
        <line
          x1="0"
          y1="6"
          x2="29"
          y2="6"
          stroke="black"
          stroke-width="2"
          opacity="0.6"
        />
      </ng-container>
      } }
    </svg>

    <!-- Contenedor de simbologías debajo del diente -->
    <div class="tooth-symbols-below">
      @for (condition of data.conditions; track condition) {

      <!-- Fístula -->
      @if (condition.condition === ToothConditionsConstant.FISTULA) {
      <ng-container>
        <img src="../../../../../../assets/svg/fistula.svg" />
      </ng-container>
      }

      <!-- Diente con fluorosis -->
      @if (condition.condition === ToothConditionsConstant.DIENTE_CON_FLUOROSIS)
      {
      <img src="../../../../../../assets/svg/fluorosis.svg" />
      }
      <!-- Diente con hipoplasia -->
      @if (condition.condition ===
      ToothConditionsConstant.DIENTE_CON_HIPOPLASIA) {
      <img src="../../../../../../assets/svg/hipoplasia.svg" />
      }
      <!-- Diente con resto radicular-->
       <!-- Diente con hipoplasia -->
      @if (condition.condition ===
      ToothConditionsConstant.RESTO_RADICULAR) {
      <img src="../../../../../../assets/svg/resto_radicular.svg" />
      }
      <!-- Diente en mal posición derecha -->
      @if (condition.condition ===
      ToothConditionsConstant.DIENTE_EN_MAL_POSICION_DERECHA) {
      <img src="../../../../../../assets/svg/flecha derecha.svg" />
      }
      <!-- Diente en mal posición izquierda -->
      @if (condition.condition ===
      ToothConditionsConstant.DIENTE_EN_MAL_POSICION_IZQUIERDA) {
      <img src="../../../../../../assets/svg/flecha izquierda.svg" />
      } @if (condition.condition ===
      ToothConditionsConstant.DIENTE_PARCIALMENTE_ERUPCIONADO) {
      <img src="../../../../../../assets/svg/erupcion.svg" />
      }
      <!-- Prótesis removible -->
      @if (condition.condition === ToothConditionsConstant.PROTESIS_REMOVIBLE) {
      <img src="../../../../../../assets/svg/protesis_removible.svg" />
      } @if (condition.condition === ToothConditionsConstant.PUENTE) {
      <img src="../../../../../../assets/svg/puente.svg" />
      } }
    </div>
  </div>
</div>
