li {
  padding: 15px 0px 15px 20px !important;
  text-align: left;
  list-style: none;
}

img{
  height: 100%;
  width: 100%;
}

i{
  margin-right: 20px;
}



.hover:hover {
  background-color: var(--on-tertiary); 
  border-radius: 10px;
}


.menu-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: var(--sidebar-text);
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;

  &:hover {
    background-color: var(--on-tertiary);
    color: var(--primary);
    border-radius: 10px;
  }

  &.active {
    background-color: var(--on-tertiary);
    color: var(--primary);
    border-radius: 10px;
  }

  fa-icon {
    margin-right: 0.75rem;
  }

  .menu-text {
    display: flex;
    flex-direction: column;

    span {
      font-weight: bold;
    }

    small {
      font-size: 0.75rem;
      color: var(--side-text-light);
    }
  }
}