li {
  padding: 15px 0px 15px 20px !important;
  text-align: left;
  list-style: none;
}

img{
  height: 100%;
  width: 100%;
}

i{
  margin-right: 20px;
}



.hover:hover {
  background-color: var(--on-tertiary); 
  border-radius: 10px;
}


.menu-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: var(--sidebar-text);
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;

  &:hover {
    background-color: var(--menu-button);
    color: var(--menu-text);
    border-radius: 10px;
  }

  &.active {
    background-color: var(--menu-button);
    color: var(--menu-text);
    border-radius: 10px;
  }

  fa-icon {
    margin-right: 0.75rem;
  }

  .menu-text {
    display: flex;
    flex-direction: column;

    span {
      font-weight: bold;
    }

    small {
      font-size: 0.75rem;
      color: var(--side-text-light);
    }
  }
}

.sub-menu {
  padding-left: 1.5rem;
  background-color: var(--submenu-background); /* Valor por defecto */
  border-radius: 0 0 10px 10px;

  .sub-menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--sidebar-text);
    text-decoration: none;
    transition: all 0.3s ease; /* Cambiado a 'all' para mejor transición */
    margin: 0.25rem 0; /* Espaciado entre items */

    &:hover {
      background-color: var(--menu-button);
      color: var(--menu-text);
      border-radius: 10px;
    }

    &.active {
      background-color: var(--menu-button);
      color: var(--menu-text);
      border-radius: 10px;
    }

    fa-icon {
      margin-right: 0.75rem;
      transition: transform 0.2s ease;
    }

    &:hover fa-icon {
      transform: scale(1.1);
    }

    .menu-text {
      display: flex;
      flex-direction: column;

      span {
        font-weight: bold;
      }

      small {
        font-size: 0.75rem;
        color: var(--side-text-light);
      }
    }
  }
}