::ng-deep .mat-mdc-card-title {
    background-color: var(--tertiary);
    padding: 1rem;
    color: var(--side-text);
    margin-bottom: 1rem !important;
    border-radius: 4px;
    font-size: 1.2rem;
    text-align: center; 
    display: flex;     
    justify-content: center; 
}

.mat-mdc-card{
    background-color: var(--on-primary);
}

.mat-card{
    background-color: var(--on-primary);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: var(--on-primary);
}

::ng-deep .mat-step-header .mat-step-label {
    color: var(--on-primary); 
}

i {
    color: var(--subtext);
}

.custom-color {
    color: var(--on-primary);
}

p {
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: var(--tertiary); /* Color de fondo */
    color: var(--on-primary);
    height: 30px;
}

.info-group {
    border-radius: 8px;
    padding: 1.5rem;
}

.info-item {
    padding: 0.75rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:last-child {
        border-bottom: none;
    }
}



.text-primary {
    color: var(--tertiary);//titulos
}

.admin-details-container {
    padding: 0.5rem;
    max-width: 100%;
    margin: 0 auto;
    max-height: calc(90vh - 120px); // Ajusta según el espacio del título
    overflow-y: auto;
    background-color: var(--on-primary);
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Cambiamos a 2 columnas fijas
    gap: 0.8rem;
    background: var(--on-primary);
    border-radius: 8px;
    padding: 0.5rem;
}

.detail-item {
    background: var(--input-color);
    padding: 0.6rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    min-height: 80px; // Altura mínima más pequeña
    width: 100%; // Asegura que tome el ancho completo del grid
    overflow: hidden; // Evita desbordamiento
    box-shadow: var(--box-shadow); // Agrega sombra



    &:hover {
        transform: translateY(-2px);
    }
}

.detail-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    color: var(--subtext);
    font-weight: 500;

    i {
        margin-right: 0.5rem;
        font-size: 1rem;
    }

    span {
        font-size: 0.9rem;
    }
}

.detail-content {
    font-size: 1rem;
    color: var(--text);
    padding: 0.3rem 0;
    margin-left: 1.7rem;
    word-wrap: break-word; // Permite que las palabras largas se rompan
    overflow-wrap: break-word; // Soporte adicional para navegadores
    white-space: normal; // Permite múltiples líneas
    max-width: calc(100% - 1.7rem); // Considera el margen izquierdo
}

.status-active {
    color: var(--status)
}

.status-inactive {
    color: var(--status-red);
}

::ng-deep .custom-dialog-container {
    mat-dialog-container {
        padding: 0.5rem !important;
    }
}

::ng-deep .mat-mdc-dialog-surface {
    padding: 0.5rem !important;
    overflow: hidden !important;
}

::ng-deep {
    
    .mat-mdc-dialog-container .mdc-dialog__surface {
        background-color: var(--secondary);
    }
}
