<div class="container">
  <main>
    <div class="root">
      <mat-tab-group [(selectedIndex)]="value">
        <mat-tab label="Adulto">
          <div>
            <app-students-tooth
              *ngFor="let item of arcada.adulto; let index = index"
              [data]="item"
              [index]="index"
              (toggleTooth)="toggleTooth($event)"
              (setFace)="setFace($event)"
            ></app-students-tooth>
          </div>
        </mat-tab>
        <mat-tab label="Infantil">
          <div>
            <app-students-tooth
              *ngFor="let item of arcada.infantil; let index = index"
              [data]="item"
              [index]="index"
              (toggleTooth)="toggleTooth($event)"
              (setFace)="setFace($event)"
            ></app-students-tooth>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <app-students-toolbar
      [toolbar]="toolbar"
      (handleAction)="handleAction($event.cor, $event.nome, $event.all)"
    ></app-students-toolbar>
  </main>
  <br><br>
  <div class="mx-4">
    <div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
      <button mat-raised-button color="primary">Siguiente</button>
    </div>
  </div>
  <br><br>
</div>
