i{
  background-color: var(--red-color);
  font-size: 100px !important;
}

.custom-dialog-container{
  height: 500px;
  width: 800px;
}


.mat-mdc-card-title {
  background-color: var(--tertiary);
  padding: 8px;
  border-radius: 2px;
  color: var(--side-text);
}


.title-container {
  display: flex;
  justify-content: space-between;
  color: white;
}
