<!-- Mensaje de bienvenida fuera del overlay -->


<div class="overlay" [class.visible]="isVisible" [class.hidden]="!isVisible">
  <div class="modal">
    <mat-stepper class="content" #stepper [selectedIndex]="activeStep">
      <!-- Step 1: Bienvenida -->
      <mat-step>
        <ng-template matStepLabel>Bienvenida</ng-template>
        <div class="welcome-step">
          <i class="fas fa-smile-beam welcome-icon"></i>
          <h2>{{ welcomeMessage }}</h2>
          <p>Estamos emocionados de tenerte con nosotros. Para comenzar a utilizar el sistema, te guiaremos a través de algunos pasos importantes para configurar tu cuenta.</p>
         <div class="buttons">
          <button mat-flat-button color="primary" (click)="nextStep()">
            Continuar <i class="fas fa-arrow-right"></i>
          </button>
         </div>
        </div>
      </mat-step>

      <!-- Step 2: Información Básica -->
      <mat-step>
        <ng-template matStepLabel>Información Básica</ng-template>
        <div class="info-step">          
          <!-- Agregar el botón de tema aquí -->
          <div class="theme-toggle-container">
            <p class="theme-text">Personaliza tu experiencia seleccionando el tema que prefieras:</p>
            <div class="theme-buttons">
              <!-- Botón modo claro -->
              <button 
                (click)="themeService.setLightTheme()" 
                class="theme-button light-theme" 
                [class.active]="!themeService.isDarkTheme"
                aria-label="Activar modo claro">
                <img src="assets/icons/sol.png" alt="Tema claro" class="icon">
                <span>Modo Claro</span>
              </button>

              <!-- Botón modo oscuro -->
              <button 
                (click)="themeService.setDarkTheme()" 
                class="theme-button dark-theme" 
                [class.active]="themeService.isDarkTheme"
                aria-label="Activar modo oscuro">
                <img src="assets/icons/luna.png" alt="Tema oscuro" class="icon">
                <span>Modo Oscuro</span>
              </button>
            </div>
            <p class="info-message">Si no ves el cambio de colores, verifica la configuración de tu navegador o dispositivo.</p>
          </div>
          <div class="buttons">
            <button mat-stroked-button (click)="backStep()">
              <i class="fas fa-arrow-left"></i> Atrás
            </button>
            <button mat-flat-button color="primary" (click)="nextStep()">
              Continuar <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </mat-step>

      <!-- Step 3: Cambio de Contraseña -->
      <mat-step>
        <ng-template matStepLabel>Cambiar Contraseña</ng-template>
        <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
          <div *ngIf="errorMessage" class="error-message">
            <i class="fas fa-exclamation-circle"></i>
            {{ errorMessage }}
          </div>

          <div class="form-group">
            <label for="currentPassword">
              <i class="fas fa-lock"></i>
              Contraseña Actual
            </label>
            <div class="password-field">
              <input 
                [type]="showCurrentPassword ? 'text' : 'password'"
                id="currentPassword" 
                name="currentPassword" 
                [(ngModel)]="currentPassword"
                required
                placeholder="Ingresa tu contraseña actual"
              >
              <button type="button" class="toggle-password" (click)="togglePasswordVisibility('current')">
                <i class="fas" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label for="newPassword">
              <i class="fas fa-key"></i>
              Nueva Contraseña
            </label>
            <div class="password-field">
              <input 
                [type]="showNewPassword ? 'text' : 'password'"
                id="newPassword" 
                name="newPassword" 
                [(ngModel)]="newPassword"
                required
                placeholder="Ingresa tu nueva contraseña"
              >
              <button type="button" class="toggle-password" (click)="togglePasswordVisibility('new')">
                <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">
              <i class="fas fa-check-circle"></i>
              Confirmar Nueva Contraseña
            </label>
            <div class="password-field">
              <input 
                [type]="showConfirmPassword ? 'text' : 'password'"
                id="confirmPassword" 
                name="confirmPassword" 
                [(ngModel)]="confirmPassword"
                required
                placeholder="Confirma tu nueva contraseña"
              >
              <button type="button" class="toggle-password" (click)="togglePasswordVisibility('confirm')">
                <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>

          <div class="buttons">
            <button mat-stroked-button type="button" (click)="backStep()">
              <i class="fas fa-arrow-left"></i> Atrás
            </button>
            <button mat-flat-button color="primary" type="submit" [disabled]="!passwordForm.form.valid">
              <i class="fas fa-save"></i> Actualizar Contraseña
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
