
<br>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 bg-white clinic">
    <mat-tab label="Datos Personales">
        <app-students-patient-detail (eventoEmitido)="vitalSignsEvent($event)"  (cambiarTab)="recibirTab($event)"
        [idPatient]="id"
        ></app-students-patient-detail>
    </mat-tab>
    <mat-tab label="Signos Vitales"  [disabled]="vitalSigns">
        <app-history-vital-signs (eventoEmitido)="facialExamEvent($event)"  (cambiarTab)="recibirTab($event)"></app-history-vital-signs>
    </mat-tab>
    <mat-tab  label="Examen Facial"  [disabled]="facialExam">
         <app-history-facial-exam (eventoEmitido)="atecedentesHeredofamiliaresEvent($event)"  (cambiarTab)="recibirTab($event)"></app-history-facial-exam>
    </mat-tab>
    <mat-tab label="Antecedentes Heredofamiliares"  [disabled]="atecedentesHeredofamiliares">
        <app-history-family-history (eventoEmitido)="antecedentesPersonalesNoPatologicosEvent($event)"  (cambiarTab)="recibirTab($event)" ></app-history-family-history>
    </mat-tab>
    <mat-tab label="Antecedentes Personales no Patologicos"  [disabled]="antecedentesPersonalesNoPatologicos">
        <app-no-pathological-personal-history (eventoEmitido)="antecedentesPersonalesPatologicosEvent($event)"  (cambiarTab)="recibirTab($event)"></app-no-pathological-personal-history>
    </mat-tab>
    <mat-tab label="Antecedentes Personales Patologicos"  [disabled]="antecedentesPersonalesPatologicos">
        <app-pathological-personal-history (eventoEmitido)="ontogramaInicialEvent($event)"  (cambiarTab)="recibirTab($event)"></app-pathological-personal-history>
    </mat-tab>
    <mat-tab label="Odontograma Inicial" >
        <app-students-odontogram (eventoEmitido)="ontogramaFinalEvent($event)"  (cambiarTab)="recibirTab($event)"></app-students-odontogram>
    </mat-tab>
    <mat-tab label="Odontograma Final">
        <app-students-odontogram (eventoEmitido)="medicionDeBolsasIniciallEvent($event)"  (cambiarTab)="recibirTab($event)"></app-students-odontogram>
    </mat-tab>
    <mat-tab label="Medicion de Bolsas Inicial">
        <app-history-initial-bag (eventoEmitido)="evaluacionEvent($event)"  (cambiarTab)="recibirTab($event)"></app-history-initial-bag>
    </mat-tab>
    <mat-tab label="Evaluación Multidisciplinaria" [disabled]="evaluacion">
        <app-history-multidiciplinary-evaluation></app-history-multidiciplinary-evaluation>
    </mat-tab>
  </mat-tab-group>
  <!-- <button (click)="irSiguienteTabs()">Ir al siguiente tab</button> -->
