@for (item of patientSummary; track $index) {
    <mat-card appearance="outlined" class="fondo">
        <mat-card-title><strong>DATOS DEL PACIENTE</strong></mat-card-title>             
        <mat-card-content>
            <div class="mx-8">
                <br>
                <div class="grid grid-cols-3 gap-4 custom-color">
                    <div>         
                        <div>
                            <strong><i class="far fa-user"></i>&nbsp; {{item.fullName}}</strong>
                        </div>
                        <div>
                            <i class="far fa-id-card"></i>&nbsp; {{item.curp}}
                        </div>  
                        <div>
                            <i class="fas fa-venus-mars"></i> {{item.gender}}
                        </div>
                        <div>
                            <i class="far fa-calendar"></i>&nbsp; Fecha de Nacimiento - {{item.birthDate}}
                        </div>                  
                    </div>
                    <div>
                        <div>
                            <i class="fas fa-phone"></i>&nbsp;  {{item.phone}}
                        </div>
                        <div>
                            <i class="fas fa-envelope"></i>&nbsp; 
                            <a href="mailto:{{ item.email }}">{{ item.email }}</a>
                        </div>
                        <div>
                           <i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;{{item.address}}
                        </div>
                        
                    </div>
                    <div>
                        <div>
                            <i class="far fa-calendar"></i>&nbsp; Fecha de Ingreso - {{item.admissionDate}}
                        </div>
                    
                    </div>
                </div>
                
            </div>
        </mat-card-content>
    </mat-card>
}

<br>

<mat-card-title><strong>HISTORIA CLÍNICA GENERAL</strong></mat-card-title>             
<mat-tab-group mat-stretch-tabs class="bg-white border-gray-100 rounded fondo">
    <mat-tab label="Signos Vitales">
        <app-history-vital-signs (nextTabEventEmitted)="facialExamEvent($event)" (nextMatTab)="recibirTab()"></app-history-vital-signs>
    </mat-tab>
    <mat-tab  label="Examen Facial" [disabled]="facialExam">    
         <app-history-facial-exam (nextTabEventEmitted)="familyMedicalHistoryEvent($event)" (nextMatTab)="recibirTab()"></app-history-facial-exam>
    </mat-tab>
    <mat-tab label="Antecedentes Heredofamiliares" [disabled]="familyMedicalHistory">
        <app-history-family-history (nextTabEventEmitted)="personalNonPathologicalHistoryEvent($event)" (nextMatTab)="recibirTab()" ></app-history-family-history>
    </mat-tab>
    <mat-tab label="Antecedentes Personales no Patologicos" [disabled]="personalNonPathologicalHistory">
        <app-no-pathological-personal-history (nextTabEventEmitted)="personalPathologicalHistoryEvent($event)" (nextMatTab)="recibirTab()"></app-no-pathological-personal-history>
    </mat-tab>
    <mat-tab label="Antecedentes Personales Patologicos" [disabled]="personalPathologicalHistory" >
        <app-pathological-personal-history (nextTabEventEmitted)="initialOntogramEvent($event)" (nextMatTab)="recibirTab()"></app-pathological-personal-history>
    </mat-tab>
    <mat-tab label="Odontograma Inicial" [disabled]="initialOntogram">
        <app-students-odontogram (nextTabEventEmitted)="finalOntogramEvent($event)" (nextMatTab)="recibirTab()"></app-students-odontogram>
    </mat-tab>
    <mat-tab label="Odontograma Final" [disabled]="finalOntogram">
        <app-students-odontogram (nextTabEventEmitted)="initialBagMeasurementEvent($event)" (nextMatTab)="recibirTab()"></app-students-odontogram>
    </mat-tab>
    <mat-tab label="Medicion de Bolsas Inicial" >
        <app-history-initial-bag (nextTabEventEmitted)="evaluationEvent($event)" (nextMatTab)="recibirTab()"></app-history-initial-bag>
    </mat-tab>
    <mat-tab label="Examen clinico" [disabled]="evaluation">
        <app-clinical-exam (nextTabEventEmitted)="functionalAnalysisEvent($event)" (nextMatTab)="recibirTab()"></app-clinical-exam>
    </mat-tab>
    <mat-tab label="Analisis Funcional" [disabled]="functionalAnalysis">
        <app-form-functional-analisis (nextTabEventEmitted)="patientPostureEvent($event)" (nextMatTab)="recibirTab()"></app-form-functional-analisis>
    </mat-tab>
    <mat-tab label="Postura del paciente" [disabled]="patientPosture">
        <app-form-patient-posture (nextTabEventEmitted)="oralExamEvent($event)" (nextMatTab)="recibirTab()"></app-form-patient-posture>
    </mat-tab>
    <mat-tab label="Examen Bucal" [disabled]="oralExam">
        <app-form-bucal-exam (nextTabEventEmitted)="radiographicAnalysisEvent($event)" (nextMatTab)="recibirTab()"></app-form-bucal-exam>
    </mat-tab>
    <mat-tab label="Analisis Radiografico" [disabled]="radiographicAnalysis">
        <app-form-radiographic-analysis (nextTabEventEmitted)="studyModelsAndPhotographsEvent($event)" (nextMatTab)="recibirTab()"></app-form-radiographic-analysis>
    </mat-tab>
    <mat-tab label="Modelos de estudio y fotografias" [disabled]="studyModelsAndPhotographs">
        <app-form-study-models-and-photographs (nextTabEventEmitted)="laboratoryStudiesEvent($event)" (nextMatTab)="recibirTab()"></app-form-study-models-and-photographs>
    </mat-tab>
    <mat-tab label="Estudio de Laboratorio/Biopsia" [disabled]="laboratoryStudies">
        <app-form-laboratory-study-and-biopsy (nextTabEventEmitted)="medicalConsultationEvent($event)" (nextMatTab)="recibirTab()"></app-form-laboratory-study-and-biopsy>
    </mat-tab>
    <mat-tab label="Interconsulta Medica" [disabled]="medicalConsultation">
        <app-form-medical-consultation (nextMatTab)="recibirTab()"></app-form-medical-consultation>
    </mat-tab>
</mat-tab-group>
