<main class="p-10  shadow-md rounded-lg rounded-lg">
  <div class="flex justify-between items-center mb-6">
    <h1 class="title text-2xl font-semibold">{{title}}</h1>
  </div>

  <!-- Campo de búsqueda -->
  <div class="flex items-center mb-4">
    <div class="relative w-full">
      <input id="search" [(ngModel)]="searchText" (input)="filterData()" placeholder="Buscar..."
        class="search-input rounded-lg py-2 px-2 w-full shadow-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" />
      <i class="fas fa-search absolute top-1/2 transform -translate-y-1/2 right-3 text-gray-400"></i>
    </div>
  </div>

  <!-- Tabla -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="custom-table w-full text-sm text-left rtl:text-right">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100">
        <tr>
          @for (column of columnas; track trackByIndex($index, column)) {
          <th scope="col" class="px-6 py-3 cursor-pointer" (click)="onSort(column)">
            {{ column }}
            <i [class]="getSortIcon(column)" class="ml-1"></i>
          </th>
          }
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        @for (data of filteredData | paginate: { 
          itemsPerPage: itemsPerPage, 
          currentPage: page,
          totalItems: totalItems 
        }; track data) {
        <tr class="border-b"> <!-- Removido 'bg-white' de la clase -->
          @for (nombre of columnas; track trackByIndex($index, nombre)) {
          <td class="px-6 py-4">
            @if (nombre === 'estatus') {
              <span class="status-badge cursor-pointer" [ngClass]="getStatusClass(data[nombre])" (click)="onAction('changeStatus', data)">
                {{ data[nombre] }}
              </span>
            } @else {
              {{ data[nombre] }}
            }
          </td>
          }
            <td class="py-4 text-left flex">
              @if (showSearchIcon) {
              <a class="text-blue-600 hover:text-blue-700 mr-4" 
                 (click)="onAction('Detalles', data)"
                 title="Ver detalles">
                <i class="fas fa-search"></i>
              </a>
              }
              @if (showEditIcon) {
              <a class="text-blue-600 hover:text-blue-700 mr-4" 
                 (click)="onAction('Modificar', data)"
                 title="Modificar registro">
                <i class="fas fa-pencil-alt"></i>
              </a>
              }
              @if (showFolderIcon) {
              <a class="text-blue-600 hover:text-blue-700 mr-4" 
                 (click)="onAction('Editar', data)"
                 title="Editar historial">
                <i class="fas fa-folder"></i>
              </a>
              }
              @if (showStatusIcon) {
                <a class="text-blue-600 hover:text-blue-700 mr-4" 
                   (click)="onAction('Restablecer', data)"
                   title="Restablecer contraseña">
                   <i class="fas fa-key"></i>
                </a>
                }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <br>

  <!-- Selector para elegir el número de elementos por página -->
  <div>
    <label for="pageSize">Datos por página:</label>
    <select id="pageSize" [(ngModel)]="itemsPerPage" (change)="onPageSizeChange()">
      @for (size of pageSizes; track size) {
      <option [value]="size">{{ size }}</option>
      }
    </select>
  </div>

  <!-- Paginación -->
  <div class="mt-4">
    <pagination-controls 
      previousLabel="Anterior" 
      nextLabel="Siguiente" 
      class="text-center"
      (pageChange)="onPageChange($event)">
    </pagination-controls>
  </div>
</main>