<form [formGroup]="patientForm" (ngSubmit)="sumbmit()">
  <!-- Campo idPatient -->
  <input type="text" formControlName="idPatient">

  <!-- Campo admissionDate -->
  <input type="text" formControlName="admissionDate">

  <!-- Campo isMinor -->
  <input type="text" formControlName="isMinor">

  <!-- Campo hasDisability -->
  <input type="text" formControlName="hasDisability">

  <!-- Campo nationalityId -->
  <input type="text" formControlName="nationalityId">

  <!-- Grupo 'person' -->
  <div formGroupName="person">
    <!-- Campo curp -->
    <input type="text" formControlName="curp">
    
    <!-- Campo firstName -->
    <input type="text" formControlName="firstName">
    
    <!-- Campo secondName -->
    <input type="text" formControlName="secondName">
    
    <!-- Campo firstLastName -->
    <input type="text" formControlName="firstLastName">
    
    <!-- Campo secondLastName -->
    <input type="text" formControlName="secondLastName">
    
    <!-- Campo phone -->
    <input type="text" formControlName="phone">
    
    <!-- Campo birthDate -->
    <input type="text" formControlName="birthDate">
    
    <!-- Campo email -->
    <input type="text" formControlName="email">

    <!-- Grupo 'gender' dentro de 'person' -->
    <div formGroupName="gender">
      <!-- Campo idGender -->
      <input type="text" formControlName="idGender">
      
      <!-- Campo gender -->
      <input type="text" formControlName="gender">
    </div>
  </div>

  <!-- Grupo 'address' -->
  <div formGroupName="address">
    <!-- Campo streetNumber -->
    <input type="text" formControlName="streetNumber">
    
    <!-- Campo interiorNumber -->
    <input type="text" formControlName="interiorNumber">
    
    <!-- Grupo 'housing' dentro de 'address' -->
    <div formGroupName="housing">
      <!-- Campo idHousing -->
      <input type="text" formControlName="idHousing">
      
      <!-- Campo category -->
      <input type="text" formControlName="category">
    </div>
    
    <!-- Grupo 'street' dentro de 'address' -->
    <div formGroupName="street">
      <!-- Campo idStreet -->
      <input type="text" formControlName="idStreet">
      
      <!-- Campo name -->
      <input type="text" formControlName="name">
      
      <!-- Grupo 'neighborhood' dentro de 'street' -->
      <div formGroupName="neighborhood">
        <!-- Campo idNeighborhood -->
        <input type="text" formControlName="idNeighborhood">
        
        <!-- Campo name -->
        <input type="text" formControlName="name">
        
        <!-- Grupo 'locality' dentro de 'neighborhood' -->
        <div formGroupName="locality">
          <!-- Campo idLocality -->
          <input type="text" formControlName="idLocality">
          
          <!-- Campo name -->
          <input type="text" formControlName="name">
          
          <!-- Grupo 'municipality' dentro de 'locality' -->
          <div formGroupName="municipality">
            <!-- Campo idMunicipality -->
            <input type="text" formControlName="idMunicipality">
            
            <!-- Campo name -->
            <input type="text" formControlName="name">
            
            <!-- Grupo 'state' dentro de 'municipality' -->
            <div formGroupName="state">
              <!-- Campo idState -->
              <input type="text" formControlName="idState">
              
              <!-- Campo name -->
              <input type="text" formControlName="name">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit">sdfsd</button>
</form>


<!-- Número exterior -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Número exterior</label
  >
  <input
    type="number"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Número interior -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Número interior</label
  >
  <input
    type="number"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Tipo de vivienda -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Tipo de vivienda</label
  >
  <input
    type="text"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Calle -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Calle</label
  >
  <input
    type="text"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Colonia -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Colonia</label
  >
  <input
    type="text"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Localidad -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Localidad</label
  >
  <input
    type="text"
    [formControl]="controlLocalitie"
    [matAutocomplete]="autoLocality"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <mat-autocomplete #autoLocality="matAutocomplete">
    @for (item of filteredLocality | async; track item) {
    <mat-option [value]="item">{{ item }}</mat-option>
    }
  </mat-autocomplete>
</div>

<!-- Codigo postal -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Código postal</label
  >
  <input
    type="number"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Municipio -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Municipio</label
  >
  <input
    type="text"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Estado -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Estado</label
  >
  <input
    type="text"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Estado civil -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Estado Civil</label
  >
  <input
    type="text"
    [formControl]="controlMaritalStatus"
    [matAutocomplete]="autoMaritalStatus"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <mat-autocomplete #autoMaritalStatus="matAutocomplete">
    @for (item of filteredMaritalStatus | async; track item) {
    <mat-option [value]="item">{{ item }}</mat-option>
    }
  </mat-autocomplete>
</div>

<!-- Ocupacion -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Ocupacion</label
  >
  <input
    type="text"
    [formControl]="controlOcupation"
    [matAutocomplete]="autoOcupation"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <mat-autocomplete #autoOcupation="matAutocomplete">
    @for (item of filteredOcupations | async; track item) {
    <mat-option [value]="item">{{ item }}</mat-option>
    }
  </mat-autocomplete>
</div>

<!-- Grupo etnico -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Grupo Etnico</label
  >
  <input
    type="text"
    [formControl]="controlEthnicGroup"
    [matAutocomplete]="auto"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <mat-autocomplete #auto="matAutocomplete">
    @for (item of filteredEthnicGroup | async; track item) {
    <mat-option [value]="item">{{ item }}</mat-option>
    }
  </mat-autocomplete>
</div>

<!-- Religion -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Religion</label
  >
  <input
    type="text"
    [formControl]="controlReligion"
    [matAutocomplete]="autoReligion"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <mat-autocomplete #autoReligion="matAutocomplete">
    @for (item of filteredReligion | async; track item) {
    <mat-option [value]="item">{{ item }}</mat-option>
    }
  </mat-autocomplete>
</div>

<!-- Fecha de ingreso -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Fecha de ingreso</label
  >
  <input
    type="date"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Discapacidad -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Discapacidad</label
  >
  <input
    type="text"
    [formControl]="controlOcupation"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Nacionalidad -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Nacionalidad</label
  >
  <input
    type="text"
    [formControl]="controlNationality"
    [matAutocomplete]="autoNationality"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <mat-autocomplete #autoNationality="matAutocomplete">
    @for (item of filteredNationality | async; track item) {
    <mat-option [value]="item">{{ item }}</mat-option>
    }
  </mat-autocomplete>
</div>

<!-- Ultima consulta -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Ultima Consulta</label
  >
  <input
    type="date"
    class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</div>

<!-- Motivo de consulta -->
<div class="relative flex-grow w-full">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Motivo de Consulta</label
  >
  <textarea
    id="message"
    rows="4"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
  ></textarea>
</div>