<div class="mx-4">
  <label mat-label>Agregar paciente</label>
  <form>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4 mb-16"
    >
      <!-- Nombre -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Nombre</label
        >

        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Edad -->
      <!-- <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Edad</label
        >
        <input
          type="number"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div> -->
      <!-- Sexo -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Sexo</label
        >
        <input
          type="text"
          [formControl]="controlGender"
          [matAutocomplete]="autoGender"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <mat-autocomplete #autoGender="matAutocomplete">
          @for (item of filterGender | async; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-autocomplete>
      </div>
      <!-- Grupo etnico -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Grupo Etnico</label
        >
        <input
          type="text"
          [formControl]="controlEthnicGroup"
          [matAutocomplete]="auto"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (item of filteredEthnicGroup | async; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-autocomplete>
      </div>
      <!-- Ocupacion -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Ocupacion</label
        >
        <input
          type="text"
          [formControl]="controlOcupation"
          [matAutocomplete]="autoOcupation"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <mat-autocomplete #autoOcupation="matAutocomplete">
          @for (item of filteredOcupations | async; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-autocomplete>
      </div>
      <!-- Fecha de nacimiento -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Fecha de Nacimiento</label
        >
        <input
          type="date"
          name="birthDate"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [(ngModel)]="birthDate"
          (change)="onFechaNacimientoChange()"
        />
      </div>

      <!-- Grado escolar -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Grado Escolar</label
        >
        <select
          id="countries"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option></option>
          <option>Media Superior</option>
          <option>Primaria</option>
          <option>Scundaria</option>
          <option>Universidad</option>
        </select>
      </div>
      <!-- Telefono -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Telefono</label
        >
        <input
          type="number"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Domicilio -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Domicilio</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Estado civil -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Estado Civil</label
        >
        <input
          type="text"
          [formControl]="controlMaritalStatus"
          [matAutocomplete]="autoMaritalStatus"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <mat-autocomplete #autoMaritalStatus="matAutocomplete">
          @for (item of filteredMaritalStatus | async; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-autocomplete>
      </div>
      <!-- Religion -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Religion</label
        >
        <input
          type="text"
          [formControl]="controlReligion"
          [matAutocomplete]="autoReligion"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <mat-autocomplete #autoReligion="matAutocomplete">
          @for (item of filteredReligion | async; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-autocomplete>
      </div>
      <!-- Fecha de ingreso -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Fecha de ingreso</label
        >
        <input
          type="date"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Nacionalidad -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Nacionalidad</label
        >
        <input
          type="text"
          [formControl]="controlNationality"
          [matAutocomplete]="autoNationality"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <mat-autocomplete #autoNationality="matAutocomplete">
          @for (item of filteredNationality | async; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-autocomplete>
      </div>
      <!-- Localidad -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Localidad</label
        >
        <input
          type="text"
          [formControl]="controlLocalitie"
          [matAutocomplete]="autoLocality"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <mat-autocomplete #autoLocality="matAutocomplete">
          @for (item of filteredLocality | async; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-autocomplete>
      </div>
      <!-- Correo electronico -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Correo Electronico</label
        >
        <input
          type="email"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Ultima consulta -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Ultima Consulta</label
        >
        <input
          type="date"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>

      <!-- Motivo de consulta -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Motivo de Consulta</label
        >
        <textarea
          id="message"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        ></textarea>
      </div>
    </div>
    @if (youngerForm) {
    <h1>Datos de los padres</h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 mt-4 mb-16"
    >
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Nombre del padre</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Ocupacion</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Nombre de la Madre</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Ocupacion</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Estado civil de los padres</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Nombre del medico familiar</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
    </div>

    }

    <div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
      <button mat-raised-button color="primary">Siguiente</button>
    </div>
  </form>
</div>
