<div class="mx-4">
  <form>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4 mb-4">
      <!-- Nombre -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Nombre</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Edad -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Edad</label
        >
        <input
          type="number"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Sexo -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Sexo</label
        >
        <select
          id="countries"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option>--</option>
          <option>Hombre</option>
          <option>Mujer</option>
        </select>
      </div>
      <!-- Grupo etnico -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Grupo Etnico</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Ocupacion -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Ocupacion</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Fecha de nacimiento -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Fecha de Nacimiento</label
        >
        <input
          type="date"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Grado escolar -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Grado Escolar</label
        >
        <select
          id="countries"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option>--</option>
          <option>Primaria</option>
          <option>Scundaria</option>
          <option>Media Superior</option>
          <option>Universidad</option>
        </select>
      </div>
      <!-- Telefono -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Telefono</label
        >
        <input
          type="number"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Domicilio -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Domicilio</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Estado civil -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Estado Civil</label
        >
        <select
          id="countries"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option>--</option>
          <option>Soltero</option>
          <option>Casado</option>
          <option>Divorciado</option>
        </select>
      </div>
      <!-- Religion -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Religion</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Fecha de ingreso -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Fecha de ingreso</label
        >
        <input
          type="date"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Nacionalidad -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Nacionalidad</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Localidad -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Localidad</label
        >
        <input
          type="text"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Correo electronico -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Correo Electronico</label
        >
        <input
          type="email"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Ultima consulta -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Ultima Consulta</label
        >
        <input
          type="date"
          class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <!-- Motivo de consulta -->
      <div class="relative flex-grow w-full">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          >Motivo de Consulta</label
        >
        <textarea
          id="message"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        ></textarea>
      </div>
    </div>
    <div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
      <button mat-raised-button color="primary">Siguiente</button>
    </div>
  </form>
</div>
