.profile-config {
    width: 90%;
    max-width: 70rem;
    margin: 2rem auto;
    background-color:var(--secondary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .profile-config__header {
    padding: 2rem;
    background-color: #2061a1;
    text-align: center;
  }
  
  .profile-config__title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #e2e8f0;
  }
  
  .profile-config__description {
    color: #e2e8f0;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .profile-config__tabs {
    margin-bottom: 1.5rem;
  }
  
  .tab-list {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #e2e8f0;
    padding: 1rem 0;
  }
  
  .tab-link {
    padding: 0.75rem 1.5rem;
    color: #4a5568;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  .tab-link.active {
    color: #2b6cb0;
    border-bottom: 3px solid #2b6cb0;
  }
  
  .form-group {
    margin-bottom: 1.5rem; /* Espacio más amplio entre los campos */
    padding: 0 1.5rem; /* Añadir padding a los lados para separar del borde */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--on-secondary)
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem 1rem; /* Más padding para hacer el campo más amplio */
    border: 1px solid #cbd5e0; /* Bordes más suaves */
    border-radius: 0.375rem; /* Bordes redondeados */
    background-color: #f7fafc; /* Fondo más claro */
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #3182ce; /* Cambia el borde al azul cuando está enfocado */
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.3); /* Efecto de foco */
  }
  
  .form-group input::placeholder {
    color: #a0aec0; /* Color del placeholder más suave */
  }
  
  
  .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    transition: border-color 0.3s ease;
  }
  
  .form-control:focus {
    border-color: #3182ce;
    outline: none;
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: #2b6cb0;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #2c5282;
  }
  
  .btn-secondary {
    background-color: #718096;
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: #4a5568;
  }
  
  .photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .photo-preview {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 2px solid #e2e8f0;
  }
  
  .photo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #b5b5b5;
  }
  
  .profile-config__footer {
    background-color: var(--secondary);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  