<div class="template-progress-note">
    <div class="custom-header">
        <img src="assets/unsis_logo.png" alt="Logo UNSIS">
        <div class="header-text">
            <h3>UNIVERSIDAD DE LA SIERRA SUR</h3>
            <h4>Licenciatura en Odontología</h4>
            <h4>Clinica de Odontología</h4>
            <h4><strong>NOTA DE EVOLUCIÓN</strong></h4>
        </div>
    </div>
    <hr>    
    <main>
        <p>Nombre completo del paciente:</p>
        <p>Fecha de nacimiento:</p>
        <p>Edad:</p>
        <p>Sexo:</p>
        <p>Lugar de procedencia:</p>
        <p>Número de expediente:</p>
        <p>Fecha y hora de elaboración:</p>
        <br>
        <p><strong>Actualización del cuadro clínico</strong></p>
        <br>
        <p>Presión arterial:</p>
        <p>Temperatura:</p>
        <p>Frecuencia cardíaca:</p>
        <p>Frecuencia respiratoria:</p>
        <p>Saturación de oxígeno:</p>
        <p>Diagnóstico:</p>
        <p>Pronóstico:</p>
        <p>Tratamiento:</p> 
        <p>Indicaciones odontologícas</p>    
        <br>
        <p>Nombre y firma del operador que elaboró la nota: <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u></p>
        <br>
        <p>Firma del paciente: <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u></p>
        <br>
        <p>Nombre y firma del profesor responsable: <u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u></p>        
    </main>
    <footer>
        <!-- Pie de página -->
    </footer>
</div>