<mat-card class="full-width-card">
    <mat-card-title><strong>Calificar secciones de historia clinica</strong></mat-card-title>
</mat-card>
<br>
@if (!isLoading) {

@if (formSectionMapped.status === 'IN_REVIEW') {
  <div class="flex justify-end mb-4">
    <button class="rate-treatment" mat-button (click)="opedDialogRateFormSections()">
      Calificar sección
    </button>
</div>
}

<mat-card-title><strong>{{formSectionMapped.title}}</strong></mat-card-title>
<mat-card>
  <app-tab-form
    [patientMedicalRecord]="patientMedicalRecordId"
    [fieldsTab]="formSectionMapped"
    [patientUuid]="patientUUID">
  ></app-tab-form>
</mat-card>
}
