<mat-card appearance="outlined" class="custom">
    <app-card-patient-data [data]="patientData" [guardianData]="guardianData"></app-card-patient-data>
</mat-card>
<br>
@if (mappedHistoryData) {
    <mat-card-title>
        <div class="title-container">
          <span><strong>Historia clínica {{mappedHistoryData.title}}</strong></span>
          <span>
            <strong>Número de expediente: {{mappedHistoryData.medicalRecordNumber}}</strong> - 
            @if (!status) {
                <button class="button-custom" (click)="sendToReview()">Enviar a revisión <i class="fas fa-file-upload"></i></button>
            }
            @if (status) {
                <span class="status" [innerHTML]="translateStatus(status.status)"></span>
            }
          </span> 
        </div>
    </mat-card-title>
    <mat-card class="custom">
            <mat-tab-group [(selectedIndex)]="currentIndex">
                @for (tab of mappedHistoryData.tabs; track tab) {
                    <mat-tab [label]="tab.title">
                        @if (tab.isAnswered) {
                            <app-tab-form-update
                            [fieldsTab]="tab" 
                            (nextMatTab)="onNextTab()"
                            (previousMatTab)="onPreviousTab()"
                            ></app-tab-form-update>
                        }
                        @if (!tab.isAnswered) {
                            <app-tab-form 
                            [fieldsTab]="tab" 
                            (nextMatTab)="onNextTab()"
                            (previousMatTab)="onPreviousTab()"
                        ></app-tab-form>
                        }
                    </mat-tab>
              }
        </mat-tab-group>
    </mat-card>
}
  