<mat-card appearance="outlined" class="custom">
    <app-card-patient-data [data]="patientData" [guardianData]="guardianData"></app-card-patient-data>
</mat-card>
<br>
@if (mappedHistoryData) {
    <mat-card-title>
        <app-header-history-clinic 
          [mappedHistoryData]="mappedHistoryData"
          [idPatientClinicalHistory]="idPatientClinicalHistory"
          [currentSectionId]="currentSectionId"
          [currentStatus]="currentStatus"
          [currentIndex]="currentIndex"
          [role]="role">
        </app-header-history-clinic>
    </mat-card-title>
    <mat-card class="custom">
            <mat-tab-group [(selectedIndex)]="currentIndex" (selectedIndexChange)="onTabChange($event)">
                @for (tab of mappedHistoryData.tabs; track tab) {
                    <mat-tab [label]="tab.title">
                        @if (tab.isAnswered) {
                            <app-tab-form-update
                            [fieldsTab]="tab" 
                            (nextMatTab)="onNextTab()"
                            (previousMatTab)="onPreviousTab()"
                            ></app-tab-form-update>
                        }
                        @if (!tab.isAnswered) {
                            <app-tab-form 
                            [fieldsTab]="tab" 
                            (nextMatTab)="onNextTab()"
                            (previousMatTab)="onPreviousTab()"
                        ></app-tab-form>
                        }
                    </mat-tab>
              }
        </mat-tab-group>
    </mat-card>
}
  