<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
  @for (card of cards; track card; let i = $index) {
    <div class="bg-white rounded-lg shadow overflow-hidden">
      <div class="bg p-6 flex flex-col h-full">
        <div class="flex justify-between items-start mb-4">
          <h2 class="tt text-lg font-semibold">{{ card.title }}</h2>
          <i [ngClass]="card.icon" class="h-6 w-6 fa-3x text-gray-400"></i>
        </div>
        <p class="text-gray-600 text-xl	flex-grow">{{card.content}}</p>
        <div class="h-2 mt-4 -mx-6 -mb-6" [ngClass]="card.color"></div>
      </div>
    </div>
  }
</div>
