<div>
  <main>
    <div class="root custom-text">
      <mat-tab-group [(selectedIndex)]="value" (selectedIndexChange)="handleChange($event, value)">
        <mat-tab label="Adulto">
          <div class="odontogram-container">
            @if (data.adultArcade.tooths) {
              <div class="quadrants">
                <!-- Superior Row -->
                <div class="upper-row">
                  <!-- Cuadrante 1 (Superior Derecho) -->
                  <div class="quadrant right-quadrant">
                    @for (tooth of getQuadrantTeeth(data.adultArcade.tooths, 1); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                  <!-- Cuadrante 2 (Superior Izquierdo) -->
                  <div class="quadrant left-quadrant">
                    @for (tooth of getQuadrantTeeth(data.adultArcade.tooths, 2); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                </div>
                <!-- Lower Row -->
                <div class="lower-row">
                  <!-- Cuadrante 4 (Inferior Derecho) -->
                  <div class="quadrant right-quadrant">
                    @for (tooth of getQuadrantTeeth(data.adultArcade.tooths, 4); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                  <!-- Cuadrante 3 (Inferior Izquierdo) -->
                  <div class="quadrant left-quadrant">
                    @for (tooth of getQuadrantTeeth(data.adultArcade.tooths, 3); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </mat-tab>
        <mat-tab label="Infantil">
          <div class="odontogram-container">
            @if (data.childrenArcade.tooths) {
              <div class="quadrants">
                <!-- Superior Row -->
                <div class="upper-row">
                  <!-- Cuadrante 1 (Superior Derecho) -->
                  <div class="quadrant right-quadrant">
                    @for (tooth of getQuadrantTeeth(data.childrenArcade.tooths, 5); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                  <!-- Cuadrante 2 (Superior Izquierdo) -->
                  <div class="quadrant left-quadrant">
                    @for (tooth of getQuadrantTeeth(data.childrenArcade.tooths, 6); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                </div>
                <!-- Lower Row -->
                <div class="lower-row">
                  <!-- Cuadrante 4 (Inferior Derecho) -->
                  <div class="quadrant right-quadrant">
                    @for (tooth of getQuadrantTeeth(data.childrenArcade.tooths, 8); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                  <!-- Cuadrante 3 (Inferior Izquierdo) -->
                  <div class="quadrant left-quadrant">
                    @for (tooth of getQuadrantTeeth(data.childrenArcade.tooths, 7); track tooth.idTooth) {
                      <app-students-tooth
                        [data]="tooth"
                        [index]="$index"
                        [marked]="data.marked"
                        (toggleTooth)="toggleTooth($event)"
                        (setFace)="setFace($event)"
                      />
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    @if (toolbar.options) {
      <app-students-toolbar
        [toolbar]="toolbar"
        (handleAction)="handleAction($event)"
      />
    }
  </main>

  <div class="mx-2 mt-8">
    <div class="relative flex-grow w-full">
      <label
        for="observations"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
      >
        Observaciones: (Anotar condiciones y aparatos que no aparezcan en los códigos)
      </label>
      <textarea
        id="observations"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ></textarea>
    </div>
  </div>
</div>