<div class="container">
  <main>
    <div class="root custom-text">
      <mat-tab-group [(selectedIndex)]="value">
        <mat-tab label="Adulto">
          <div>
            @if (adultArcade) { 
              @for (item of adultArcade.tooths; track item) {
              <app-students-tooth
                [data]="item"
                [index]="$index"
                (toggleTooth)="toggleTooth($event)"
                (setFace)="setFace($event)"
              ></app-students-tooth>
            } 
          }
          </div>
        </mat-tab>
        <mat-tab label="Infantil">
          <div>
            @if (childrenArcade) { 
              @for (item of childrenArcade.tooths; track $index)
              {
              <app-students-tooth
                [data]="item"
                [index]="$index"
                [marked]="marked"
                (toggleTooth)="toggleTooth($event)"
                (setFace)="setFace($event)"
              ></app-students-tooth>
              } 
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    @if(toolbar){
      <app-students-toolbar
      [toolbar]="toolbar"
      (handleAction)="handleAction($event)"
    ></app-students-toolbar>
    }
  </main>
  <br /><br />
  <div class="mx-2">
    <!-- Observaciones -->
    <div class="relative flex-grow w-full">
      <label
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
        >Observaciones: (Anotar condiciones y aparatos que no aparezcan en el
        códigos)</label
      >
      <textarea
        id="message"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      ></textarea>
    </div>
    <div>
  </div>
</div>
