
<div class="relative overflow-x-auto shadow-md sm:rounded-lg gap-4 mt-4 mb-16 mr-4 ml-4">
    <table class="w-full text-sm text-left rtl:text-right text-black-500 dark:text-black">
        <thead class="text-xs text-black uppercase bg-gray-50 dark:bg-white-700 dark:text-black">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Respuesta
                </th>
                <th scope="col" class="px-6 py-3">
                    Si/No
                </th>
            
            </tr>
        </thead>
        <tbody>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Materia Alba
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Placa Bacteriana
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Sarro
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Gingivitis 
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Bolsas Periodontales
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Absceso Periodontal
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Reabsorción Ósea
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Movilidad Denta
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>
        </tbody>
    </table>
    <br>
     
</div>
<div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
    <button (click)="nextPage()" mat-raised-button color="primary">  Continuar</button>
</div>
v