* {
  padding: 0;
  margin: 0;
}
.boxTooth {
  width: 35px;
  float: left;
  margin: 0 10px 50px 0;
}
.addButton,
.removeButton {
  margin-bottom: 5px;
  width: 16px;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}
.addButton {
  float: left;
  background: green;
  color: white;
}
.removeButton {
  float: right;
  background: red;
  color: white;
}
.tooth {
  display: block;
  margin: 0 auto;
}
.tooth.disabled {
  display: none;
}

.clear {
  clear: both;
}

.spaceRight {
  margin-right: 40px;
}
.noMarginRight {
  margin-right: 0;
}

.face {
  cursor: pointer;
}

.simbols{
  text-align: center !important;
  font-size: 20px ;
}

.tooth-symbols-below {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooth-symbol-fluorosis {
  font-size: 14px;
  color: blue;
  margin-right: 5px;
}

.tooth-symbol-mispositioned {
  display: inline-block;
  margin-left: 5px;
}

.tooth-symbol-removable-prosthesis {
  display: inline-block;
  margin-left: 5px;
}