.quadrant-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.quadrant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px;
}

.figure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.svg-figure {
  display: block;
}

p {
  color: var(--text);
}

.button-custom {
  background-color: var(--tertiary);
  color: var(--side-text);
  border-radius: 2px;
  padding: 8px 16px;
}

mat-expansion-panel {
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--on-primary);
}

.grid-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  background-color: var(--tertiary);
  color: var(--side-text) !important;
}

