<div class="svg-container">
  @for (figure of figures; track $index) {
  <div class="figure-wrapper">
    <!-- Botones -->
    <div class="button-container">
      @if (toothDisabled) {
        <button title="Diente no presente" class="removeButton" (click)="deleteTooth()">-</button>
      }@else{
        <button title="Diente presente" class="addButton" (click)="resotreTooth()">+</button>
      }
    </div>

    <!-- SVG -->
    <svg
      width="70"
      height="70"
      xmlns="http://www.w3.org/2000/svg"
      class="svg-figure"
    >
      <!-- Cuadrado base -->
      <rect width="70" height="70" fill="none" stroke="black" stroke-width="2" />

      <!-- Triángulo superior-izquierdo -->
      <polygon
        points="0,0 35,35 0,70"
        [attr.fill]="isSelected('polygon1-' + $index) ? 'red' : 'transparent'"
        stroke="black"
        stroke-width="2"
        (click)="changeColor('polygon1-' + $index)"
      />

      <!-- Triángulo superior-derecho -->
      <polygon
        points="70,0 35,35 70,70"
        [attr.fill]="isSelected('polygon2-' + $index) ? 'red' : 'transparent'"
        stroke="black"
        stroke-width="2"
        (click)="changeColor('polygon2-' + $index)"
      />

      <!-- Triángulo inferior-izquierdo -->
      <polygon
        points="0,70 35,35 70,70"
        [attr.fill]="isSelected('polygon3-' + $index) ? 'red' : 'transparent'"
        stroke="black"
        stroke-width="2"
        (click)="changeColor('polygon3-' + $index)"
      />

      <!-- Triángulo inferior-derecho -->
      <polygon
        points="0,0 35,35 70,0"
        [attr.fill]="isSelected('polygon4-' + $index) ? 'red' : 'transparent'"
        stroke="black"
        stroke-width="2"
        (click)="changeColor('polygon4-' + $index)"
      />
    </svg>
  </div>
  }
</div>