<div class="quadrant-container">
  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 1); track tooth.idTooth) {
      <div class="figure-wrapper">
        <div class="button-container">
          @if (toothDisabled[tooth.idTooth]) {
            <button
              title="Diente no presente"
              class="removeButton"
                (click)="deleteTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              -
            </button>
          } @else {
            <button
              title="Diente presente"
              class="addButton"
              (click)="restoreTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              +
            </button>
          }
        </div>

        @if (toothDisabled[tooth.idTooth]) {
          <svg
            width="35"
            height="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svg-figure"
            [class.deactivated]="toothDeactivated[tooth.idTooth]"
          >
            <rect
              width="35"
              height="35"
              fill="none"
              stroke="var(--text)"
              stroke-width="2"
            />

            <!-- Cara 1 -->
            <polygon
              points="0,0 17.5,17.5 0,35"
              [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-1')"
            />

            <!-- Cara 2 -->
            <polygon
              points="35,0 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-2')"
            />

            <!-- Cara 3 -->
            <polygon
              points="0,35 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-3')"
            />

            <!-- Cara 4 -->
            <polygon
              points="0,0 17.5,17.5 35,0"
              [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-4')"
            />

            @if (showTriangle[tooth.idTooth]) {
              <polygon
                points="17.5,5 35,25 0,25"
                stroke="red"
                fill="transparent"
                stroke-width="2"
              />
            }
          </svg>
        }

        <p>{{ tooth.idTooth }}</p>

        @if (toothDisabled[tooth.idTooth]) {
          <button
            class="icon-button"
            title="Diente extraido"
            (click)="deactivateTooth(tooth.idTooth)"
          >
            <svg
              width="12"
              height="12"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polygon
                points="6,1 11,11 1,11"
                fill="none"
                stroke="var(--text)"
                stroke-width="1"
              />
            </svg>
          </button>
        }
      </div>
    }
  </div>

  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 2); track tooth.idTooth) {
      <div class="figure-wrapper">
        <div class="button-container">
          @if (toothDisabled[tooth.idTooth]) {
            <button
              title="Diente no presente"
              class="removeButton"
              (click)="deleteTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              -
            </button>
          } @else {
            <button
              title="Diente presente"
              class="addButton"
              (click)="restoreTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              +
            </button>
          }
        </div>

        @if (toothDisabled[tooth.idTooth]) {
          <svg
            width="35"
            height="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svg-figure"
            [class.deactivated]="toothDeactivated[tooth.idTooth]"
          >
            <rect
              width="35"
              height="35"
              fill="none"
              stroke="var(--text)"
              stroke-width="2"
            />

            <!-- Cara 1 -->
            <polygon
              points="0,0 17.5,17.5 0,35"
              [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-1')"
            />

            <!-- Cara 2 -->
            <polygon
              points="35,0 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-2')"
            />

            <!-- Cara 3 -->
            <polygon
              points="0,35 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-3')"
            />

            <!-- Cara 4 -->
            <polygon
              points="0,0 17.5,17.5 35,0"
              [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-4')"
            />

            @if (showTriangle[tooth.idTooth]) {
              <polygon
                points="17.5,5 35,25 0,25"
                stroke="red"
                fill="transparent"
                stroke-width="2"
              />
            }
          </svg>
        }

        <p>{{ tooth.idTooth }}</p>

        @if (toothDisabled[tooth.idTooth]) {
          <button
            class="icon-button"
            title="Diente extraido"
            (click)="deactivateTooth(tooth.idTooth)"
          >
            <svg
              width="12"
              height="12"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polygon
                points="6,1 11,11 1,11"
                fill="none"
                stroke="var(--text)"
                stroke-width="1"
              />
            </svg>
          </button>
        }
      </div>
    }
  </div>

  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 4); track tooth.idTooth) {
      <div class="figure-wrapper">
        <div class="button-container">
          @if (toothDisabled[tooth.idTooth]) {
            <button
              title="Diente no presente"
              class="removeButton"
              (click)="deleteTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              -
            </button>
          } @else {
            <button
              title="Diente presente"
              class="addButton"
              (click)="restoreTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              +
            </button>
          }
        </div>

        @if (toothDisabled[tooth.idTooth]) {
          <svg
            width="35"
            height="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svg-figure"
            [class.deactivated]="toothDeactivated[tooth.idTooth]"
          >
            <rect
              width="35"
              height="35"
              fill="none"
              stroke="var(--text)"
              stroke-width="2"
            />

            <!-- Cara 1 -->
            <polygon
              points="0,0 17.5,17.5 0,35"
              [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-1')"
            />

            <!-- Cara 2 -->
            <polygon
              points="35,0 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-2')"
            />

            <!-- Cara 3 -->
            <polygon
              points="0,35 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-3')"
            />

            <!-- Cara 4 -->
            <polygon
              points="0,0 17.5,17.5 35,0"
              [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-4')"
            />

            @if (showTriangle[tooth.idTooth]) {
              <polygon
                points="17.5,5 35,25 0,25"
                stroke="red"
                fill="transparent"
                stroke-width="2"
              />
            }
          </svg>
        }

        <p>{{ tooth.idTooth }}</p>

        @if (toothDisabled[tooth.idTooth]) {
          <button
            class="icon-button"
            title="Diente extraido"
            (click)="deactivateTooth(tooth.idTooth)"
          >
            <svg
              width="12"
              height="12"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polygon
                points="6,1 11,11 1,11"
                fill="none"
                stroke="var(--text)"
                stroke-width="1"
              />
            </svg>
          </button>
        }
      </div>
    }
  </div>

  <div class="quadrant">
    @for (tooth of getQuadrant(teeth, 3); track tooth.idTooth) {
      <div class="figure-wrapper">
        <div class="button-container">
          @if (toothDisabled[tooth.idTooth]) {
            <button
              title="Diente no presente"
              class="removeButton"
              (click)="deleteTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              -
            </button>
          } @else {
            <button
              title="Diente presente"
              class="addButton"
              (click)="restoreTooth(tooth.idTooth)"
              [disabled]="toothDeactivated[tooth.idTooth]"
            >
              +
            </button>
          }
        </div>

        @if (toothDisabled[tooth.idTooth]) {
          <svg
            width="35"
            height="35"
            xmlns="http://www.w3.org/2000/svg"
            class="svg-figure"
            [class.deactivated]="toothDeactivated[tooth.idTooth]"
          >
            <rect
              width="35"
              height="35"
              fill="none"
              stroke="var(--text)"
              stroke-width="2"
            />

            <!-- Cara 1 -->
            <polygon
              points="0,0 17.5,17.5 0,35"
              [attr.fill]="isSelected(tooth.idTooth + '-1') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-1')"
            />

            <!-- Cara 2 -->
            <polygon
              points="35,0 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-2') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-2')"
            />

            <!-- Cara 3 -->
            <polygon
              points="0,35 17.5,17.5 35,35"
              [attr.fill]="isSelected(tooth.idTooth + '-3') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-3')"
            />

            <!-- Cara 4 -->
            <polygon
              points="0,0 17.5,17.5 35,0"
              [attr.fill]="isSelected(tooth.idTooth + '-4') ? 'red' : 'transparent'"
              stroke="var(--text)"
              stroke-width="2"
              (click)="!toothDeactivated[tooth.idTooth] && changeColor(tooth.idTooth + '-4')"
            />

            @if (showTriangle[tooth.idTooth]) {
              <polygon
                points="17.5,5 35,25 0,25"
                stroke="red"
                fill="transparent"
                stroke-width="2"
              />
            }
          </svg>
        }

        <p>{{ tooth.idTooth }}</p>

        @if (toothDisabled[tooth.idTooth]) {
          <button
            class="icon-button"
            title="Diente extraido"
            (click)="deactivateTooth(tooth.idTooth)"
          >
            <svg
              width="12"
              height="12"
              xmlns="http://www.w3.org/2000/svg"
            >
              <polygon
                points="6,1 11,11 1,11"
                fill="none"
                stroke="var(--text)"
                stroke-width="1"
              />
            </svg>
          </button>
        }
      </div>
    }
  </div>
</div>

<button (click)="store()">Payload</button>

<div class="space-y-8">
  @for (record of registerProfilaxis; track record.idDentalProphylaxis) {
    <div class="p-4">
      
      <!-- Contenedor de cuadrantes -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Cuadrante 1 (11-18) -->
        <div class="p-2">
          <div class="flex gap-[5px] justify-end">
            @for (toothNumber of [18,17,16,15,14,13,12,11]; track toothNumber) {
              @if (findTooth(record.teethProphylaxis, toothNumber); as tooth) {
                <div class="flex flex-col items-center min-w-[40px]">
                  @if (!hasCondition(tooth, 'Diente no presente')) {
                    <svg width="32" height="32" class="mt-1">
                      <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                      
                      <!-- Cara 1 -->
                      <polygon
                        points="0,0 16,16 0,32"
                        [attr.fill]="isFaceMarked(tooth, '1') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 2 -->
                      <polygon
                        points="32,0 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '2') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 3 -->
                      <polygon
                        points="0,32 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '3') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 4 -->
                      <polygon
                        points="0,0 16,16 32,0"
                        [attr.fill]="isFaceMarked(tooth, '4') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      @if (hasCondition(tooth, 'Diente extraido')) {
                        <polygon
                          points="16,5 30,25 2,25"
                          fill="none"
                          stroke="#ef4444"
                          stroke-width="1.5"
                        />
                      }
                    </svg>
                    
                 
                  } @else {
                    <span class="text-[10px] mt-1">Ausente</span>
                  }
                  <span class="text-xs font-medium">{{toothNumber}}</span>
                </div>
              } @else {
                <!-- Diente sin datos (mostrar vacío) -->
                <div class="flex flex-col items-center min-w-[40px]">
                  <svg width="32" height="32" class="mt-1 opacity-30">
                    <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                  </svg>
                  <span class="text-xs font-medium text-gray-400">{{toothNumber}}</span>
                </div>
              }
            }
          </div>
        </div>

        <!-- Cuadrante 2 (21-28) -->
        <div class="p-2">
          <div class="flex gap-[5px] justify-start">
            @for (toothNumber of [21,22,23,24,25,26,27,28]; track toothNumber) {
              @if (findTooth(record.teethProphylaxis, toothNumber); as tooth) {
                <div class="flex flex-col items-center min-w-[40px]">
                  @if (!hasCondition(tooth, 'Diente no presente')) {
                    <svg width="32" height="32" class="mt-1">
                      <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                      
                      <!-- Cara 1 -->
                      <polygon
                        points="0,0 16,16 0,32"
                        [attr.fill]="isFaceMarked(tooth, '1') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 2 -->
                      <polygon
                        points="32,0 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '2') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 3 -->
                      <polygon
                        points="0,32 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '3') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 4 -->
                      <polygon
                        points="0,0 16,16 32,0"
                        [attr.fill]="isFaceMarked(tooth, '4') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                    </svg>
                  } @else {
                    <span class="text-[10px] mt-1">Ausente</span>
                  }
                  <span class="text-xs font-medium">{{toothNumber}}</span>
                </div>
                } @else {
                <!-- Diente sin datos -->
                <div class="flex flex-col items-center min-w-[40px]">
                  <svg width="32" height="32" class="mt-1 opacity-30">
                    <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                  </svg>
                  <span class="text-xs font-medium text-gray-400">{{toothNumber}}</span>
                </div>
              }
            }
          </div>
        </div>

        <!-- Cuadrante 3 (31-38) -->
        <div class="p-2">
          <div class="flex gap-[5px] justify-end">
            @for (toothNumber of [38,37,36,35,34,33,32,31]; track toothNumber) {
              @if (findTooth(record.teethProphylaxis, toothNumber); as tooth) {
                <div class="flex flex-col items-center min-w-[40px]">
                  @if (!hasCondition(tooth, 'Diente no presente')) {
                    <svg width="32" height="32" class="mt-1">
                      <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                      
                      <!-- Cara 1 -->
                      <polygon
                        points="0,0 16,16 0,32"
                        [attr.fill]="isFaceMarked(tooth, '1') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 2 -->
                      <polygon
                        points="32,0 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '2') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 3 -->
                      <polygon
                        points="0,32 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '3') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 4 -->
                      <polygon
                        points="0,0 16,16 32,0"
                        [attr.fill]="isFaceMarked(tooth, '4') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                    </svg>
                  } @else {
                    <span class="text-[10px] mt-1">Ausente</span>
                  }
                  <span class="text-xs font-medium">{{toothNumber}}</span>
                </div>
                } @else {
                <!-- Diente sin datos -->
                <div class="flex flex-col items-center min-w-[40px]">
                  <svg width="32" height="32" class="mt-1 opacity-30">
                    <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                  </svg>
                  <span class="text-xs font-medium text-gray-400">{{toothNumber}}</span>
                </div>
              }
            }
          </div>
        </div>

        <!-- Cuadrante 4 (41-48) -->
        <div class="p-2">
          <div class="flex gap-[5px] justify-start">
            @for (toothNumber of [41,42,43,44,45,46,47,48]; track toothNumber) {
              @if (findTooth(record.teethProphylaxis, toothNumber); as tooth) {
                <div class="flex flex-col items-center min-w-[40px]">
                  @if (!hasCondition(tooth, 'Diente no presente')) {
                    <svg width="32" height="32" class="mt-1">
                      <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                      
                      <!-- Cara 1 -->
                      <polygon
                        points="0,0 16,16 0,32"
                        [attr.fill]="isFaceMarked(tooth, '1') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 2 -->
                      <polygon
                        points="32,0 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '2') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 3 -->
                      <polygon
                        points="0,32 16,16 32,32"
                        [attr.fill]="isFaceMarked(tooth, '3') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                      
                      <!-- Cara 4 -->
                      <polygon
                        points="0,0 16,16 32,0"
                        [attr.fill]="isFaceMarked(tooth, '4') ? '#ef4444' : 'transparent'"
                        stroke="#333"
                        stroke-width="1.5"
                      />
                    </svg>
                  } @else {
                    <span class="text-[10px] mt-1">Ausente</span>
                  }
                  <span class="text-xs font-medium">{{toothNumber}}</span>
                </div>
              } @else {
                <!-- Diente sin datos -->
                <div class="flex flex-col items-center min-w-[40px]">
                  <svg width="32" height="32" class="mt-1 opacity-30">
                    <rect width="32" height="32" fill="none" stroke="#333" stroke-width="1.5"/>
                  </svg>
                  <span class="text-xs font-medium text-gray-400">{{toothNumber}}</span>
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>