.svg-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
}

.figure-wrapper {
  display: flex;
  flex-direction: column; /* Coloca los botones arriba y el SVG debajo */
  align-items: center; /* Centra los elementos horizontalmente */
  gap: 5px; /* Espacio entre los botones y el SVG */
}

.button-container {
  display: flex;
  justify-content: space-between; /* Separa los botones */
  width: 70px; /* Mismo ancho que el SVG */
}

.addButton,
.removeButton {
  width: 16px;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  border: none; /* Elimina el borde por defecto */
}

.addButton {
  background: green;
  color: white;
}

.removeButton {
  background: red;
  color: white;
}

.svg-figure {
  display: block; /* Asegura que los SVG se comporten como bloques */
}

i{font-size: 25px;}

/* Estilos para el diente deshabilitado */
.deactivated {
  opacity: 0.3; 
  filter: grayscale(100%) brightness(80%) blur(1px);
}

p{
  color: var(--text);
}