<main class="p-10 bg-white shadow-md rounded-lg">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold">{{title}}</h1>
    <button (click)="exportToExcel()"
      class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-2 rounded shadow-md flex items-center">
      <i class="fas fa-file-excel mr-2"></i> Exportar a Excel
    </button>
  </div>

  <!-- Campo de búsqueda -->
  <div class="flex items-center mb-4">
    <div class="relative w-full">
      <input id="search" [(ngModel)]="searchText" (input)="filterData()" placeholder="Buscar..."
        class="border border-gray-300 rounded-lg py-2 px-4 w-full shadow-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" />
      <i class="fas fa-search absolute top-1/2 transform -translate-y-1/2 right-3 text-gray-400"></i>
    </div>
  </div>

  <!-- Tabla -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100">
        <tr>
          <th scope="col" class="px-6 py-3" *ngFor="let column of columnas; trackBy: trackByIndex">
            {{ column }}
          </th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filteredData | paginate: { itemsPerPage: itemsPerPage, currentPage: page }"
          class="bg-white border-b hover:bg-gray-50">
          <td class="px-6 py-4" *ngFor="let nombre of columnas; trackBy: trackByIndex">
            {{ data[nombre] }}
          </td>
          <td class="py-4 text-left flex">
            <a class="text-blue-600 hover:text-blue-700 mr-4" (click)="onAction('Editar', data)">
              <i class="fas fa-folder"></i>
            </a>
            <a class="text-red-600 hover:text-red-700" (click)="onAction('Eliminar', data)">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Selector para elegir el número de elementos por página -->
  <div>
    <label for="pageSize">Datos por página:</label>
    <select id="pageSize" [(ngModel)]="itemsPerPage" (change)="onPageSizeChange()">
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>

  <!-- Paginación -->
  <div class="mt-4">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" class="text-center"
      (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</main>