<div class="odontogram-list-container mat-elevation-z2">
  @if (isLoading) {
    <div class="loading-container">
    </div>
  } @else if (odontograms.length === 0) {
    <div class="empty-state">
      <mat-icon class="empty-icon">assessment</mat-icon>
      <p>No hay odontogramas registrados</p>
    </div>
  } @else {
    <mat-accordion>
      @for (odontogram of odontograms; track odontogram) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="fas fa-tooth mr-2"></i>
              Odontograma #{{odontogram.idOdontogram}}
            </mat-panel-title>
            <mat-panel-description>
              {{odontogram.creationDate | date:'dd/MM/yyyy'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-students-odontogram
            [patientId]="patientUuid"
            [idTreatmentDetails]="odontogram.idTreatment"
            [state]="'read'"
           >
          </app-students-odontogram>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
</div>