.odontogram-list-container {
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  background-color: var(--on-primary);

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }
}

.full-width {
  width: 100%;
}

.mat-expansion-panel {
  margin-bottom: 16px;

  background-color: var(--on-primary);

  .mat-expansion-panel-header {
    height: 64px;
    .mat-panel-title {
      align-items: center;
      display: flex;
      
      .fa-tooth {
        color: var(--primary);
      }
    }

    .mat-panel-description {
      justify-content: space-between;
      align-items: center;
      
      .panel-indicator {
        transition: transform 0.3s ease;
      }
    }
  }

  &.mat-expanded {
    .panel-indicator {
      transform: rotate(180deg);
    }
  }
}