
<div class="relative overflow-x-auto shadow-md sm:rounded-lg gap-4 mt-4 mb-16 mr-4 ml-4">
    <table class="w-full text-sm text-left rtl:text-right text-black-500 dark:text-black">
        <thead class="text-xs text-black uppercase bg-gray-50 dark:bg-white-700 dark:text-black">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Respuesta
                </th>
                <th scope="col" class="px-6 py-3">
                    Si/No
                </th>
            
            </tr>
        </thead>
        <tbody>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Alcoholismo
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Alergias
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Anemias
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Artritis 
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Asma
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Cáncer
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Dependencia de Drogas y/o Narcóticos
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>
              
             
            </tr>
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Diabetes
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>
            
            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Enfermedades Venéreas
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Epilepsia
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Trastorno del Riñón o Hígado
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    SIDA
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Lesiones en cabeza o cuello
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Migraña
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Problemas Cardiacos
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Sinusitis
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Trastornos Metales
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Trastornos Respiratorios 
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Tuberculosis
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Ulceras del Estómago
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Fiebre Reumática
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>

            <tr class="bg-transparent border-b dark:bg-white-800 dark:border-black-700 hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap dark:text-black">
                    Otras
                </th>
                <td class="px-6 py-4">
                    <p><mat-checkbox></mat-checkbox></p>
                </td>             
            </tr>
        </tbody>
    </table>
    <br>
     
</div>
<div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
    <button (click)="nextPage()" mat-raised-button color="primary">  Continuar</button>
</div>
v