.assign-review-dialog {

  // Estilos para el mat-card
  &__title-container {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    width: 100%;
  }

  &__content {
    background-color: var(--on-primary);
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    width: 600px;

    h2 {
      margin-bottom: 16px;
    }
  }

  &__professor-list {
    overflow-y: auto;
    max-height: 50vh;
    border-radius: 4px;
    padding: 8px;

    @media (max-width: 639px) {
      padding: 0;
    }
  }

  &__list-item {
    cursor: pointer;

    &:hover {
      background-color: var(--on-hover);

      .assign-review-dialog__item-content,
      .assign-review-dialog__item-text {
        color: white !important;
      }
    }

    &.selected {
      background-color: var(--on-hover);
      font-weight: 500;

      .assign-review-dialog__item-content,
      .assign-review-dialog__item-text {
        color: white !important;
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item-text {
    text-align: left;
    margin-top: 0.25rem;

    @media (min-width: 640px) {
      &--right {
        text-align: right;
        margin-top: 0;
      }
    }
  }

}

.teeth-multiselect {
  .mat-mdc-select-panel {
    background: transparent;

    .mat-mdc-option {
      color: var(--on-background);
    }
  }

  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.custom-button{
  background-color: var(--tertiary);
  color: var(--white-color);
}
