<mat-card>
  <mat-card-title>
    <div class="title-container">
      <span><strong>Asignar Revisión de Historia Clínica</strong></span>
      <mat-icon (click)="closeDialog()">close</mat-icon>
    </div>
  </mat-card-title>
</mat-card>

<div class="dialog-content box-border">
  @if (professorAreasData) {
    <div class="professor-list" (scroll)="onScroll()">
      @for (item of professorAreasData.content; track $index) {
        <mat-list-item 
          (click)="selectProfessor(item.idProfessorClinicalArea)"
          [class.selected]="selectedProfessorId === item.idProfessorClinicalArea"
          class="custom-list-item">
          
          <div class="item-content flex flex-col sm:flex-row sm:justify-between sm:items-center">
            <p class="item-text text-left">{{ item.professorName }}</p>
            <p class="item-text text-left sm:text-right mt-1 sm:mt-0">
              ({{ item.clinicalArea.clinicalArea }})
            </p>
          </div>
        </mat-list-item>
      }
      @if (isLoading) {
        <app-loading/>
      }
    </div>
  }
</div>

<mat-dialog-actions align="center" class="buttons">
  <div>
    <button mat-button mat-dialog-close color="warn">Cancelar</button>
    <button 
      mat-button 
      color="primary" 
      (click)="sendToReview()"
      [disabled]="!selectedProfessorId">
      Enviar
    </button>
  </div>
</mat-dialog-actions>