@if (mappedHistoryData) {
    <div class="title-container">
        <span><strong>Historia clínica {{mappedHistoryData.title}}</strong></span>
        <span>
          @if (mappedHistoryData.tabs[currentIndex].requiresReview && mappedHistoryData.tabs[currentIndex].status !== STATUS.IN_REVIEW) {
              <button class="button-custom" (click)="openConfirmDialog()">
                  Enviar a revisión <i class="fas fa-file-upload"></i>
              </button>
          }
  
          @if (mappedHistoryData.tabs[currentIndex].status !== STATUS.NO_STATUS && 
              mappedHistoryData.tabs[currentIndex].status !== STATUS.NO_REQUIRED && 
              role !== ROL.CLINICAL_AREA_SUPERVISOR) {
              <span class="status" [innerHTML]="translateStatus(mappedHistoryData.tabs[currentIndex].status)"></span> &nbsp;
          }
  
          @if (mappedHistoryData.tabs[currentIndex].status == STATUS.NO_REQUIRED) {
              <span class="status" [innerHTML]="translateStatus(mappedHistoryData.tabs[currentIndex].status)"></span> &nbsp;
          }
          
          @if (mappedHistoryData.tabs[currentIndex].status == STATUS.REJECTED && userRole === ROL.STUDENT) {
              <button class="button-custom" (click)="openConfirmDialog()">
                  <i class="fas fa-file-upload"></i>
              </button>
          }
  
          @if(mappedHistoryData.tabs[currentIndex].status == STATUS.IN_REVIEW && role == ROL.CLINICAL_AREA_SUPERVISOR){
              <app-menu-assess-medical-history
                  [idClinicalHistoryPatient]="idPatientClinicalHistory"
                  [selectedIndex]="currentSectionId" 
                  [status]="currentStatus"
                  [idReviewStatus]="mappedHistoryData.tabs[currentIndex].idReviewStatus"
              ></app-menu-assess-medical-history>
          }
        </span> 
      </div>
  
}