<mat-card>
    <mat-card-title>
      <div class="title-container">
        <span><strong><i class="fas fa-notes-medical"></i> Subir archivo nota de evolución</strong></span>
        <mat-icon (click)="closeDialog()">close</mat-icon>
      </div>
    </mat-card-title>
</mat-card>    
    
<div class="content">
    <div class="custom">
        <input
          type="file"
          formControlName="fileStudent"
          accept=".pdf"
          (change)="onFileSelected($event)"
          required
        />
      </div>
      <div class="button-container">
        <div></div>
        <button mat-flat-button color="primary" (click)="sendFile()">Subir nota<i class="fas fa-file-upload ml-1"></i></button>
    </div>    
</div>
    
