<mat-card appearance="raised" class="custom-background mb-4">
  <app-card-patient-data [patientUuid]="patientUuid"></app-card-patient-data>
</mat-card>

<div class="flex justify-between w-full mb-4">
  <button mat-stroked-button class="!text-white" (click)="back()">
    <i class="fas fa-arrow-left mr-2"></i>Regresar
  </button>
</div>


@if (medicalRecordId) {
    @switch (medicalRecordId) {
        @case (1) {
            <!-- General -->
            <app-students-general-history [patientUuid]="patientUuid"></app-students-general-history>
        }
        @case (2) {
            <!-- Prótesis bucal -->
            <app-oral-prosthesis [patientUuid]="patientUuid"></app-oral-prosthesis>
        }
        @case (3) {
            <!-- Periodoncia -->
            <app-students-periodontics-history [patientUuid]="patientUuid"></app-students-periodontics-history>
        }
        @case (4) {
            <!-- Operatoría dental -->
            <app-students-dental-operation [patientUuid]="patientUuid"></app-students-dental-operation>
        }
        @case (5) {
            <!-- Cirugía bucal -->
            <app-students-oral-surgery-history [patientUuid]="patientUuid"></app-students-oral-surgery-history>
        }
        @case (6) {
            <!-- Odontología preventiva y salud pública -->
            <app-preventive-dentistry-public-health [patientUuid]="patientUuid"></app-preventive-dentistry-public-health>
        }
        @default {
            <p>No existe esta historia clínica.</p>
        }
    }
}
