.custom-background {
  background-color: var(--secondary);
}

.mat-tab-group{
  background-color: var(--secondary);
}

.mat-mdc-card-title {
  background-color: var(--tertiary);
  padding: 8px;
  border-radius: 2px;
  color: var(--side-text);
}

button{
    background-color: var(--tertiary);
}