
<mat-card>
  <mat-card-title><strong>Archivos</strong></mat-card-title>
</mat-card>

@if (filesData && filesData.length > 0) {
  <mat-card class="all-files">
    <div class="all-files">
      <mat-list>
        @for (item of filesData; track $index) {
          <mat-list-item class="file-item">
            <mat-icon matListItemIcon><i class="fas fa-file-alt"></i></mat-icon>
            <div (click)="onFileClick(item)" matListItemTitle>{{ item.fileName }}</div>
          </mat-list-item>
        }
      </mat-list>
    </div>
  </mat-card>
}@else {
  <mat-card class="no-files">
    <div class="no-files-content">
      <mat-icon class="empty-icon" color="primary"><i class="fas fa-folder"></i></mat-icon>
      <p><strong>No se han encontrado archivos.</strong></p>
      <p>Tu administrador aún no ha subido los archivos necesarios para esta sección.</p>
      <p>Si tienes alguna duda, por favor contacta a tu administrador.</p>
    </div>
  </mat-card>
}
