.mat-mdc-card-title {
    background-color: var(--tertiary);
    padding: 8px;
    border-radius: 2px;
    color: white;
}

.custom-card {
    background-color: var(--on-primary); 
}

.file-item:hover {
    cursor: pointer; 
}