.table-card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.odontogram-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  input {
    width: 100%;
    border: none;
    text-align: center;
    background-color: transparent;

    &:focus {
      outline: none;
      background-color: #f9f9f9;
    }
  }
}

/* history-initial-bag.component.scss */
div {
  width: 100%;
  height: 200px;
}

td {
  input[type="text"] {
    width: 15px;
    background-color: #e6e6e6;
    color: black;
    padding: 1px;
    outline: 1px solid rgb(212, 212, 212);
    margin-right: 4px; // Opcional: para agregar espacio entre los inputs
  }
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0; /* Elimina el espacio entre los checkboxes */
}

.small-checkbox {
  width: 25px; /* Ancho máximo de 10px */
  height: 25px; /* Altura máxima de 10px */
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}


