/* Estilos para el contenedor de la tarjeta (mat-card) */
.table-card {
  max-width: 100%;
  overflow: hidden;
  background-color: var(--on-primary);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor de la tabla con scroll horizontal */
.table-container {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
}

/* Estilos para la tabla */
.odontogram-table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

/* Estilos para las celdas de la tabla */
.odontogram-table th,
.odontogram-table td {
  border: 1px solid var(--input-icon-color);
  padding: 4px;
  text-align: center;
  white-space: nowrap;
}

/* Estilos para las cabeceras de la tabla */
.odontogram-table th {
  background-color: var(--on-primary);
  font-weight: bold;
}

/* Estilos para los inputs de texto */
.odontogram-table input[type="text"] {
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 12px;
  margin: 0;
  border: 1px solid var(--input-icon-color);
  background-color: var(--on-primary);
  color: var(--on-background);
  text-align: center;
  box-sizing: border-box;
}

/* Estilos para los inputs de texto cuando est치n enfocados */
.odontogram-table input[type="text"]:focus {
  outline: none;
  background-color: var(--on-primary);
}

/* Estilos para la secci칩n de checkboxes */
.example-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 !important;
  margin-right: -10px !important;
  margin-left: -10px !important;
}

/* Estilos para los checkboxes (Opci칩n 1: Usar transform: scale) */
.example-section mat-checkbox {
  transform: scale(0.7);
  margin-left: -10px !important;
  margin-right: -10px !important;
}

/* Estilos para el textarea de observaciones */
.custom-textarea {
  text-align: center;
  margin-top: 16px;
}

.custom-textarea mat-form-field {
  width: 96%;
}

.custom-textarea textarea {
  resize: vertical;
}

/* Estilos para los botones de navegaci칩n */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.button-container button {
  max-width: 200px;
  flex: 0 0 auto;
  margin: 0 5px;
  font-size: 14px;
  padding: 8px 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.button-container button i {
  font-size: 14px;
}

/* Estilos para los botones */
button {
  background-color: var(--tertiary);
  color: var(--side-text) !important;
}

.mat-mdc-card-title {
  background-color: var(--tertiary);
  padding: 8px;
  border-radius: 2px;
  color: var(--side-text);
  margin: 10px 10px 0px 10px !important;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}