.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    min-width: 50px; /* Asegura que todas las columnas tengan el mismo tamaño */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .row-label {
    font-weight: bold;
  }