::ng-deep .mat-mdc-card-title {
    background-color: var(--tertiary);
    padding: 8px;
    border-radius: 2px;
    color: var(--side-text);  
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 16px;
}