.full-width {
  width: 100%;
  margin-top: 16px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
::ng-deep .mat-mdc-card-title {
  background-color: var(--tertiary);
  padding: 1rem;
  color: var(--side-text);
  margin-bottom: 1rem !important;
  border-radius: 4px;
  font-size: 1.2rem;
  text-align: center; 
  display: flex;     
  justify-content: center; 
}

.mat-mdc-card {
  background-color: var(--on-primary);
}

.card-header {
  position: relative;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--input-icon-color);
  padding: 0;
  width: 45px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  outline: none !important;
  
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.professor-info {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--input-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.professor-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  i {
    color: var(--tertiary);
    font-size: 1.2rem;
  }
  
  span {
    color: var(--text);
    font-size: 1rem;
  }
}

.form-container {
  margin: 1rem 0;
}

.form-field-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.full-width {
  width: 100%;
  margin-top: 16px;
}

::ng-deep .mat-mdc-dialog-container {
  .mdc-dialog__surface {
    background-color: var(--secondary);
    padding: 0 !important;
    overflow: hidden !important;
  }
}
