// Importar los temas de Angular Material
@use '@angular/material' as mat;
@include mat.core();



// color de
$primary-color-light: mat.define-palette((
  50 : #e5eaf4,
    100 : #bec9e3,
    200 : #93a6d1,
    300 : #6882be,
    400 : #4767b0,
    500 : #274ca2,
    600 : #23459a,
    700 : #1d3c90,
    800 : #173386,
    900 : #0e2475,
    A100 : #a7b7ff,
    A200 : #748dff,
    A400 : #4163ff,
    A700 : #284eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
)); 

$primary-color-dark: mat.define-palette((
  50 : #e0e0e0,
  100 : #b0b0b0,
  200 : #8a8e93,
  300 : #606060,
  400 : #404040,
  500 : #151d26,
  600 : #121a21,
  700 : #0f151c,
  800 : #0c1218,
  900 : #0a0d14,
  A100 : #ffffff,
  A200 : #f0f0f0,
  A400 : #c0c0c0,
  A700 : #a0a0a0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));

$secondary-color-light: mat.define-palette((
  50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
));

$secondary-color-dark: mat.define-palette((
  50 : #f2f2f2,
  100 : #e0e0e0,
  200 : #f8f8f8,
  300 : #f1f1f1,
  400 : #ededed,
  500 : #f1f1f1,
  600 : #e0e0e0,
  700 : #d0d0d0,
  800 : #c0c0c0,
  900 : #b0b0b0,
  A100 : #ffffff,
  A200 : #f0f0f0,
  A400 : #c0c0c0,
  A700 : #a0a0a0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));

$tertiary-color-light: mat.define-palette((
  50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
));



// Crear tema claro
$theme-light: mat.define-light-theme((
  color: (
    primary: $primary-color-light,
    accent: $secondary-color-light,
    warn: $tertiary-color-light,
  )
));

$theme-dark: mat.define-dark-theme((
  color: (
    primary: $primary-color-dark,
    accent: $secondary-color-dark,
    warn: $tertiary-color-light,
  )
));

.light-theme-material {
  @include mat.all-component-themes($theme-light);
}

// Tema oscuro (se aplica cuando el cuerpo tiene la clase 'dark-theme')
.dark-theme-material {
  @include mat.all-component-themes($theme-dark);
}
