@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@fontsource/poppins/index.css';
@import 'typography';
@import 'base';
@import "@fontsource/poppins"; // Defaults to weight 400
@import "@fontsource/poppins/400.css"; // Specify weight
@import "@fontsource/poppins/400-italic.css"; // Specify weight and style
@import "primeicons/primeicons.css";
@import 'ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Variables de colores primarios
$primary-color: #1F2937; // Fondo de la barra lateral
$on-primary-color: #FFFFFF; // Texto en blanco sobre el color primario

@mixin light-theme {
  --primary: #0A0B2B; // Fondo de la barra lateral
  --on-primary: #f1f1f1; // Fondo del contenido principal
  --secondary: #FFFFFF;
  --on-secondary: #151d26;
  --on-secondary-rgb: 21, 29, 38;
  --tertiary: #274CA2; // Botones
  --background: #FFFFFF; // Fondo claro para la sección principal
  --on-background: #1F2937; // Texto oscuro sobre el fondo claro
  --on-tertiary: #5995fd;
  --on-hover: #2b6cb0;
  --background-color: #f0f0f0;
  
  // Colores login
  --input-icon-color: #acacac;
  --input-text-color: #333;
  --input-placeholder-color: #aaa;
  --btn-background-color: #5995fd;
  --btn-border-color: #fff;
  --toggle-password-icon-color: #818080;
  --input-color: #f5f5f5;

  //colores texto
  --text:#1F2937;
  --side-text:#eaeaea ;
  --status: #2ecc71;
  --status-red:#e74c3c;
  --box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  --hover-close: rgba(255, 255, 255, 0.1);
  --subtext:#274CA2;
  
  //spinner
  --spinner-color: #5995fd;

  //background
  --primary-icon: #0A0B2B;

  //sidebar
  --sidebar-text: #5995fd;

  //scrollbar
  --scrollbar-backgraund: rgba(255, 255, 255, 0.3);
  --scrollbar-color: rgba(255, 255, 255, 0.4);

  --menu-text: #0A0B2B;
  --menu-button: #5995fd;

    //form-user
  --border: #e2e8f0;



}

@mixin dark-theme {
  --primary: #151d26; // Fondo de la barra lateral
  --on-primary: #0C151C; // Fondo del contenido principal
  --secondary: #151d26;
  --on-secondary: #FFFFFF;
  --on-secondary-rgb: 255, 255, 255; 
  --tertiary: #274CA2; // Botones
  --background: #0C151C; // Fondo más oscuro para el tema oscuro
  --on-background: #E5E7EB; // Texto claro sobre fondo oscuro
  --on-tertiary: #5995fd;
  --on-hover: #0A0B2B;
  
  // Colores login
  --input-icon-color: #acacac;
  --input-text-color: #f5f5f5;
  --input-placeholder-color: #aaa;
  --btn-background-color: #5995fd;
  --btn-border-color: #fff;
  --toggle-password-icon-color: #818080;
  --input-color: #4a4a4a;

  //colores texto
  --text:#eaeaea;
  --side-text:#eaeaea  ;
  --status: #2ecc71;
  --status-red:#e74c3c;
  --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.164);
  --hover-close: rgba(255, 255, 255, 0.1);
  --subtext:#5995fd;

  //spinner
  --spinner-color: #274CA2;
  
 //background
  --primary-icon: #eaeaea;

//sidebar
  --sidebar-text: #eaeaea;

  //scrollbar
  --scrollbar-backgraund: rgba(255, 255, 255, 0.3);
  --scrollbar-color: rgba(255, 255, 255, 0.4);

  //menubutton
  --menu-text: #eaeaea;
  --menu-button: #0A0B2B;

  //form-user
  --border: #e2e8f0;




}

:root {
    // Botones para profilaxis 
  --green-color: #16a34a; 
  --red-color: #dc2626;   
  --white-color: #ffffff;

  // Colores para estados de tratamientos
  --status-in-review: #f59e0b; 
  --status-approved: #10b981;
  --status-rejected: #ef4444; 
  --status-in-progress: #3b82f6; 
  --status-finished: #6b7280; 

  @include light-theme;
  --primary-rgb: 59, 130, 246; // Color primario en RGB para transparencias
}

.dark-theme {
  @include dark-theme;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0.5rem;
    overflow: hidden;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    overflow: hidden !important;
}
