<mat-card class="full-width-card">
  <mat-card-title><strong>Tratamientos - Consulta y administración</strong></mat-card-title>
</mat-card>

@if (!treatments || treatments.content.length === 0) {
  <div class="flex justify-center p-6">
    <span>No hay tratamientos registrados</span>
  </div>
}
<div class="p-4">
  <mat-list>
    @for (treatment of treatments?.content; track $index) {
      <section class="w-full">
        <div class="flex flex-col sm:flex-row sm:items-center justify-between w-full mb-1 gap-2 sm:gap-0">
          <div class="flex-1 min-w-0 sm:pr-4">
            <ul>
              <li matListItemTitle><strong>Paciente:</strong> {{ treatment.patient.name }}</li>
              <li><strong>Tratamiento:</strong> {{ treatment.treatment.name }}</li>
              <li><strong>Fecha de inicio:</strong> {{ treatment.startDate | arrayToDate }}</li>
              <li><strong>Fecha  de finalización:</strong> {{ treatment.endDate | arrayToDate }}</li>
              @if (treatment.teeth && treatment.teeth !== null) {
                <li> <strong>Órgano dentario: </strong> {{ treatment.teeth[0].idTooth}}</li>
              }
              @if (treatment.professor && treatment.professor !== null) {
                <li><strong>Revisor: </strong> {{treatment.professor.name}}</li>
              }@else {
                <li><strong>Revisor: </strong> Aún no se ha asignado un revisor</li>
              }           
            </ul>
            <br>
          </div>

          <div class="flex-shrink-0 flex flex-wrap gap-2 sm:gap-2 sm:items-center ml-4">
            @switch (treatment.status) {
              @case (STATUS.IN_REVIEW) {
                <button mat-stroked-button class="whitespace-nowrap" disabled>
                  <span class="in-review flex items-center">
                    <i class="far fa-clock mr-1"></i>En revisión
                  </span>
                </button>
              }
              @case (STATUS.APPROVED) {
                <button mat-stroked-button class="whitespace-nowrap" disabled>
                  <span class="approved flex items-center">
                    <i class="fas fa-check-circle mr-1"></i>Aprobado
                  </span>
                </button>
              }
              @case (STATUS.REJECTED) {
                <button mat-stroked-button class="whitespace-nowrap" disabled>
                  <span class="rejected flex items-center">
                    <i class="fas fa-times-circle mr-1"></i>Rechazado
                  </span>
                </button>
              }
              @case (STATUS.IN_PROGRESS) {
                <button mat-stroked-button class="whitespace-nowrap" disabled>
                  <span class="in-progress flex items-center">
                    <i class="fas fa-solid fa-spinner mr-1"></i>En progreso
                  </span>
                </button>
              }
              @case (STATUS.FINISHED) {
                <button mat-stroked-button class="whitespace-nowrap" disabled>
                  <span class="finished flex items-center">
                    <i class="fas fa-user-check mr-1"></i>Finalizado
                  </span>
                </button>
              }
              @case (STATUS.CANCELLED) {
                <button mat-stroked-button class="whitespace-nowrap" disabled>
                  <span class="rejected flex items-center">
                    <i class="fas fa-times-circle mr-1"></i>Cancelado
                  </span>
                </button>
              }
              @case (STATUS.AWAITING_APPROVAL) {
                <button mat-stroked-button class="whitespace-nowrap" disabled>
                  <span class="in-progress flex items-center">
                    <i class="fas fa-solid fa-spinner mr-1"></i>En espera de aprobación
                  </span>
                </button> 
              }
            }

            @if (treatment.status !== STATUS.NOT_APPROVED) {
            <!-- Botón Ver tratamiento -->
            <!-- <button mat-stroked-button matTooltip="Ver tratamiento" class="whitespace-nowrap">
              <span class="flex items-center" (click)="navigateToTreatmentDetails(treatment)">
                <i class="fas fa-eye cursor-pointer mr-1"></i>
                Ver tratamiento
              </span>
            </button> -->
            }
          </div>
        </div>
        <mat-divider></mat-divider>
      </section>
    }
  </mat-list>
</div>
@if (!isLastPage) {
  <div class="text-center mt-3">
    <button mat-stroked-button
            (click)="loadMoreTreatments()"
            [disabled]="isLoading">
      @if (!isLoading) {
        <span> <i class="fas fa-chevron-down"></i> Cargar más tratamientos</span>

      }
    </button>
  </div>
}

<app-loading/>
