<mat-card class="full-width-card">
    <mat-card-title><strong>Tratamientos - Consulta y administración</strong></mat-card-title>
</mat-card>

<div class="p-4">
  <mat-list>
      @for (treatment of treatments?.content; track $index) {
          <section class="item-container">
              <div class="content-wrapper">
                <mat-list-item class="list-content">
                  <span matListItemTitle>{{treatment.patient.name}}</span>
                  {{treatment.treatment.name}}
                </mat-list-item>
                
                <!-- Estados del tratamiento -->
                @switch (treatment.status) {
                  @case (STATUS.IN_REVIEW) {
                    <span class="in-review-treatment">En revisión</span>
                  }
                  @case (STATUS.APPROVED) {
                    <span class="approved-treatment">Aprobado</span>
                  }
                  @case (STATUS.REJECTED) {
                    <span class="rejected-treatment">Rechazado</span>
                  }
                  @case (STATUS.IN_PROGRESS) {
                    <span class="in-progress-treatment">En progreso</span>
                  }
                  @case (STATUS.FINISHED) {
                    <span class="finished-treatment">Finalizado</span>
                  }
                }

                <span class="view-badge" (click)="navigateToTreatmentDetails(treatment)">
                  Ver tratamiento
                </span>
              </div>
              <mat-divider></mat-divider>
            </section>
      }
  </mat-list>
</div>

@if (!isLastPage) {
    <div class="text-center mt-3">
        <button 
          class="btn btn-primary"
          (click)="loadMoreTreatments()"
          [disabled]="isLoading">
          @if (!isLoading) {
            <span>Cargar más tratamientos</span>

          }
        </button>
    </div>
}

<app-loading/>