@if (fluorosis) {
  <mat-tab-group>
    <mat-tab label="Adulto">
      <div class="grid grid-cols-2">
        @for (quadrant of [1, 2, 4, 3]; track $index) {
          <div class="flex flex-wrap p-4 {{ $index % 2 === 0 ? 'justify-self-end' : 'justify-self-start' }}">
            @for (teeth of getQuadrant(fluorosis.adultArcade.teeth, quadrant); track teeth) {
              <div class="flex flex-col items-center">
                <svg width="29" height="34">
                  <polygon stroke="black" points="1,1 7,9 21,9 28,1" fill="#EAEDEA"/>
                  <polygon stroke="black" points="21,9 21,25 28,33 28,1" fill="#EAEDEA"/>
                  <polygon stroke="black" points="21,25 28,33 1,33 7,25" fill="#EAEDEA"/>
                  <polygon stroke="black" points="1,1 1,33 7,25 7,9" fill="#EAEDEA"/>
                  <polygon stroke="black" points="7,9 21,9 21,25 7,25" fill="#EAEDEA"/>
                </svg>
                <span>{{ teeth.idTooth }}</span>
              </div>
            }
          </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Infantil">
      <div class="grid grid-cols-2">
        @for (quadrant of [5, 6, 8, 7]; track $index) {
          <div class="flex flex-wrap p-4 {{ $index % 2 === 0 ? 'justify-self-end' : 'justify-self-start' }}">
            @for (teeth of getQuadrantForChildren(fluorosis.childrenArcade.teeth, quadrant); track teeth) {
              <div class="flex flex-col items-center">
                <svg width="29" height="34">
                  <polygon stroke="black" points="1,1 7,9 21,9 28,1" fill="#EAEDEA"/>
                  <polygon stroke="black" points="21,9 21,25 28,33 28,1" fill="#EAEDEA"/>
                  <polygon stroke="black" points="21,25 28,33 1,33 7,25" fill="#EAEDEA"/>
                  <polygon stroke="black" points="1,1 1,33 7,25 7,9" fill="#EAEDEA"/>
                  <polygon stroke="black" points="7,9 21,9 21,25 7,25" fill="#EAEDEA"/>
                </svg>
                <span>{{ teeth.idTooth }}</span>
              </div>
            }
          </div>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
}

