<mat-card appearance="raised" class="custom-background mb-4">
  <app-card-patient-data [patientUuid]="patientUuid"></app-card-patient-data>
</mat-card>

<div class="flex justify-between w-full mb-4">
  <button mat-stroked-button class="!text-white" (click)="back()">
    <i class="fas fa-arrow-left mr-2"></i>Regresar
  </button>
</div>


@if (medicalRecordId) {
    @switch (medicalRecordId) {
        @case (medicalRecordType.GENERAL) {
            <!-- General -->
            <app-students-general-history [patientUuid]="patientUuid"></app-students-general-history>
        }
        @case (medicalRecordType.ORAL_PROSTHESIS) {
            <!-- Prótesis bucal -->
            <app-oral-prosthesis [patientUuid]="patientUuid"></app-oral-prosthesis>
        }
        @case (medicalRecordType.PERIODONTICS) {
            <!-- Periodoncia -->
            <app-students-periodontics-history [patientUuid]="patientUuid"></app-students-periodontics-history>
        }
        @case (medicalRecordType.DENTAL_OPERATION) {
            <!-- Operatoría dental -->
            <app-students-dental-operation [patientUuid]="patientUuid"></app-students-dental-operation>
        }
        @case (medicalRecordType.ORAL_SURGERY) {
            <!-- Cirugía bucal -->
            <app-students-oral-surgery-history [patientUuid]="patientUuid"></app-students-oral-surgery-history>
        }
        @case (medicalRecordType.PREVENTIVE_DENTISTRY) {
            <!-- Odontología preventiva y salud pública -->
            <app-preventive-dentistry-public-health [patientUuid]="patientUuid"></app-preventive-dentistry-public-health>
        }
        @case (medicalRecordType.ENDODONTIC) {
            <app-endodontic-medical-record [patientUuid]="patientUuid"></app-endodontic-medical-record>
        }
        @case (medicalRecordType.PULPOTOMY) {
            <app-pulpotomy-medical-record [patientUuid]="patientUuid"></app-pulpotomy-medical-record>
        }
        @case (medicalRecordType.PULPECTOMY) {
            <app-pulpectomy-medical-record [patientUuid]="patientUuid"></app-pulpectomy-medical-record>
        }
        @case (medicalRecordType.DENTAL_OPERATION_PREVIO) {
            <app-dental-surgery-medical-record [patientUuid]="patientUuid"></app-dental-surgery-medical-record>
        }
        @default {
            <p>No existe esta historia clínica.</p>
        }
    }
}
