
<br>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 bg-white" >
    <mat-tab label="FICHA DE IDENTIFICACIÓN">
        <app-history-id></app-history-id>
    </mat-tab>
    <mat-tab label="SIGNOS VITALES">
        <app-history-vital-sings></app-history-vital-sings>
    </mat-tab>
    <mat-tab label="INTERROGATORIO">
        <app-history-interrogation></app-history-interrogation>
    </mat-tab>
    <mat-tab label="EXAMEN PARODONTAL">
        <app-history-perodontal-exam></app-history-perodontal-exam>
    </mat-tab>
    <mat-tab label="EXPLORACIÓN DE LA CAVIDAD BUCAL">
        <app-history-exploration-oral></app-history-exploration-oral>
    </mat-tab>
    <mat-tab label="PLAN DE TRATAMIENTO">
        <app-history-treatment-plan></app-history-treatment-plan>
    </mat-tab>
    <mat-tab label="EVALUACIÓN DE PERIODONCIA">
        <app-evaluacion-perodoncia></app-evaluacion-perodoncia>
    </mat-tab>
  </mat-tab-group>