<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  @if (loading) {
    <p>Cargando datos...</p>
  } @else {
    <!-- Bloque de pacientes totales -->
    <div class="bg rounded-lg shadow p-6 flex items-center justify-between">
      <div>
        <h3 class="text-lg tt font-semibold text-gray-700">Pacientes</h3>
        <p class="text-3xl font-bold text-blue-600">
          {{ stats.data.patients || 0 }}
        </p>
      </div>
      <i class="fas fa-users fa-3x icon"></i>
    </div>

    <!-- Bloque de pacientes por nacionalidad -->
    <div class="bg rounded-lg shadow p-6 flex items-center justify-between">
      <div>
        <h3 class="text-lg tt font-semibold text-gray-700">
          Pacientes por nacionalidad
        </h3>
        <ul class="custom-list">
          @for (nationality of getNationalities(); track $index) {
            <li>
              {{ nationalityIcons[nationality] || '🌍' }} {{ nationality }}: {{ stats.data.patientsByNationality[nationality] }}
            </li>
          }
        </ul>
      </div>
      <i class="fas fa-globe fa-3x icon"></i>
    </div>

    <!-- Bloque de pacientes registrados el mes pasado -->
    <div class="bg rounded-lg shadow p-6 flex items-center justify-between">
      <div>
        <h3 class="text-lg tt font-semibold text-gray-700">
          Pacientes registrados el mes pasado
        </h3>
        <p class="text-3xl font-bold text-blue-600">
          {{ stats.data.patientsRegisteredLastMonth || 0 }}
        </p>
      </div>
      <i class="fas fa-calendar fa-3x icon"></i>
    </div>
  }
</div>