<div class="mx-4">
    <form>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4 mb-16"
      >
        <!-- Nombre -->
        <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Nombre del Paciente</label
          >
          <input
            type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
         <!-- Dirección -->
         <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Dirección</label
            >
            <input
              type="text"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
        <!-- Edad -->
        <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Edad</label
          >
          <input
            type="number"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>
        <!-- Sexo -->
        <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Sexo</label
          >
          <select
            id="countries"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option>--</option>
            <option>Hombre</option>
            <option>Mujer</option>
          </select>
        </div>     
         <!-- Estado civil -->
         <div class="relative flex-grow w-full">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
              >Estado Civil</label
            >
            <select
              id="countries"
              class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option>--</option>
              <option>Soltero</option>
              <option>Casado</option>
              <option>Divorciado</option>
            </select>
          </div>  
        <!-- Profesión -->
        <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Profesión</label
          >
          <input
            type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>         
         <!-- Nombre del responsable en menores de edad: -->
         <div class="relative flex-grow w-full">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
            >Nombre del responsable del menor</label
          >
          <input
            type="text"
            class="bg-gray-50 border h-11 border-gray-300 text-black-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </div>     
      </div>
      <div class="absolute bottom-0 right-0 m-4 flex flex-row-reverse space-x-4">
        <button mat-raised-button color="primary">Siguiente</button>
      </div>
    </form>
  </div>
  