<div class="mx-8 pb-8 custom">
  <form [formGroup]="formGroup">
    @if (fieldsTab.seccion) {
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6">
        @for (field of fieldsTab.seccion; track $index) {
          <app-field-component
            [field]="field"
            [formGroup]="formGroup"
            [errors]="field.errorMessages">
          </app-field-component>
        }  
      </div>
    } 
    @if (fieldsTab.childFormSection) {
      <span>{{fieldsTab.childFormSection.title}}</span>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-6">
          @for (childField of fieldsTab.childFormSection.seccion; track $index) {
            <app-field-component
              [field]="childField"
              [formGroup]="formGroup"
              [errors]="childField.errorMessages">
            </app-field-component>
          }         
        </div> 
    }  
    <div class="button-container">
      <button (click)="previousTab()" type="button" mat-button matStepperNext><i class="fas fa-long-arrow-alt-left"></i> ANTERIOR </button>
      <button type="button" (click)="onSubmit()" mat-button> SIGUIENTE <i class="fas fa-long-arrow-alt-right"></i></button>
    </div>
  </form>
</div>

  

