<div class="mx-8 pb-8 custom">
  <form [formGroup]="formGroup">
    @if (fieldsTab.seccion) {
      <div class="grid grid-cols-12 gap-4 mt-4"> <!-- Contenedor de la cuadrícula -->
        @for (field of fieldsTab.seccion; track field) { <!-- Usando @for con track -->
          <div class="{{ field.grids }}"> <!-- Aplica la clase de grid a cada campo -->
            <app-field-component
              [field]="field"
              [formGroup]="formGroup"
              [errors]="field.errorMessages"
              [disabledMultivalued]="disabledControl"
              (setFieldValue)="handleFieldValue($event)"
              (setFileValue)="handleFileValue($event)"
              >
            </app-field-component>
          </div>
        }
      </div>
    } 
    @for (subSection of fieldsTab.childFormSection; track subSection) {
      <div class="mt-2">
        <span><strong></strong></span>
        <mat-card-title><strong>{{ subSection.formName }}</strong></mat-card-title> 
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mt-4">
          @for (childField of subSection.questions; track childField) {
            <app-field-component
              [field]="childField"
              [formGroup]="formGroup"
              [errors]="childField.errorMessages"
              [disabledMultivalued]="disabledControl"
              (setFieldValue)="handleFieldValue($event)">
            </app-field-component>
          }
        </div>
      </div>
    }
    <div class="button-container">
      <button (click)="previousTab()" type="button" mat-button matStepperNext><i class="fas fa-long-arrow-alt-left"></i> ANTERIOR </button>
      <div>
        @if (!disabledControl) {
          <button type="button" (click)="handleSubmission()" mat-button> GUARDAR <i class="fas fa-save"></i></button>
        }
        <button type="button" (click)="nextTab()" mat-button> AVANZAR <i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
    </div>
  </form>
</div>
