<mat-list>
  <div mat-subheader class="custom"><strong>HISTORIA CLINICA</strong></div>
  <mat-divider></mat-divider>
  
  @if (this.role == ROL.STUDENT) {
    @for (history of patientConfigHistories; track history) {
      <mat-list-item (click)="selectMedicalRecordStudent(history)">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ history.clinicalHistoryName }}</div>
      </mat-list-item>
    }
  }
  @if (this.role == ROL.ADMIN) {
    @for (history of patientConfigHistories; track history) {
      <mat-list-item (click)="selectMedicalRecordAdmin(history)">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ history.clinicalHistoryName }}</div>
      </mat-list-item>
    }
  }
  @if (this.role == ROL.PROFESSOR) {
    @for (history of patientConfigHistories; track history) {
      <mat-list-item (click)="selectMedicalRecordProfessor(history)">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ history.clinicalHistoryName }}</div>
      </mat-list-item>
    }
  } 
  @if (this.role == ROL.PROFESSOR_CLINICAL_AREA) {
    @for (history of patientConfigHistories; track history) {
      <mat-list-item (click)="selectMedicalRecordReview(history)">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ history.clinicalHistoryName }}</div>
      </mat-list-item>
    }
  } 
</mat-list>
