.custom {
    color: var(--on-secondary);
}

.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
}

.list-item {
    &:hover {
        background-color: var(--secondary); // Color de fondo al pasar el mouse
        cursor: pointer; // Cambia el cursor a puntero
    }
}